<div id="floatBtnZone" style="display: none;">
  <a href="#" id="btn_link" target="_blank">
    <!-- <span class="link_img"><img src="/public/test/images/common/ico_tumo_face.svg" alt="" /></span> -->
    <span class="link_txt" id="floatBtnText">

  </span>
  </a>
</div>

<!-- // btn :: go link -->

<a href="#" role="button" id="btn_top">
  <span class="blind">최상단으로 이동</span>
</a>
<!-- // btn :: go to top -->

<footer id="footer">
  <div class="inner">
    <p class="f_logo">
      <img src="/public/test/images/common/logo_gr.svg" alt="" />
    </p>
    <p class="f_info">
      ㈜이마트 ｜ 사업자등록번호: 206-86-50913 ｜ 대표자: 한채양<br class="mo_block" />
      <span class="mo_none">｜</span> 주소: 서울특별시 중구 세종대로7길 37(순화동)
    </p>
  </div>
</footer>
<!-- //footer -->
