<div class="layer_menu">
    <div class="layer_header">
        <div class="inner">
            <h1 class="layer_title">더보기</h1>
            <button class="btn_close">
                <span class="blind">메뉴 닫기</span>
            </button>
        </div>
    </div>
    <div class="layer_cont">
        <div class="inner">
            <div class="user_wrap">
                <h2 class="user">
                    <span>나무심는알리고86</span>님,
                </h2>
                오늘도 알지?해요! <img src="/public/front/images/common/ico_fire.svg" alt="">
            </div>
            <div class="btn_wrap">
                <!--<a class="btn_login" href="/login">로그인</a>-->
                <button class="btn_logout">로그아웃</button>
            </div>
            <div class="menu_wrap" data-layout="img">
                <ul>
                    <li>
                        <a href="/mypage">
                            <figure class="img_01"></figure>
                            <h6 class="title">마이페이지</h6>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <figure class="img_02"></figure>
                            <h6 class="title">걷기 챌린지</h6>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <figure class="img_03"></figure>
                            <h6 class="title">알리오 올리오</h6>
                        </a>
                    </li>
                    <!-- 새 공지사항 addClass : new -->
                    <li class="new">
                        <a href="/notice">
                            <figure class="img_04"></figure>
                            <h6 class="title">공지사항</h6>
                        </a>
                    </li>
                    <!-- 새 이벤트 addClass : new -->
                    <li  class="new">
                        <a href="">
                            <figure class="img_05"></figure>
                            <h6 class="title">이벤트</h6>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <p class="tag">
                                <span class="blind"></span>
                            </p>
                            <figure class="img_06"></figure>
                            <h6 class="title">rz 교환소</h6>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="menu_wrap" data-layout="ico">
                <ul>
                    <li>
                        <a href="">
                            <figure class="ico_01"></figure>
                            <h6 class="title">명예의 전당</h6>
                        </a>
                    </li>
                    <li>
                        <a href="/inquiry">
                            <figure class="ico_02"></figure>
                            <h6 class="title">1:1 문의 / 제휴&middot;제안</h6>
                            <p class="tag">
                                <spna class="blind">NEW</spna>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="/inquiry/list">
                            <figure class="ico_03"></figure>
                            <h6 class="title">1:1 문의내역</h6>
                            <p class="tag">
                                <spna class="blind">NEW</spna>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="/faq">
                            <figure class="ico_04"></figure>
                            <h6 class="title">자주 묻는 질문</h6>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="menu_wrap" data-layout="txt">
                <ul>
                    <li>
                        <a href="">
                            <h6 class="title">서비스 이용약관</h6>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <h6 class="title">개인정보처리방침</h6>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <h6 class="title">위치기반 서비스 이용약관</h6>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--로그아웃 팝업-->
<div class="layer_logout_popup">
    <div class="popup_inner">
        <button type="button" class="layer_popup_close" data-layout="icon">
            <span class="blind">닫기</span>
        </button>
        <div class="cont_wrap">
            <h3 class="title">
                로그아웃 하시겠습니까?
            </h3>
        </div>
        <ul class="btn_wrap">
            <li><a class="btn_type_02" href="" data-color="red" data-ico="none">로그아웃 하기</a></li>
            <li><button class="btn_type_02 layer_popup_close" data-color="grey" data-ico="none">닫기</button>
            </li>
        </ul>
    </div>
</div>

<header id="header">
    <div class="inner">
        <h1 class="logo">
            <a href="/newMain">
                <span class="blind">알지?</span>
            </a>
        </h1>
        <ul class="flex_wrap">
            <li class="point">
                <a href="">
                    <div class="flex_wrap">
                        <figure><figcaption class="blind">rz포인트</figcaption></figure>
                        <span>99,000</span>
                    </div>
                </a>
            </li>
            <!-- 알림 있을 경우 addClass : on -->
            <li class="notice on">
                <a href="/notification">
                    <span class="blind">알림</span>
                </a>
            </li>
            <li class="maypage">
                <a href="/mypage">
                    <span class="blind">마이페이지</span>
                </a>
            </li>
            <li class="menu">
                <button>
                    <span class="blind">메뉴 열기</span>
                </button>
            </li>
        </ul>
    </div>
</header><!-- //header -->

<script>
    $(function (){
        //-----layer menu-----
        const btnOpenLayerMenu = $('#header .menu button');
        const btnCloseLayerMenu = $('.layer_menu .btn_close');
        const layerMenu = $('.layer_menu');
        let layerFocusList = layerMenu.find('button, input:not([type="hidden"]), select, iframe, textarea, [href], [tabindex]:not([tabindex="-1"])');
        let layerFirstFocus = layerFocusList.eq(0);
        let layerLastFocus = layerFocusList.eq(layerFocusList.length - 1);
        //레이어 메뉴 open
        btnOpenLayerMenu.on('click',function (){
            $('html').addClass('ofy_hidden');
            $('#header, #container, #footer, #fnb').attr('aria-hidden',true);
            layerMenu.stop().fadeIn(100).addClass('active');
            layerFirstFocus.focus();
        });
        //레이어 메뉴 close
        btnCloseLayerMenu.on('click',function (){
            $('html').removeClass('ofy_hidden');
            $('#header, #container, #footer, #fnb').removeAttr('aria-hidden');
            layerMenu.removeClass('active').hide();
        });
        //레이어 메뉴 tab
        layerFirstFocus.on({
            'keydown': function (e) {
                if (e.shiftKey && e.keyCode === 9) {
                    e.preventDefault();
                    $(layerLastFocus).focus();
                }
            }
        });
        layerLastFocus.on({
            'keydown': function (e) {
                if (!e.shiftKey && e.keyCode === 9) {
                    e.preventDefault();
                    $(layerFirstFocus).focus();
                }
            }
        });

        //-----layer menu logout popup-----
        const btnLayerLogoutPopup = $('.layer_menu .btn_logout');
        const layerLogoutPopup = $('.layer_logout_popup');
        let btnLayerLogoutPopupClose = $('.layer_logout_popup .layer_popup_close');
        let layerPopupFocusList = layerLogoutPopup.find('button, input:not([type="hidden"]), select, iframe, textarea, [href], [tabindex]:not([tabindex="-1"])');
        let layerPopupFirstFocus = layerPopupFocusList.eq(0);
        let layerPopupLastFocus = layerPopupFocusList.eq(layerPopupFocusList.length - 1);
        //로그아웃 버튼
        btnLayerLogoutPopup.on('click', function (){
            layerMenu.attr('aria-hidden',true);
            layerLogoutPopup.addClass('active')
            layerPopupFirstFocus.focus();
            // Esc키 : 레이어 닫기
            window.onkeyup = function (e) {
                let key = e.keyCode ? e.keyCode : e.which;
                if (key === 27) {
                    layerMenu.removeAttr('aria-hidden');
                    layerLogoutPopup.removeClass('active')
                    btnLayerLogoutPopup.focus();
                }
            }
        });
        //로그아웃 팝업 닫기 버튼
        btnLayerLogoutPopupClose.on('click', function (){
            layerMenu.removeAttr('aria-hidden');
            layerLogoutPopup.removeClass('active')
            btnLayerLogoutPopup.focus();
        });
        //레이어 로그아웃 팝업 tab
        layerPopupFirstFocus.on({
            'keydown': function (e) {
                if (e.shiftKey && e.keyCode === 9) {
                    e.preventDefault();
                    $(layerPopupLastFocus).focus();
                }
            }
        });
        layerPopupLastFocus.on({
            'keydown': function (e) {
                if (!e.shiftKey && e.keyCode === 9) {
                    e.preventDefault();
                    $(layerPopupFirstFocus).focus();
                }
            }
        });

        //-----header scroll active-----
        function headerScroll (){
            let scrt = $(window).scrollTop();
            if (scrt > 30) {
                $('#header').addClass('active');
            } else {
                $('#header').removeClass('active');
            }
        }
        headerScroll ();
        $(window).on('scroll', function (){
            headerScroll ();
        });
    });
</script>
