<header id="header">
    <div class="inner">
        <h1 class="logo">
            <a href="">
                <span class="blind">알지?</span>
            </a>
        </h1>
        <ul class="flex_wrap">
            <li class="point">
                <a href="">
                    <div class="flex_wrap">
                        <figure><figcaption class="blind">rz포인트</figcaption></figure>
                        <span>99,000</span>
                    </div>
                </a>
            </li>
            <!-- 알림 있을 경우 addClass : on -->
            <li class="notice on">
                <a href="">
                    <span class="blind">알림</span>
                </a>
            </li>
            <li class="maypage">
                <a href="">
                    <span class="blind">마이페이지</span>
                </a>
            </li>
            <li class="menu">
                <a href="">
                    <span class="blind">메뉴 열기</span>
                </a>
            </li>
        </ul>
    </div>
</header><!-- //header -->