<header id="header">
  <div class="inner">
    <h1 class="logo">
      <a href="/">
        <span class="blind">메인 화면으로</span>
      </a>
    </h1>
    <!-- // logo -->
    <div class="gnb_wrapper">
      <nav class="gnb">
        <ul class="clearfix">
          <!-- <li class="gnb_menu" id="gpjw_main"><a href="/">가플지우란?</a></li> -->
          <li class="gnb_menu" id="gpjw_program"><a href="/program">플라스틱 수거️</a></li>
          <li class="gnb_menu" id="gpjw_sea"><a href="/sea">해안정화 활동</a></li>
          <li class="gnb_menu" id="gpjw_academy"><a href="/academy">해양환경 교육</a></li>
          <li class="gnb_menu" id="gpjw_board"><a href="/board">가플지우 소식</a></li>
        </ul>
      </nav>
      <!-- // pc menu :: gnb-->

      <!-- 메인에만 노출될 한/영 변환 버튼 -->
      <div class="select_lang">
        <ul class="clearfix">
          <li class="active"><a href="/main/Kr" data-lang="kr" class="btn_lang_kor">KR</a></li>
          <li><a href="/main/En" data-lang="en" class="btn_lang_eng">EN</a></li>
        </ul>
      </div>
      <!-- //메인에만 노출될 한/영 변환 버튼 -->

      <div class="btn_wrap">
        <a class="btn_home" href="/"><span class="blind">홈으로 이동</span></a>
        <button class="btn_menu"><span class="blind">모바일 메뉴 버튼</span></button>
        <!-- <button class="btn_close_menu"><span class="blind">모바일 메뉴 닫기</span></button> -->
      </div>
    </div>
    <!-- // gnb_wrapper -->
  </div>
  <!-- //inner -->

  <!-- mo menu -->
  <div class="nav_mo">
    <nav class="gnb_mo">
      <ul class="clearfix">
        <!-- <li class="menu_mo_01" id="gpjw_main_mo"><a href="/">가플지우란?</a></li> -->
        <li class="menu_mo_02" id="gpjw_program_mo"><a href="/program">플라스틱 수거</a></li>
        <li class="menu_mo_03" id="gpjw_sea_mo"><a href="/sea">해안정화 활동</a></li>
        <li class="menu_mo_04" id="gpjw_academy_mo"><a href="/academy">해양환경 교육</a></li>
        <li class="menu_mo_05" id="gpjw_board_mo"><a href="/board">가플지우 소식</a></li>
      </ul>
      <!-- <div class="partners">
        <ul>
          <li><img src="/public/test/images/common/logo_p_01.svg" alt="" /></li>
          <li><img src="/public/test/images/common/logo_p_02.svg" alt="" /></li>
          <li><img src="/public/test/images/common/logo_p_03.svg" alt="" /></li>
          <li><img src="/public/test/images/common/logo_p_04.svg" alt="" /></li>
          <li><img src="/public/test/images/common/logo_p_05.svg" alt="" /></li>
          <li><img src="/public/test/images/common/logo_p_06.svg" alt="" /></li>
          <li><img src="/public/test/images/common/logo_p_07.svg" alt="" /></li>
          <li><img src="/public/test/images/common/logo_p_08.svg" alt="" /></li>
          <li><img src="/public/test/images/common/logo_p_09.svg" alt="" /></li>
          <li><img src="/public/test/images/common/logo_p_10.svg" alt="" /></li>
          <li><img src="/public/test/images/common/logo_p_11.svg" alt="" /></li>
          <li><img src="/public/test/images/common/logo_p_12.svg" alt="" /></li>
          <li><img src="/public/test/images/common/logo_p_13.svg" alt="" /></li>
          <li><img src="/public/test/images/common/logo_p_14.svg" alt="" /></li>
          <li><img src="/public/test/images/common/logo_p_15.svg" alt="" /></li>
          <li><img src="/public/test/images/common/logo_p_16.svg" alt="" /></li>
          <li><img src="/public/test/images/common/logo_p_17.svg" alt="" /></li>
          <li><img src="/public/test/images/common/logo_p_18.svg" alt="" /></li>
        </ul>
      </div> -->
    </nav>
  </div>
  <!-- //mo menu -->
</header>
<!-- //header -->
