<div class="layer_menu">
    <div class="layer_header">
        <div class="inner">
            <h1 class="layer_title">더보기</h1>
            <button class="btn_close">
                <span class="blind">메뉴 닫기</span>
            </button>
        </div>
    </div>
    <div class="layer_cont">
        <div class="inner">
            <div class="user_wrap">
                <h2 class="user">
                    <span>나무심는알리고86</span>님,
                </h2>
                오늘도 알지?해요!
            </div>
            <div class="btn_wrap">
                <a class="btn_login" href="">로그인</a>
                <!--<a class="btn_logout" href="">로그아웃</a>-->
            </div>
            <div class="menu_wrap" data-layout="img">
                <ul>
                    <li>
                        <a href="">
                            <figure class="img_01"></figure>
                            <h6 class="title">마이페이지</h6>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <figure class="img_02"></figure>
                            <h6 class="title">걷기 챌린지</h6>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <figure class="img_03"></figure>
                            <h6 class="title">알리오 올리오</h6>
                        </a>
                    </li>
                    <!-- 새 공지사항 addClass : new -->
                    <li class="new">
                        <a href="">
                            <figure class="img_04"></figure>
                            <h6 class="title">공지사항</h6>
                        </a>
                    </li>
                    <!-- 새 이벤트 addClass : new -->
                    <li  class="new">
                        <a href="">
                            <figure class="img_05"></figure>
                            <h6 class="title">이벤트</h6>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <figure class="img_06"></figure>
                            <h6 class="title">rz 교환소</h6>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="menu_wrap" data-layout="ico">
                <ul>
                    <li>
                        <a href="">
                            <figure class="ico_01"></figure>
                            <h6 class="title">명예의 전당</h6>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <figure class="ico_02"></figure>
                            <h6 class="title">1:1 문의 / 제휴&middot;제안</h6>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <figure class="ico_03"></figure>
                            <h6 class="title">1:1 문의내역</h6>
                            <p class="tag">
                                <spna class="blind">NEW</spna>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <figure class="ico_04"></figure>
                            <h6 class="title">자주 묻는 질문</h6>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="menu_wrap" data-layout="txt">
                <ul>
                    <li>
                        <a href="">
                            <h6 class="title">서비스 이용약관</h6>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <h6 class="title">개인정보처리방침</h6>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <h6 class="title">위치기반 서비스 이용약관</h6>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<header id="header">
    <div class="inner">
        <h1 class="logo">
            <a href="">
                <span class="blind">알지?</span>
            </a>
        </h1>
        <ul class="flex_wrap">
            <li class="point">
                <a href="">
                    <div class="flex_wrap">
                        <figure><figcaption class="blind">rz포인트</figcaption></figure>
                        <span>99,000</span>
                    </div>
                </a>
            </li>
            <!-- 알림 있을 경우 addClass : on -->
            <li class="notice on">
                <a href="">
                    <span class="blind">알림</span>
                </a>
            </li>
            <li class="maypage">
                <a href="">
                    <span class="blind">마이페이지</span>
                </a>
            </li>
            <li class="menu">
                <a href="">
                    <span class="blind">메뉴 열기</span>
                </a>
            </li>
        </ul>
    </div>
</header><!-- //header -->
