<html lang="ko">
<head>
    <% include ../inc/head_script.ejs %>
    <link rel="stylesheet" href="/public/front/css/layout.css" />
    <link rel="stylesheet" href="/public/front/css/mission.css" />
</head>

<body>
<div id="wrapper">
    <div class="skip">
        <a href="#container">본문 바로가기</a>
    </div>
    <% include ../inc/headerPrev.ejs %>

    <div id="container">
        <section class="mission_sec_01" data-layout="detail">
            <figure class="banner" style="background-image: url(/public/front/images/main/main_vis_01.png)"></figure>
        </section>
        <section class="mission_sec_02" data-layout="detail">
            <div class="cont_box">
                <div class="inner">
                    <div class="title_wrap">
                        <div class="label_wrap">
                            <p class="cate_label"><i class="ico" data-tag="people"></i>사람</p>
                            <p class="cate_label"><i class="ico" data-tag="prosperity"></i>번영</p>
                            <p class="cate_label"><i class="ico" data-tag="peace"></i>평화</p>
                            <p class="cate_label"><i class="ico" data-tag="partner"></i>파트너십</p>
                            <p class="cate_label"><i class="ico" data-tag="etc"></i>기타</p>
                            <p class="cate_label"><i class="ico" data-tag="earth"></i>지구환경</p>
                        </div>
                        <h2 class="title">
                            [어마알] vol.99 - 알지? 전문가에게 직접 듣는 알지? 사용 설명서 어마알] vol.99 - 알지? 전문가에게 직접 듣는 알지? 사용 설명서
                        </h2>
                        <p class="date">2024년 00월 00일</p>
                    </div>
                    <div class="cont_wrap">
                        글자에유
                        <img src="/public/front/images/main/main_sec_02_img_01.png" alt="">
                        <div class="cont_btn_wrap">
                            <a class="btn_type_01" data-color="darkblue" href="">바로가기</a>
                        </div>
                    </div>
                    <ul class="tag_wrap">
                        <li><a href="/message/search">카테고리카</a></li>
                        <li><a href="/message/search">카테</a></li>
                        <li><a href="/message/search">카테고</a></li>
                        <li><a href="/message/search">카테</a></li>
                        <li><a href="/message/search">카테고리</a></li>
                    </ul>
                    <ul class="lik_save_btn_wrap">
                        <li>
                            <button class="btn_like on" title="선택됨">
                                <i></i>
                                <span>9,999</span>명이 이 메시지를 좋아해요!
                            </button>
                        </li>
                        <li>
                            <!--button 활성화시 addClass:on / title:선택됨-->
                            <button class="btn_bookmark">
                                <i></i>
                                <span>북마크</span> 목록에 저장하기
                            </button>
                        </li>
                    </ul>
                    <div class="parti_btn_wrap">
                        <!--button 비활성화시 addClass:off / title:선택됨-->
                        <button class="btn_parti off">
                            <i></i>메시지 참여하기!
                            <span>50rz 적립 + 10원 기부하기</span>
                        </button>
                    </div>
                    <div class="idea_wrap">
                        <h6><i></i>알리고에게 말해줘!</h6>
                        <p>
                            알지?에서 메시지로 보고 싶은 찰떡 아이디어가 생각나셨나요? 알리고에게 살짝 말해 주세요!
                        </p>
                        <a href="/inquiry">메시지 제안 바로가기</a>
                    </div>
                </div><!--//inner-->
            </div><!--//cont_box-->
            <div id="cmtSec" class="cmt_box">
                <div class="link_wrap">
                    <div class="inner">
                        <h5>댓글 <span>4,567</span>개</h5>
                        <a href="/comment"><span class="blind">댓글 페이지</span></a>
                    </div>
                </div>
                <ul>
                    <!--관리자 댓글 li addClass : admin_wrap-->
                    <li class="admin_wrap">
                        <div class="cmt_header">
                            <div class="inner">
                                <div class="user_wrap">
                                    <figure class="img" style="background-image: url(/public/front/images/etc/level_admin.svg)"></figure>
                                    <div>
                                        <h2 class="name">관리자알리고</h2>
                                        <p class="date">24.03.21.</p>
                                    </div>
                                </div>
                            </div>
                        </div><!--//cmt_header-->
                        <div class="cmt_body">
                            <div class="inner">
                                <div class="cmt_text">
                                    알친 여러분! 이 콘텐츠에 댓글을 달면 추가 매칭 기부돼요 :) 많이 많이 참여해 주세요~!
                                </div>
                            </div>
                        </div><!--//cmt_body-->
                    </li>
                    <li>
                        <div class="cmt_header">
                            <div class="inner">
                                <div class="user_wrap">
                                    <figure class="img" style="background-image: url(/public/front/images/etc/level_05.svg)"></figure>
                                    <div>
                                        <h2 class="name">걷기좋은알리고77</h2>
                                        <p class="date">24.03.21.</p>
                                    </div>
                                </div>
                            </div>
                        </div><!--//cmt_header-->
                        <div class="cmt_body">
                            <div class="inner">
                                <div class="cmt_text">
                                    <p class="tag">
                                        <span class="blind">NEW</span>
                                    </p>
                                    댓글 창에 입력 가능한 글자 수는 공백 포함 200by te 입니다. 본문 내용이 들어가는 영역입니다. 본문 내용이 들어가는 영역입니다. 본문 내용이 들어가는 영역입니다. 본문 내용이 들어가는 영역입니다.
                                </div>
                            </div>
                        </div><!--//cmt_body-->
                    </li>
                </ul>
            </div><!--//cmt_box-->
        </section>
        <section class="mission_sec_03" data-layout="detail">
            <div class="cont_box">
                <div class="camp_wrap">
                    <div class="inner">
                        <h2 class="title">여러분의 참여로 기부되고 있어요!</h2>
                        <a href="">
                            <figure style="background-image: url(/public/front/images/main/main_vis_02.png)"></figure>
                            <div class="text_box">
                                <h3>저소득 취약계층 의료비 지원 캠페인 저소득 취약계층 의료비 지원 캠페인 저소득 취약계층 의료비 지원 캠페인</h3>
                                <p>임팩트비즈니스재단</p>
                            </div>
                            <div class="prg_box">
                                <div class="bar">
                                    <span style="width: 62%;" title="62%"></span>
                                </div>
                                <ul class="num">
                                    <li class="amount">
                                        <span>6,123,000</span>원
                                    </li>
                                    <li class="percentage">
                                        <span>61</span>%
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div><!-- //camp_wrap -->
                <div class="rec_wrap">
                    <div class="inner">
                        <h2 class="title">추천 미션 바로가기</h2>
                        <ul class="list">
                            <li>
                                <a href="">
                                    <figure style="background-image: url(/public/front/images/main/main_vis_03.png)"></figure>
                                    <div class="text_box">
                                        <h6>
                                            알지연구소로 도파민 치료한 후기 지금 바로 알려드립니다.
                                            알지연구소로 도파민 치료한 후기 지금 바로 알려드립니다.
                                            알지연구소로 도파민 치료한 후기 지금 바로 알려드립니다.
                                        </h6>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <figure style="background-image: url(/public/front/images/main/main_vis_03.png)"></figure>
                                    <div class="text_box">
                                        <h6>
                                            옛날에는 없었던 ‘이것’을 맞혀주세요!
                                        </h6>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="more_btn_wrap">
                            <button class="btn_type_02" data-color="white" data-ico="more">추천 미션 더보기</button>
                        </div>
                    </div>
                </div>
            </div><!-- //rec_wrap -->
            <div class="go_btn_wrap">
                <a class="btn_type_01" data-color="red" href="/mission">진행 중인 미션 모두 보기</a>
            </div>
        </section>
        <div class="menu_bot">
            <div class="flex_wrap">
                <div class="left">
                    <!--button 활성화시 addClass:on / title:선택됨-->
                    <button class="btn_like on">
                        <span class="blind">좋아요</span>9,999
                    </button>
                    <button class="btn_cmt">
                        <span class="blind">댓글</span>4,567
                    </button>
                </div>
                <div class="right">
                    <button class="btn_share">공유</button>
                </div>
            </div>
        </div><!-- //menu_bot -->
    </div><!-- //container -->

    <% include ../inc/footer.ejs %>
</div>
</body>
</html>
