<html lang="ko">
<head>
    <% include ../inc/head_script.ejs %>
    <link rel="stylesheet" href="/public/front/css/mission.css" />
</head>

<body>
<div id="wrapper">
    <div class="skip">
        <a href="#container">본문 바로가기</a>
    </div>
    <% include ../inc/header %>

    <div id="container">
        <section class="result_sec_01" data-layout="list">
            <div class="inner">
                <div class="sec_tit_wrap">
                    <h2 class="sec_tit">미션</h2>
                    <a href="">목록으로</a>
                </div>
                <div class="search_wrap">
                    <form id="searchForm" class="search_form">
                        <input type="text" id="msgKeyword" placeholder="검색어 또는 태그 입력" title="검색어 또는 태그 입력" value="오잉?">
                        <button type="button">
                            <span class="blind">검색하기</span>
                        </button>
                    </form>
                </div>
                <ul class="list " data-layout="mission">
                    <li class="">
                        <a class="" href="/mission/detail">
                            <figure style="background-image: url(/public/front/images/mission/mis_sec_01_img_01.png);"></figure>
                            <div class="text_box">
                                <div class="title_wrap">
                                    <h3 class="list_tit">[어마알] vol.99 - 알지? 전문가에게 직접 듣는 알지? 사용 설명서</h3>
                                    <ul class="data_box">
                                        <li class="parti">
                                            <i><span class="blind">참여 수</span></i>
                                            <strong>123,465</strong>명이 참여했어요!
                                        </li>
                                        <li class="like"><i><span class="blind">좋아요 수</span></i>1,234</li>
                                        <li class="cmt"><i><span class="blind">댓글 수</span></i>324</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="">
                        <a class="" href="/mission/detail">
                            <figure style="background-image: url(/public/front/images/mission/mis_sec_01_img_02.png);"></figure>
                            <div class="text_box">
                                <div class="title_wrap">
                                    <h3 class="list_tit">벌써 스물 여덟번째! 기후회의에서는 무슨 일이?</h3>
                                    <ul class="data_box">
                                        <li class="parti">
                                            <i><span class="blind">참여 수</span></i>
                                            <strong>86,342</strong>명이 참여했어요!
                                        </li>
                                        <li class="like"><i><span class="blind">좋아요 수</span></i>3,059</li>
                                        <li class="cmt"><i><span class="blind">댓글 수</span></i>1,678</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="">
                        <a class="" href="/mission/detail">
                            <figure style="background-image: url(/public/front/images/mission/mis_sec_01_img_04.png);"></figure>
                            <div class="text_box">
                                <div class="title_wrap">
                                    <h3 class="list_tit">함께 나누면 배가 되는 행복을! 지금 바로 함께 해요!</h3>
                                    <ul class="data_box">
                                        <li class="parti">
                                            <i><span class="blind">참여 수</span></i>
                                            <strong>10,113</strong>명이 참여했어요!
                                        </li>
                                        <li class="like"><i><span class="blind">좋아요 수</span></i>6,854</li>
                                        <li class="cmt"><i><span class="blind">댓글 수</span></i>5,002</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div><!-- // inner -->
        </section><!-- // result_sec_01 -->
        <section class="result_sec_02" data-layout="list">
            <div class="inner">
                <p class="sub_desc">
                    더 많은 알지? 미션을 확인해 보세요!<br />
                    <span>지난 미션은 rz 적립 및 기부가 되지 않습니다.</span>
                </p>
                <ul class="list " data-layout="mission">
                    <li class="complete">  <!-- 미션 종료되면 li 태그에 complete 를 추가해주세요-->
                        <a class="" href="/mission/detail">
                            <figure style="background-image: url(/public/front/images/mission/mis_sec_01_img_03.png);"></figure>
                            <div class="text_box">
                                <div class="title_wrap">
                                    <h3 class="list_tit">콘텐츠 제목이 들어가는 영역</h3>
                                    <ul class="data_box">
                                        <li class="parti">
                                            <i><span class="blind">참여 수</span></i>
                                            <strong>93,004</strong>명이 참여했어요!
                                        </li>
                                        <li class="like"><i><span class="blind">좋아요 수</span></i>51,370</li>
                                        <li class="cmt"><i><span class="blind">댓글 수</span></i>6,399</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div><!-- // inner -->
        </section><!-- // result_sec_02 -->
    </div><!-- //container -->

    <% include ../inc/footer.ejs %>
    <% include ../inc/footerNav.ejs %>
</div>
</body>
</html>
