<html lang="ko">
  <% include ../inc/head_script.ejs %>
  <link rel="stylesheet" href="/public/test/css/sea.css" />
  <script src="/views/user/sea/sea.js" type="text/javascript"></script>
  <script>
    $(document).ready(function () {
      $('#gpjw_sea').addClass('active');
      $('#gpjw_sea_mo').addClass('active');
      getRecycleStatistics('2023');
      getSeaImage();
    });
  </script>
  <body>
    <div id="wrap">
      <% include ../inc/header %>
      <div id="container">
        <!-- 소개 -->
        <section class="sea_sec_00">
          <div class="inner">
            <div class="text_wrap">
              <div class="left">
                <h2 class="title"><span>이달의 바다란?</span></h2>
              </div>
              <div class="right">
                <p class="desc">가플지우는 기존에 일회성으로 이루어졌던 해안정화 활동을 <br class="mo_block" />‘이달의 바다’라고 이름지어 자발적 참여자들과 함께 <br class="mo_block" />2022년부터 전국의 바다를 깨끗하게 청소하고 있습니다.</p>
              </div>
            </div>
          </div>
        </section>
        <!-- // 소개 -->
        <section class="sea_sec_01">
          <div class="inner">
            <input type="hidden" value="2023" id="nowYear" />
            <h2 class="title">
              <span>이달의 바다에서 함께한</span><br />
              <div class="select_wrap">
                <button class="btn_select">2023</button>
                <ul class="year_list">
                  <li>
                    <button class="on" type="button">2023</button>
                  </li>
                  <li>
                    <button type="button">2022</button>
                  </li>
                </ul>
              </div>
              의 실천
            </h2>
            <ul class="result_list">
              <li>
                <figure><img src="/public/test/images/sea/sea_sec_01_img_01.png" alt="" /></figure>
                <h6>활동 진행 횟수</h6>
                <p><span id="activeCount">0</span>회</p>
              </li>
              <li>
                <figure><img src="/public/test/images/sea/sea_sec_01_img_02.png" alt="" /></figure>
                <h6>활동 참여 인원</h6>
                <p><span id="personnel">0</span>명</p>
              </li>
              <li>
                <figure><img src="/public/test/images/sea/sea_sec_01_img_03.png" alt="" /></figure>
                <h6>수거 폐기물 양</h6>
                <p><span id="weight">0</span>kg</p>
              </li>
            </ul>
            <div class="result_info" id="dateLast">* 2023년 7월 기준</div>
          </div>
          <!-- //inner -->
        </section>
        <section class="sea_sec_02">
          <div class="inner">
            <div class="flex_wrap">
              <div class="text_wrap">
                <div class="slide_wrap">
                  <div class="swiper-container">
                    <div class="swiper-wrapper" id="tbl_dataList"></div>
                    <!-- //swiper-wrapper -->
                  </div>
                  <!-- //swiper-container -->
                  <div class="control">
                    <button type="button" class="btn_prev"><span class="blind">이전</span></button>
                    <button type="button" class="btn_next"><span class="blind">다음</span></button>
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
              </div>
              <!-- //text_wrap -->
              <div class="map_wrap">
                <img src="/public/test/images/sea/sea_sec_map.png" alt="" />
                <ul class="pin_list" id="pinList"></ul>
              </div>
              <!-- //map_wrap -->
            </div>
            <!-- //flex_wrap -->
          </div>
          <!-- //inner -->
        </section>
        <section class="sea_sec_03">
          <div class="inner">
            <div class="box">
              <!-- <div class="top">
                              <h2 class="title">이달의 바다 활동에<br class="brm"> 참여한 김인철 님</h2>
                              <figure>
                                  <img class="img_de" src="/public/test/images/sea/sea_sec_03_img_01.png" alt="해양 쓰레기를 외면하지 않고 자발적으로 참여해서 심각성을 느낄 수 있는 활동입니다. 문제의 원인을 같이 알고 일상으로 돌아가서도 잊지 않았으면 좋겠습니다.">
                                  <img class="img_mo" src="/public/test/images/sea/sea_sec_03_img_01_mo.png" alt="해양 쓰레기를 외면하지 않고 자발적으로 참여해서 심각성을 느낄 수 있는 활동입니다. 문제의 원인을 같이 알고 일상으로 돌아가서도 잊지 않았으면 좋겠습니다.">
                              </figure>
                          </div> -->
              <div class="bot">
                <h2 class="title">이달의 바다 현장 사진</h2>
                <div class="slide_wrap">
                  <div class="swiper-container">
                    <div class="swiper-wrapper" id="seaImageSlider"></div>
                    <!-- //swiper-wrapper -->
                  </div>
                  <!-- //swiper-container -->
                  <div class="control">
                    <button type="button" class="btn_prev"><span class="blind">이전</span></button>
                    <button type="button" class="btn_next"><span class="blind">다음</span></button>
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
                <!-- //slide_wrap -->
                <a href="https://forms.gle/EQB1U6tKkxK7WxnY7" target="_blank">다음 <span>이달의 바다</span> 활동 참여하기</a>
              </div>
              <!-- //bot -->
            </div>
            <!-- //box -->
          </div>
          <!-- //inner -->
        </section>
      </div>
      <!-- //container -->
      <% include ../inc/footer %>
    </div>
    <!-- //wrap -->

    <script>
      $(function () {
        //sea sec 03 swiper setting
        var sea_swiper_02 = new Swiper('.sea_sec_03 .slide_wrap .swiper-container', {
          observer: true,
          observeParents: true,
          freeMode: false,
          allowTouchMove: false,
          touch: false,
          speed: 500,
          navigation: {
            nextEl: '.sea_sec_03 .slide_wrap .btn_next',
            prevEl: '.sea_sec_03 .slide_wrap .btn_prev',
          },
          pagination: {
            el: '.sea_sec_03 .slide_wrap .swiper-pagination',
            clickable: true,
          },
          breakpoints: {
            767: {
              freeMode: false,
              slidesPerView: 1,
              spaceBetween: 20,
              allowTouchMove: true,
              touch: true,
              pagination: false,
            },
          },
        });
      });
    </script>

    <script>
      const btnSelect = document.querySelector('.btn_select');
      const yearList = document.querySelector('.year_list');
      let btnYearList = document.querySelectorAll('.year_list button');

      btnSelect.addEventListener('click', () => {
        btnSelect.classList.toggle('on');
      });
      yearList.addEventListener('click', (event) => {
        if (event.target.nodeName === 'BUTTON') {
          btnSelect.innerText = event.target.innerText;
          btnSelect.classList.remove('on');
          getRecycleStatistics(event.target.innerText);
        }
      });
      for (i = 0; i < btnYearList.length; i++) {
        let clicked = btnYearList[i];
        clicked.addEventListener('click', function () {
          clicked.classList.remove('on');
          for (i = 0; i < btnYearList.length; i++) {
            btnYearList[i].classList.remove('on');
          }
          this.classList.add('on');
        });
      }
    </script>
  </body>
</html>
