<html lang="ko">
<head>
    <% include ../inc/head_script.ejs %>
    <link rel="stylesheet" href="/public/front/css/news.css" />
</head>

<body>
<div id="wrapper">
    <div class="skip">
        <a href="#container">본문 바로가기</a>
    </div>
    <% include ../inc/headerPrev.ejs %>

    <div id="container">
        <section class="notice_sec" data-layout="detail">
            <div class="inner">
                <div class="title_wrap">
                    <h2 class="title">[공지] 개인정보처리방침 변경 안내 드립니다.</h2>
                    <p class="date">2024.05.01.</p>
                </div>
                <div class="cont_wrap">
                    [공지] 개인정보처리방침 변경 안내 드립니다.
                    [공지] 개인정보처리방침 변경 안내 드립니다.
                    [공지] 개인정보처리방침 변경 안내 드립니다.
                    [공지] 개인정보처리방침 변경 안내 드립니다.
                    [공지] 개인정보처리방침 변경 안내 드립니다.
                    [공지] 개인정보처리방침 변경 안내 드립니다.
                    [공지] 개인정보처리방침 변경 안내 드립니다.
                    [공지] 개인정보처리방침 변경 안내 드립니다.
            </div>
            </div>
        </section>
    </div><!-- //container -->

    <% include ../inc/footer.ejs %>
    <% include ../inc/footerNav.ejs %>
</div>
</body>
</html>
