<html lang="ko">
<head>
    <% include ../inc/head_script.ejs %>
    <link rel="stylesheet" href="/public/front/css/news.css" />
</head>

<body>
<div id="wrapper">
    <div class="skip">
        <a href="#container">본문 바로가기</a>
    </div>
    <% include ../inc/headerPrev.ejs %>

    <div id="container">
        <section class="notice_sec_01" data-layout="list">
            <div class="inner">
                <ul class="list">
                    <!-- 새 공지사항 addClass : new -->
                    <li class="new">
                        <a href="/notice/detail">
                            <h2 class="list_title">
                                [새로 만나요] 친구와 함께 하면 더욱
                            </h2>
                            <p class="list_date"> 2024.04.01.</p>
                        </a>
                    </li>
                    <li>
                        <a href="/notice/detail">
                            <h2 class="list_title">
                                [새로 만나요] 친구와 함께 하면 더욱 재미있는 짝꿍 미션 자세히 알아보기
                                [새로 만나요] 친구와 함께 하면 더욱 재미있는 짝꿍 미션 자세히 알아보기
                                [새로 만나요] 친구와 함께 하면 더욱 재미있는 짝꿍 미션 자세히 알아보기
                                [새로 만나요] 친구와 함께 하면 더욱 재미있는 짝꿍 미션 자세히 알아보기
                            </h2>
                            <p class="list_date"> 2024.04.01.</p>
                        </a>
                    </li>
                    <li>
                        <a href="/notice/detail">
                            <h2 class="list_title">
                                [새로 만나요] 친구와 함께 하면 더욱 재미있는 짝꿍 미션 자세히 알아보기
                            </h2>
                            <p class="list_date"> 2024.04.01.</p>
                        </a>
                    </li>
                    <li>
                        <a href="/notice/detail">
                            <h2 class="list_title">
                                [새로 만나요] 친구와 함께 하면 더욱 재미있는 짝꿍 미션 자세히 알아보기
                            </h2>
                            <p class="list_date"> 2024.04.01.</p>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div><!-- //container -->

    <% include ../inc/footer.ejs %>
    <% include ../inc/footerNav.ejs %>
</div>
</body>
</html>
