<html lang="ko">
<head>
    <% include ../inc/head_script.ejs %>
    <link rel="stylesheet" href="/public/front/css/news.css" />
</head>

<body>
<div id="wrapper">
    <div class="skip">
        <a href="#container">본문 바로가기</a>
    </div>
    <% include ../inc/headerPrev.ejs %>

    <div id="container">
        <section class="notice_sec_01" data-layout="detail">
            <div class="inner">
                <div class="title_wrap">
                    <h2 class="title">[공지] 개인정보처리방침 변경 안내 드립니다. 개인정보처리방침 변경 안내 드립니다.</h2>
                    <p class="date">2024.05.01.</p>
                </div>
                <div class="cont_wrap">
                    <div class="cont_title">
                        대제목
                    </div>
                    <div class="cont_desc">
                        본문 내용이 들어가는 영역입니다. 본문 내용이 들어가는 영역입니다. 본문 내용이 들어가는 영역입니다. 본문 내용이 들어가는 영역입니다.
                    </div>
                    <div class="cont_img">
                        <img src="/public/front/images/main/main_vis_01.png" alt="">
                    </div>
                    <div class="cont_link">
                        <a class="btn_type_02" data-color="red" href="">바로가기</a>
                    </div>
                </div>
            </div>
        </section>
    </div><!-- //container -->

    <% include ../inc/footer.ejs %>
    <% include ../inc/footerNav.ejs %>
</div>
</body>
</html>
