<!-- sidebar @s -->
<div class="nk-sidebar nk-sidebar-fixed is-light " data-content="sidebarMenu">
    <div class="nk-sidebar-element nk-sidebar-head">
        <div class="nk-sidebar-brand">
            <a href="/admin/office/content" class="logo-link nk-sidebar-logo">
                <img class="logo-light logo-img" src="/public/office/images/logo.png" srcset="/public/office/images/logo2x.png 2x" alt="logo">
                <img class="logo-dark logo-img" src="/public/office/images/logo.png" srcset="/public/office/images/logo2x.png 2x" alt="logo-dark">
            </a>
        </div>
        <div class="nk-menu-trigger mr-n2">
            <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
            <a href="#" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
        </div>
    </div><!-- .nk-sidebar-element -->
    <div class="nk-sidebar-element">
        <div class="nk-sidebar-content">
            <div class="nk-sidebar-menu" data-simplebar>
                <ul class="nk-menu">
                    <li class="nk-menu-heading">
                        <h6 class="overline-title text-primary-alt">side</h6>
                    </li><!-- .nk-menu-item -->
<!--                    <li class="nk-menu-item has-sub">-->
<!--                        <a href="#" class="nk-menu-link nk-menu-toggle">-->
<!--                            <span class="nk-menu-icon"><em class="icon ni ni-view-group-fill"></em></span>-->
<!--                            <span class="nk-menu-text">컨텐츠 관리</span>-->
<!--                        </a>-->
<!--                        <ul class="nk-menu-sub">-->
<!--                            <li class="nk-menu-item">-->
<!--                                <a href="/admin/office/content" class="nk-menu-link">-->
<!--                                    <span class="nk-menu-text">게시글 관리</span>-->
<!--                                </a>-->
<!--                            </li>&lt;!&ndash; .nk-menu-item &ndash;&gt;-->
<!--                            <li class="nk-menu-item">-->
<!--                                <a href="/admin/office/banner" class="nk-menu-link">-->
<!--                                    <span class="nk-menu-text">베너 관리</span>-->
<!--                                </a>-->
<!--                            </li>&lt;!&ndash; .nk-menu-item &ndash;&gt;-->
<!--                        </ul>&lt;!&ndash; .nk-menu-sub &ndash;&gt;-->
<!--                    </li>&lt;!&ndash; .nk-menu-item &ndash;&gt;-->
                    <li class="nk-menu-item has-sub">
                        <li class="nk-menu-item">
                            <a href="/admin/office/content" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
                                <span class="nk-menu-text">게시글 관리</span>
                            </a>
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item">
                            <a href="/admin/office/month" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
                                <span class="nk-menu-text">이달의 바다 현장 관리</span>
                            </a>
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item">
                            <a href="/admin/office/sea" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
                                <span class="nk-menu-text">플로팅 버튼 관리</span>
                            </a>
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item">
                            <a href="/admin/office/banner" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-view-group-fill"></em></span>
                                <span class="nk-menu-text">베너 관리</span>
                            </a>
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item">
                            <a href="/admin/office/popup" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-browser"></em></span>
                                <span class="nk-menu-text">팝업 관리</span>
                            </a>
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item">
                            <a href="/admin/office/recycle" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-tranx"></em></span>
                                <span class="nk-menu-text">해양 데이터 설정</span>
                            </a>
                        </li><!-- .nk-menu-item -->
                        <li class="nk-menu-item">
                            <a href="/admin/office/pet" class="nk-menu-link">
                                <span class="nk-menu-icon"><em class="icon ni ni-tranx"></em></span>
                                <span class="nk-menu-text">플라스틱 데이터 설정</span>
                            </a>
                        </li><!-- .nk-menu-item -->
                    </li><!-- .nk-menu-item -->




                </ul><!-- .nk-menu -->
            </div><!-- .nk-sidebar-menu -->
        </div><!-- .nk-sidebar-content -->
    </div><!-- .nk-sidebar-element -->
</div>
<!-- sidebar @e -->
