
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        header {width: 100%; height: 50px; background: lightblue;}
        section {width: 100%; height: 600px; background: rosybrown;}
        footer {width: 100%; height: 50px; background: lavender;}
    </style>
</head>
<body>
<header></header>
<section>section</section>
<footer></footer>
<script src="/public/test/js/script.js"></script>
</body>
</html>