@charset "utf-8";
@import url(../css/font.css);

/* --------------------------------reset-------------------------------- */
[lang="ko"]{word-break: break-all;}
*{margin:0; padding:0; box-sizing:border-box; font:inherit; color:inherit; flex-shrink:0;outline: none;}
html, body {font-size:16px; color: #444444;}
html, body, button, input, select, table, textarea {font-family: 'Pretendard', 'Outfit', sans-serif;}
h1, h2, h3, h4, h5, h6 {font-size:inherit; line-height:inherit;}
ul,ol,dl,menu,li {list-style:none;}
a, a:active, a:hover {text-decoration:none;}
button {background-color:transparent; border: none; cursor: pointer;}
blockquote, q {quotes:none;}
:after, :before {box-sizing:inherit;}
img, picture, video, canvas, svg {display:block; max-width:100%;}
fieldset,img {border:0;}
iframe {overflow:hidden; margin:0; border:0; padding:0; vertical-align:top;}
address, em,i {font-style:normal;}
textarea {-webkit-backface-visibility:hidden; backface-visibility:hidden; background-color:transparent; border:0; word-wrap:break-word;}
table {border-collapse:collapse; border-spacing:0;}
td, th {padding:0;}
input, select, textarea {vertical-align: middle; box-sizing: border-box;border-radius: 0;appearance:none;-moz-appearance: none;-webkit-appearance: none;}
input[type=text]::-ms-clear{display: none;}
:focus {outline: 0.4vw dashed #222;}
:focus:not(:focus-visible) {outline: 0;}
@media only screen and (max-width:500px){
    :focus {outline: 2px dashed #222;}
}
@media (pointer:coarse) {
    :focus {outline: 0;}
}
/* --------------------------------reset end--------------------------- */


/* --------------------------------common-------------------------------- */
html.ofy_hidden {height: calc(var(--var, 1vh) * 100);}
html.ofy_hidden body {height: 100%; overflow: hidden;}
#wrapper {text-size-adjust: none;-webkit-text-size-adjust:none;}
#container {width: 100%; overflow-x: hidden;}
section {position: relative;}
.inner {position: relative; width: 91%; margin: 0 auto;}
.blind {border: 0; clip: rect(0 0 0 0); clip-path: inset(50%); width: 1px; height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; white-space: nowrap;}
.clearfix::after {content:""; clear: both; display: block;}
.skip a {position: absolute; left: 0; top: -8vw; background: rgba(0,0,0,0.7); width: 100%; height: 8vw; text-align: center; color: #fff; z-index: 999; line-height: 8vw; opacity: 0; font-size: 2.8vw; transition: all 0.5s}
.skip.on a {top: 0; opacity: 1;}
.swiper-wrapper {height: auto}
@media only screen and (max-width:500px){
    .skip a {top: -40px; height: 40px; line-height: 40px; font-size: 14px;}
}
/* --------------------------------common end-------------------------------- */


/* --------------------------------button-------------------------------- */
[class*="btn_type_"] {display: block; width: 100%; color: #fff; text-align: center; font-weight: 600;}
[class*="btn_type_"]::after {content: ""; display: inline-block; margin-left: 0.8vw; vertical-align: text-top; background: url(/public/front/images/main/icon_right.svg) no-repeat center/cover;}
[class*="btn_type_"][data-color="red"] {background-color: #DD3636 }
[class*="btn_type_"][data-color="darkblue"] {background-color: #414658;}
[class*="btn_type_"][data-color="grey"] {background-color: #EBEBEB; color: #444;}
[class*="btn_type_"][data-ico="none"]::after {display: none;}
.btn_type_01 {height: 11.2vw; line-height: 11.2vw; border-radius: 2.8vw; font-size: 3.2vw;}
.btn_type_01::after {width: 3.6vw; height: 3.6vw;}
.btn_type_02 {height: 9.6vw; line-height: 9.6vw; border-radius: 2.4vw; font-size: 2.8vw;}
.btn_type_02::after {width: 3.2vw; height: 3.2vw;}
@media only screen and (max-width:500px){
    [class*="btn_type_"]::after {margin-left: 4px;}
    .btn_type_01 {height: 56px; line-height: 56px; border-radius: 14px; font-size: 16px;}
    .btn_type_01::after {width: 18px; height: 18px;}
    .btn_type_02 {height: 48px; line-height: 48px; border-radius: 12px; font-size: 14px;}
    .btn_type_02::after {width: 16px; height: 16px;}
}
/* --------------------------------button end-------------------------------- */


/* --------------------------------input-------------------------------- */
input, textarea {font-size: 2.8vw;}
input::placeholder {color: #757575;}
.input_wrap {position: relative;}
.input_wrap:not(:last-child) {margin-bottom: 1.6vw;}
.input_wrap[data-layout="text"] input {width: 100%; height: 9.2vw; padding: 0 3.2vw; border-radius: 2vw; border: 0.2vw solid #E4E4E4;}
.input_wrap[data-layout="textarea"] textarea {width: 100%; height: 32vw; padding: 3.2vw; border-radius: 2vw; border: 0.2vw solid #E4E4E4; resize: none;}
/*jquery ui select*/
.input_wrap[data-layout="select"] .ui-selectmenu-button {position: relative; display: block; width: 100%; height: 9.6vw; margin: 0; padding: 0 3.2vw; color: #222; background-color: #fff;  line-height: 9.6vw; text-align: left; border-radius: 2vw; font-size: 2.8vw; border: 0.2vw solid #E4E4E4;}
.input_wrap[data-layout="select"] .ui-selectmenu-text {width: calc(100% - 6.4vw); height: 100%; margin: 0; font-family: 'Pretendard', 'Outfit', sans-serif;}
.input_wrap[data-layout="select"] .ui-selectmenu-icon {position: absolute; right: 3.2vw; top: 50%; width: 3.2vw; height: 3.2vw; transform: translateY(-50%); background: url(/public/front/images/common/ico_down.svg) no-repeat center/100% auto}
.input_wrap[data-layout="select"] .ui-selectmenu-button[aria-expanded="true"] {border: 0.2vw solid #414658;}
.input_wrap[data-layout="select"] .ui-selectmenu-button[aria-expanded="true"] .ui-selectmenu-icon {background: url(/public/front/images/common/ico_up.svg) no-repeat center/100% auto;}
.ui-selectmenu-menu .ui-menu {width: 100%; padding: 1.6vw 2.4vw; border-radius: 2vw; border: 0.2vw solid #E4E4E4; box-shadow: 0 2.8vw 9vw 0 rgba(0, 0, 0, 0.12);}
.ui-selectmenu-menu .ui-menu-item .ui-menu-item-wrapper {position: relative; width: 100%; padding: 2vw 5.2vw 2vw 1.6vw; line-height: 156%;  color: #222; border-radius: 2vw; text-align: left; font-size: 2.8vw; font-family: 'Pretendard', 'Outfit', sans-serif;}
.ui-selectmenu-menu .ui-menu-item .ui-state-active {margin: 0; border: none; background-color: #F6F7FE;}
.ui-selectmenu-menu .ui-menu-item.active .ui-menu-item-wrapper {font-weight: 600;}
.ui-selectmenu-menu .ui-menu-item.active .ui-menu-item-wrapper::after {content: ""; position: absolute; right: 1.6vw; top: 2.8vw; width: 2.6vw; height: 2.6vw; background: url(/public/front/images/common/ico_check.svg) no-repeat center/100% auto;}
@media (pointer:coarse) {
    .ui-selectmenu-menu .ui-menu-item .ui-state-active {background-color: transparent;}
}
/*img file*/
.input_wrap[data-layout="img"] {display: flex; gap: 1.6vw;}
.input_wrap[data-layout="img"] li {position: relative; width: 18vw; height: 18vw;}
.input_wrap[data-layout="img"] label {position: absolute; left: 0; top: 0; width: 100%; height: 100%; border-radius: 2vw; cursor: pointer; background-size: cover; background-repeat: no-repeat; background-position: center;}
.input_wrap[data-layout="img"] input {width: 100%; height: 100%; padding: 10%; border-radius: 2vw;}
.input_wrap[data-layout="img"] .btn_del {position: absolute; right: 0.8vw; top: 0.8vw; width: 4.8vw; height: 4.8vw; border-radius: 100%; background: url(/public/front/images/common/ico_close_black.svg) no-repeat center /2.8vw auto rgba(232, 235, 245, 0.60);}
/*checkbox*/
.input_wrap[data-layout="checkbox"] {position: relative}
.input_wrap[data-layout="checkbox"] input {position: absolute; left: 0; top: 50%; width: 4vw; height: 4vw; z-index: 0; transform: translateY(-50%); appearance: none;}
.input_wrap[data-layout="checkbox"] input + label {padding-left: 5.6vw; font-size: 2.8vw; font-weight: 600; color: #222;}
.input_wrap[data-layout="checkbox"] input + label span {position: absolute; left: 0; top: 50%; width: 4vw; height: 4vw; transform: translateY(-50%); background: url(/public/front/images/common/ico_checkbox_off.svg) no-repeat center/100% auto;}
.input_wrap[data-layout="checkbox"] input:checked + label span { background: url(/public/front/images/common/ico_checkbox_on.svg) no-repeat center/100% auto;}
@media only screen and (max-width:500px){
    input, textarea {font-size: 14px;}
    .input_wrap:not(:last-child) {margin-bottom: 8px;}
    .input_wrap[data-layout="text"] input {height: 46px; padding: 0 16px; border-radius: 10px; border: 1px solid #E4E4E4;}
    .input_wrap[data-layout="textarea"] textarea {height: 160px; padding: 16px; border-radius: 10px; border: 1px solid #E4E4E4;}
    /*jquery ui select*/
    .input_wrap[data-layout="select"] .ui-selectmenu-button {height: 48px; padding: 0 16px; line-height: 48px; border-radius: 10px; font-size: 14px; border: 1px solid #E4E4E4;}
    .input_wrap[data-layout="select"] .ui-selectmenu-text {width: calc(100% - 32px);}
    .input_wrap[data-layout="select"] .ui-selectmenu-icon {right: 16px; width: 16px; height: 16px;}
    .input_wrap[data-layout="select"] .ui-selectmenu-button[aria-expanded="true"] {border: 1px solid #414658;}
    .ui-selectmenu-menu .ui-menu {padding: 8px 12px; border-radius: 10px; border: 1px solid #E4E4E4; box-shadow: 0 14px 45px 0 rgba(0, 0, 0, 0.12);}
    .ui-selectmenu-menu .ui-menu-item .ui-menu-item-wrapper {padding: 10px 26px 10px 8px; border-radius: 10px; font-size: 14px;}
    .ui-selectmenu-menu .ui-menu-item.active .ui-menu-item-wrapper::after {right: 8px; top: 14px; width: 13px; height: 13px;}
    /*img file*/
    .input_wrap[data-layout="img"] {gap: 8px;}
    .input_wrap[data-layout="img"] li {width: 90px; height: 90px;}
    .input_wrap[data-layout="img"] label {border-radius: 10px;}
    .input_wrap[data-layout="img"] input {border-radius: 10px;}
    .input_wrap[data-layout="img"] .btn_del {right: 4px; top: 4px; width: 24px; height: 24px; background: url(/public/front/images/common/ico_close_black.svg) no-repeat center /14px auto rgba(232, 235, 245, 0.60);}
    /*checkbox*/
    .input_wrap[data-layout="checkbox"] input {width: 20px; height: 20px;}
    .input_wrap[data-layout="checkbox"] input + label {padding-left: 28px; font-size: 14px;}
    .input_wrap[data-layout="checkbox"] input + label span {width: 20px; height: 20px;}
}
/* --------------------------------input end-------------------------------- */


/* --------------------------------header-------------------------------- */
#header {position: fixed; left: 0; top: 0; width: 100%; border-bottom: 0.2vw solid transparent; background-color: #fff; z-index: 996; transition: border-bottom 0.5s;}
#header.active {border-bottom: 0.2vw solid #EBEBEB;}
#header .inner {display: flex; align-items: center; justify-content: space-between; height: 9.6vw;}
#header .logo {width: 9.6vw; height: 7.6vw;}
#header .logo a {display: block; width: 100%; height: 100%; background: url(/public/front/images/common/logo.svg) no-repeat center/100% auto;}
#header .logo img {width: 100%;}
#header .flex_wrap {display: flex; align-items: center; gap: 1.2vw;}
#header .flex_wrap a,
#header .flex_wrap button {position: relative; display: block; width: 6vw; height: 7.6vw; background-size: 5.2vw auto; background-repeat: no-repeat; background-position: center;}
#header .point {margin-right: 1.6vw;}
#header .point a {display: flex; align-items: center; width: auto;}
#header .point .flex_wrap {justify-content: center; gap: 0.8vw; padding: 1.2vw 2.4vw; border: 0.2vw solid #E1E6F5; border-radius: 40vw; background-color: #fafbfe;}
#header .point figure {width: 2.8vw; height: 2.8vw; background: url(/public/front/images/common/ico_point.svg) no-repeat center/100% auto;}
#header .point span {display: block; line-height: 100%; font-weight: 600; font-size: 2.8vw; color: #414658;}
#header .notice a {background-image: url(/public/front/images/common/ico_notify.svg);}
#header .notice.on a {background-image: url(/public/front/images/common/ico_notify_on.svg);}
#header .maypage a {background-image: url(/public/front/images/common/ico_mypage.svg);}
#header .menu button {background-image: url(/public/front/images/common/ico_menu.svg);}
/*헤더:이전으로*/
#header[data-type="prev"] {border-bottom: 0.2vw solid #EBEBEB;}
#header[data-type="prev"] .btn_back,
#header[data-type="prev"] .bnt_set_noti {position: absolute; top: 50%; width: 6vw; height: 7.6vw; transform: translateY(-50%); cursor: pointer;}
#header[data-type="prev"] .btn_back {left: -2vw; background: url(/public/front/images/common/ico_prev.svg) no-repeat center/1.8vw auto;}
#header[data-type="prev"] .bnt_set_noti {display: none; right: -0.8vw; background: url(/public/front/images/common/ico_setting.svg) no-repeat center/4.8vw auto;}
#header[data-type="prev"] .page_title {width: 100%; text-align: center; font-size: 2.8vw; font-weight: 500; color: #000;}
/*레이어메뉴*/
.layer_menu {position: fixed; top: 0; right: -100vw; width: 100%; height: calc(var(--var, 1vh) * 100); background-color: #fff; z-index: 997; display: none;}
.layer_menu.active {right: 0; transition-delay: 0.2s; transition: 0.8s;}
.layer_header {width: 100%; border-bottom: 0.2vw solid #EBEBEB;}
.layer_header .inner {display: flex; align-items: center; justify-content: center; width: 91%; height: 9.6vw; margin: 0 auto;}
.layer_header .btn_close {position: absolute; left: -2vw; top: 50%; width: 6vw; height: 7.6vw; transform: translateY(-50%); background: url(/public/front/images/common/ico_prev.svg) no-repeat center/1.8vw auto; cursor: pointer;}
.layer_header .layer_title {width: 100%; text-align: center; font-size: 2.8vw; font-weight: 500; color: #000;}
.layer_cont {width: 100%; height: calc(100% - 9.6vw); padding: 6.4vw 0 8vw 0; background-color: #F8F8F8; overflow-y: auto;}
.layer_cont .inner {width: 91%; margin: 0 auto;}
.layer_cont .user_wrap {margin-bottom: 4.8vw; font-size: 3.6vw; font-weight: 500; color: #222; line-height: 100%;}
.layer_cont .user_wrap img {display: inline-block; width: auto; height: 3.6vw; vertical-align: bottom;}
.layer_cont .user {margin-bottom: 1.6vw; font-size: 4.4vw; line-height: 100%;}
.layer_cont .user span {font-weight: 700;}
.layer_cont .btn_wrap {margin-bottom: 6.4vw;}
.layer_cont .btn_wrap [class^="btn_"] {display: flex; align-items: center; justify-content: center; gap: 0.6vw; height: 6vw; font-size: 2.4vw;  border-radius: 10vw; font-weight: 500;}
.layer_cont .btn_wrap [class^="btn_"]::before {content: ""; display: block; width: 2.4vw; height: 2.4vw;}
.layer_cont .btn_login {width: 14.2vw; border: 0.2vw solid #C42F2F; color: #C42F2F;}
.layer_cont .btn_login::before {background: url(/public/front/images/common/ico_login.svg) no-repeat center/100% auto;}
.layer_cont .btn_logout {width: 16.2vw; border: 0.2vw solid #666; color: #666;}
.layer_cont .btn_logout::before {background: url(/public/front/images/common/ico_logout.svg) no-repeat center/100% auto;}
/*레이어메뉴 상세*/
.layer_cont .menu_wrap:not(:last-child) {margin-bottom: 6.4vw;}
.layer_cont .menu_wrap ul {border-radius: 3vw; overflow: hidden; box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.03);}
.layer_cont .menu_wrap li {background-color: #fff;}
.layer_cont .menu_wrap a {display: block; position: relative;}
.layer_cont .menu_wrap li.new a::after {content: ""; position: absolute; right: 2vw; top: 2vw; width: 1.6vw; height: 1.6vw; background-color: #DD3636; border-radius: 100%;}
.layer_cont .menu_wrap .title {font-weight: 600; font-size: 2.8vw; line-height: 100%; color: #222;}
.layer_cont .menu_wrap[data-layout="img"] ul {display: flex; flex-wrap: wrap; gap: 1.6vw; border-radius: 0; box-shadow: none;}
.layer_cont .menu_wrap[data-layout="img"] li {width: calc((100% - 1.6vw - 1.6vw)/3); border-radius: 3vw; box-shadow: 0 1vw 4.8vw 0 rgba(0, 0, 0, 0.03);}
.layer_cont .menu_wrap[data-layout="img"] a {padding: 2vw 2.4vw 2.4vw;}
.layer_cont .menu_wrap[data-layout="img"] .title {text-align: center;}
.layer_cont .menu_wrap[data-layout="img"] .tag {position: absolute; left: 50%; top: 0; width: 20vw; height: 4.8vw; background: url(/public/front/images/common/exchange_info.svg) no-repeat center/100% auto; transform: translateX(-50%);}
.layer_cont .menu_wrap[data-layout="img"] [class^="img"] {width: 16vw; height: 12.8vw; margin: 0 auto 0.8vw; background-size: 100% auto; background-position: center; background-repeat: no-repeat;}
.layer_cont .menu_wrap .img_01 {background-image: url(/public/front/images/common/layer_menu_img_01.png);}
.layer_cont .menu_wrap .img_02 {background-image: url(/public/front/images/common/layer_menu_img_02.png);}
.layer_cont .menu_wrap .img_03 {background-image: url(/public/front/images/common/layer_menu_img_03.png);}
.layer_cont .menu_wrap .img_04 {background-image: url(/public/front/images/common/layer_menu_img_04.png);}
.layer_cont .menu_wrap .img_05 {background-image: url(/public/front/images/common/layer_menu_img_05.png);}
.layer_cont .menu_wrap .img_06 {background-image: url(/public/front/images/common/layer_menu_img_06.png);}
.layer_cont .menu_wrap[data-layout="ico"] li:not(:last-child) {border-bottom: 0.2vw solid #EBEBEB;}
.layer_cont .menu_wrap[data-layout="ico"] a {display: flex; align-items: center; gap: 1.6vw; padding: 4.8vw 3.2vw;}
.layer_cont .menu_wrap[data-layout="ico"] a::after {content: ""; position: absolute; right: 1.2vw; top: 50%; width: 4.8vw; height: 4.8vw; transform: translateY(-50%); background: url(/public/front/images/common/ico_right_short.svg) no-repeat center/1.6vw auto;}
.layer_cont .menu_wrap[data-layout="ico"] .tag {width: 6.4vw; height: 3vw; background: url(/public/front/images/common/ico_new.svg) no-repeat center/100% auto;}
.layer_cont .menu_wrap[data-layout="ico"] [class^="ico"] {width: 4.8vw; height: 4.8vw; background-size: 100% auto; background-position: center; background-repeat: no-repeat;}
.layer_cont .menu_wrap .ico_01 {background-image: url(/public/front/images/common/layer_menu_ico_01.svg);}
.layer_cont .menu_wrap .ico_02 {background-image: url(/public/front/images/common/layer_menu_ico_02.svg);}
.layer_cont .menu_wrap .ico_03 {background-image: url(/public/front/images/common/layer_menu_ico_03.svg);}
.layer_cont .menu_wrap .ico_04 {background-image: url(/public/front/images/common/layer_menu_ico_04.svg);}
.layer_cont .menu_wrap[data-layout="txt"] li:not(:last-child) {border-bottom: 0.2vw solid #EBEBEB;}
.layer_cont .menu_wrap[data-layout="txt"] a {padding: 3.2vw;}
.layer_cont .menu_wrap[data-layout="txt"] a::after {content: ""; position: absolute; right: 1.2vw; top: 50%; width: 4.8vw; height: 4.8vw; transform: translateY(-50%); background: url(/public/front/images/common/ico_right_short.svg) no-repeat center/1.2vw auto;}
.layer_cont .menu_wrap[data-layout="txt"] .title {font-size: 2.4vw; font-weight: 400; color: #444;}
/*레이어메뉴 팝업*/
.layer_logout_popup {display: none; align-items: center; justify-content: center; position: fixed; left: 0; top: 0; width: 100%; height: calc(var(--var, 1vh) * 100); background: rgba(0, 0, 0, 0.55); z-index: 998;}
.layer_logout_popup.active {display: flex;}
.layer_logout_popup .popup_inner {position: relative; width: 91%; height: auto; padding: 8vw 3.2vw 3.2vw; border-radius: 3vw; background: #fff; text-align: center;}
.layer_logout_popup .layer_popup_close[data-layout="icon"] {position: absolute; right: 0; top: -5.6vw; width: 4.8vw; height: 4.8vw; background: url(/public/front/images/common/ico_close.svg) no-repeat center/4vw auto;}
.layer_logout_popup .title {font-size: 3.2vw; font-weight: 600; line-height: 144%; color: #222;}
.layer_logout_popup .btn_wrap {margin-top: 6.4vw;}
.layer_logout_popup .btn_wrap li:not(:last-child) {margin-bottom: 1.6vw;}
@media only screen and (max-width:500px){
    #header {border-bottom: 1px solid transparent;}
    #header.active {border-bottom: 1px solid #EBEBEB;}
    #header .inner {height: 48px;}
    #header .logo {width: 48px; height: 38px;}
    #header .flex_wrap {gap: 6px;}
    #header .flex_wrap a,
    #header .flex_wrap button {width: 30px; height: 38px; background-size: 26px auto;}
    #header .point {margin-right: 8px;}
    #header .point .flex_wrap {gap: 4px; padding: 6px 12px; border: 1px solid #E1E6F5; border-radius: 200px;}
    #header .point a {width: auto;}
    #header .point figure {width: 14px; height: 14px}
    #header .point span {font-size: 14px;}
    /*헤더:이전으로*/
    #header[data-type="prev"] {border-bottom: 1px solid #EBEBEB;}
    #header[data-type="prev"] .btn_back,
    #header[data-type="prev"] .bnt_set_noti {width: 30px; height: 38px;}
    #header[data-type="prev"] .btn_back {left: -10px; background: url(/public/front/images/common/ico_prev.svg) no-repeat center/9px auto;}
    #header[data-type="prev"] .bnt_set_noti {right: -4px; background: url(/public/front/images/common/ico_setting.svg) no-repeat center/24px auto;}
    #header[data-type="prev"] .page_title {font-size: 14px;}
    /*레이어메뉴*/
    .layer_header {border-bottom: 1px solid #EBEBEB;}
    .layer_header .inner {height: 48px;}
    .layer_header .layer_title {font-size: 14px;}
    .layer_header .btn_close {width: 30px; height: 38px; left: -10px; background: url(/public/front/images/common/ico_prev.svg) no-repeat center/9px auto;}
    .layer_cont {height: calc(100% - 48px);}
    .layer_cont .user_wrap {margin-bottom: 24px; font-size: 18px;}
    .layer_cont .user_wrap img {height: 18px;}
    .layer_cont .user {margin-bottom: 8px; font-size: 22px;}
    .layer_cont .btn_wrap {margin-bottom: 32px;}
    .layer_cont .btn_wrap [class^="btn_"] {gap: 3px; height: 30px; font-size: 12px; border-radius: 50px;}
    .layer_cont .btn_wrap [class^="btn_"]::before {width: 12px; height: 12px;}
    .layer_cont .btn_login {width: 71px; border: 1px solid #C42F2F;}
    .layer_cont .btn_logout {width: 81px; border: 1px solid #666;}
    /*레이어메뉴 상세*/
    .layer_cont .menu_wrap:not(:last-child) {margin-bottom: 32px;}
    .layer_cont .menu_wrap .title {font-size: 14px;}
    .layer_cont .menu_wrap[data-layout="img"] ul {gap: 8px;}
    .layer_cont .menu_wrap[data-layout="img"] li {width: calc((100% - 8px - 8px)/3); border-radius: 15px; box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.03);}
    .layer_cont .menu_wrap[data-layout="img"] a {padding: 10px 12px 12px;}
    .layer_cont .menu_wrap[data-layout="img"] .tag { width: 100px; height: 24px;}
    .layer_cont .menu_wrap[data-layout="img"] [class^="img"] {width: 80px; height: 64px; margin: 0 auto 4px;}
    .layer_cont .menu_wrap[data-layout="ico"] li:not(:last-child) {border-bottom: 1px solid #EBEBEB;}
    .layer_cont .menu_wrap[data-layout="ico"] a {gap: 8px; padding: 24px 16px;}
    .layer_cont .menu_wrap[data-layout="ico"] a::after {right: 6px; width: 24px; height: 24px; background: url(/public/front/images/common/ico_right_short.svg) no-repeat center/8px auto;}
    .layer_cont .menu_wrap[data-layout="ico"] .tag {width: 32px; height: 15px;}
    .layer_cont .menu_wrap[data-layout="ico"] [class^="ico"] {width: 24px; height: 24px;}
    .layer_cont .menu_wrap[data-layout="txt"] li:not(:last-child) {border-bottom: 1px solid #EBEBEB;}
    .layer_cont .menu_wrap[data-layout="txt"] a {padding: 16px;}
    .layer_cont .menu_wrap[data-layout="txt"] .title {font-size: 12px;}
    .layer_cont .menu_wrap[data-layout="txt"] a::after {right: 6px; width: 24px; height: 24px; background: url(/public/front/images/common/ico_right_short.svg) no-repeat center/6px auto;}
    /*레이어메뉴 팝업*/
    .layer_logout_popup .popup_inner {padding: 40px 16px 16px; border-radius: 15px;}
    .layer_logout_popup .layer_popup_close[data-layout="icon"] {top: -28px; width: 24px; height: 24px; background: url(/public/front/images/common/ico_close.svg) no-repeat center/20px auto;}
    .layer_logout_popup .title {font-size: 16px;}
    .layer_logout_popup .btn_wrap {margin-top: 32px;}
    .layer_logout_popup .btn_wrap li:not(:last-child) {margin-bottom: 8px;}
}
/* --------------------------------header end-------------------------------- */


/* --------------------------------footer-------------------------------- */
#footer {width: 100%; padding: 6.4vw 0 20.8vw 0; background-color: #fff; color: #555}
#footer .title {font-size: 2.4vw; font-weight: 600; line-height: 100%;}
#footer .btn_wrap {display: flex; gap: 2.4vw; margin-top: 4.8vw;}
#footer .btn_wrap li {flex: 1;}
#footer .btn_wrap a {display: block; width: 100%; text-align: center; color: #666; font-weight: 600}
#footer .desc {margin-top: 3.2vw;}
#footer .desc li {font-size: 2.4vw; color: #757575; line-height: 100%;}
#footer .desc li:not(:last-child) {margin-bottom: 2vw;}
#footer .desc li span {font-weight: 600;}
#footer .name {margin-top: 4.8vw;}
#footer .copyright {margin-top: 1.6vw; font-size: 2.4vw; color: #B1B1B1; line-height: 100%;}
#footer .top {padding-bottom: 4.8vw; border-bottom: 0.2vw solid #EBEBEB;}
#footer .top .btn_wrap a {height: 8vw; line-height: calc(8vw - 0.2vw); border-radius: 2vw; font-size: 2.8vw; border: 0.2vw solid #666;}
#footer .bot .btn_wrap a {height: 6vw; line-height: 6vw; border-radius: 1.2vw; font-size: 2.4vw; background-color: #F3F3F3;}
#footer .bot .btn_wrap li:nth-child(1) a {color: #313647;}
#footer .bot .btn_wrap li:nth-child(2) a {font-weight: 500;}
@media only screen and (max-width:500px){
    #footer {padding: 32px 0 104px 0;}
    #footer .title {font-size: 14px;}
    #footer .btn_wrap {gap: 12px; margin-top: 24px;}
    #footer .desc {margin-top: 16px;}
    #footer .desc li {font-size: 12px} 
    #footer .desc li:not(:last-child) {margin-bottom: 10px;}
    #footer .name {margin-top: 24px;}
    #footer .copyright {margin-top: 8px; font-size: 12px;}
    #footer .top {padding-bottom: 24px; border-bottom: 1px solid #EBEBEB;}
    #footer .top .btn_wrap a {height: 40px;  line-height: calc(40px - 2px); border-radius: 10px; font-size: 14px; border: 1px solid #666;}
    #footer .bot .btn_wrap a {height: 30px; line-height: 30px; border-radius: 6px; font-size: 12px;}
}
/* --------------------------------footer end-------------------------------- */


/* --------------------------------fnb-------------------------------- */
#fnb {position: fixed; left: 0; bottom: 0; width: 100%; border-radius: 3.2vw 3.2vw 0 0; -webkit-box-shadow: 0.4vw -1.6vw 3.4vw 1vw rgba(0,0,0,0.1); box-shadow: 0.4vw -1.6vw 3.4vw 1vw rgba(0,0,0,0.1); background-color: #fff; z-index: 996;}
#fnb ul {display: flex; justify-content: center; width: 100%;}
#fnb li {flex: 1;}
#fnb a {display: block; padding: 2vw 0 4.8vw 0; text-align: center;}
#fnb figure {width: 2.8vw; height: 2.8vw; margin: 0 auto 4px; background-size: cover; background-repeat: no-repeat; background-position: center;}
#fnb .home figure {background-image: url(/public/front/images/common/ico_home.svg);}
#fnb .message figure {background-image: url(/public/front/images/common/ico_message.svg);}
#fnb .mission figure {background-image: url(/public/front/images/common/ico_mission.svg);}
#fnb .donation figure {background-image: url(/public/front/images/common/ico_donation.svg);}
#fnb .exchange figure {background-image: url(/public/front/images/common/ico_exchange.svg);}
#fnb span {display: block; font-size: 2vw; line-height: 100%;}
#fnb .on.home figure {background-image: url(/public/front/images/common/ico_home_on.svg);}
#fnb .on.message figure {background-image: url(/public/front/images/common/ico_message_on.svg);}
#fnb .on.mission figure {background-image: url(/public/front/images/common/ico_mission_on.svg);}
#fnb .on.donation figure {background-image: url(/public/front/images/common/ico_donation_on.svg);}
#fnb .on.exchange figure {background-image: url(/public/front/images/common/ico_exchange_on.svg);}
#fnb .on span {color: #DD3636; font-weight: 600;}
@media only screen and (max-width:500px){
    #fnb {border-radius: 16px 16px 0 0; -webkit-box-shadow: 2px -8px 17px -5px rgba(0,0,0,0.1); box-shadow: 2px -8px 17px -5px rgba(0,0,0,0.1);}
    #fnb a {padding: 10px 0 24px 0;}
    #fnb figure {width: 24px; height: 24px;}
    #fnb span {font-size: 10px;}
}
/* --------------------------------fnb end-------------------------------- */


/* --------------------------------popup------------------------------ */
#popup_all .popup {display: none; align-items: center; justify-content: center; position: fixed; left: 0; top: 0; width: 100%; height: calc(var(--var, 1vh) * 100); background: rgba(0, 0, 0, 0.55); z-index: 998;}
#popup_all .popup.active {display: flex;}
#popup_all .popup_inner {position: relative; width: 91%; height: auto; padding: 8vw 3.2vw; border-radius: 3vw; background: #fff; text-align: center;}
#popup_all .btn_popup_close[data-layout="icon"] {position: absolute; right: 0; top: -5.6vw; width: 4.8vw; height: 4.8vw; background-image: url(/public/front/images/common/ico_close.svg); background-repeat: no-repeat; background-position: center; background-size: 4vw auto;}
#popup_all .cont_wrap {max-height: 74vh; overflow: auto;}
#popup_all .box {padding: 4.8vw 0; border-bottom: 0.2vw solid #E4E4E4;}
#popup_all .box[data-layout="first"] {padding-top: 0;}
#popup_all .box[data-layout="last"] {padding-bottom: 0; border-bottom: none;}
#popup_all .title {font-size: 3.6vw; font-weight: 600; line-height: 144%; color: #222;}
#popup_all .title img {display: inline-block; width: auto; height: 3.2vw; margin: 0 0.4vw; vertical-align: -0.2vw;} 
#popup_all .sub_title {font-size: 3.2vw; font-weight: 500; line-height: 144%; color: #222;}
#popup_all .desc {margin-top: 1.6vw; font-size: 2.8vw; color: #444; line-height: 155%;}
#popup_all .desc:first-of-type {margin-top: 3.2vw;}
#popup_all .desc span {font-weight: 600;}
#popup_all .desc[data-layout="info"] {margin-top: 0; font-size: 2.4vw;}
#popup_all .desc[data-layout="info"] li {display: flex; align-items: flex-start; gap: 1.6vw; color: #757575;}
#popup_all .desc[data-layout="info"] li:not(:last-child) {margin-bottom: 1.2vw;}
#popup_all .desc[data-layout="info"] li span {display: block; width: 0.6vw; height: 0.6vw; margin-top: 1.4vw; border-radius: 100%; background-color: #757575;}
#popup_all .desc[data-layout="info"] li p {width: calc(100% - 0.6vw - 1.6vw); line-height: 150%;}
/*button*/
#popup_all .btn_wrap {margin-top: 6.4vw;}
#popup_all .btn_wrap li:not(:last-child) {margin-bottom: 1.6vw;}
#popup_all .btn_wrap [class^="btn_pop"] {display: block; width: 100%; height: 9.6vw; border-radius: 2.6vw; font-weight: 600; text-align: center; font-size: 2.8vw; line-height: 9.6vw;}
#popup_all .btn_wrap [class^="btn_pop"]::after {display: none;}
#popup_all .btn_wrap .btn_pop_type_01[data-color="red"] {background-color: #DD3636; color: #fff;}
#popup_all .btn_wrap .btn_pop_type_01[data-color="grey"] {background-color: #EBEBEB; color: #444;}
#popup_all .btn_wrap .btn_pop_type_01[data-color="darkblue"] {background-color: #414658; color: #fff;}
/*alert*/
#popup_all .popup_inner[data-layout="alert"] {width: 54.4vw; padding: 0;}
#popup_all .popup_inner[data-layout="alert"] .cont_wrap {padding: 4.8vw 3.2vw;}
#popup_all .popup_inner[data-layout="alert"] .title {font-size: 2.4vw; font-weight: 400;}
#popup_all .popup_inner[data-layout="alert"] .btn_wrap {margin-top: 0;}
#popup_all .popup_inner[data-layout="alert"] .btn_popup_close {border-top: 0.2vw solid #CCC; border-radius: 0;}
/*레이아웃 1*/
#popup_all .popup_inner[data-layout="type_01"] {padding: 8vw 3.2vw 3.2vw;}
/*레이아웃 2*/
#popup_all .popup_inner[data-layout="type_02"] {padding: 6.4vw 4.8vw; text-align: left;}
#popup_all .popup_inner[data-layout="type_02"] .title {padding-bottom: 3.2vw;}
#popup_all .popup_inner[data-layout="type_02"] .cont_wrap {max-height: calc(74vh - 5.2vw);}
#popup_all .popup_inner[data-layout="type_02"] .desc:first-of-type {margin-top: 0;}
/*레이아웃 3*/
#popup_all .popup_inner[data-layout="type_03"] {padding: 0;}
#popup_all .popup_inner[data-layout="type_03"] .title {padding: 3.2vw 0; border-bottom: 0.2vw solid #CCC;}
#popup_all .popup_inner[data-layout="type_03"] .sub_title {margin-bottom: 3.2vw; font-size: 2.8vw; font-weight: 600;}
#popup_all .popup_inner[data-layout="type_03"] .cont_wrap {max-height: calc(74vh + 4.2vw); padding: 4.8vw 3.2vw 3.2vw; text-align: left;}
#popup_all .popup_inner[data-layout="type_03"] .btn_wrap {margin-top: 4.8vw;}
@media only screen and (max-width:500px){
    #popup_all .popup_inner {padding: 40px 16px; border-radius: 15px;}
    #popup_all .btn_popup_close[data-layout="icon"] {top: -28px; width: 24px; height: 24px; background-size: 20px auto;}
    #popup_all .box {padding: 24px 0; border-bottom: 1px solid #E4E4E4;}
    #popup_all .box[data-layout="first"] {padding-top: 0;}
    #popup_all .box[data-layout="last"] {padding-bottom: 0; border-bottom: none;}
    #popup_all .title {font-size: 18px;}
    #popup_all .title img {height: 16px; vertical-align: -1px;}
    #popup_all .sub_title {font-size: 16px;}
    #popup_all .desc {margin-top: 8px; font-size: 14px;}
    #popup_all .desc:first-of-type {margin-top: 16px;}
    #popup_all .desc[data-layout="info"] {font-size: 12px;}
    #popup_all .desc[data-layout="info"] li {gap: 8px;}
    #popup_all .desc[data-layout="info"] li:not(:last-child) {margin-bottom: 6px;}
    #popup_all .desc[data-layout="info"] li span {width: 3px; height: 3px; margin-top: 7px;}
    #popup_all .desc[data-layout="info"] li p {width: calc(100% - 3px - +8px);}
    /*button*/
    #popup_all .btn_wrap {margin-top: 32px;}
    #popup_all .btn_wrap li:not(:last-child) {margin-bottom: 8px;}
    #popup_all .btn_wrap [class^="btn_pop"]  {height: 48px; line-height: 48px; font-size: 14px; border-radius: 13px;}
    /*alert*/
    #popup_all .popup_inner[data-layout="alert"] {width: 272px;}
    #popup_all .popup_inner[data-layout="alert"] .cont_wrap {padding: 24px 16px;}
    #popup_all .popup_inner[data-layout="alert"] .title {font-size: 12px;}
    #popup_all .popup_inner[data-layout="alert"] [class^="btn_pop"] {border-top: 1px solid #CCC;}
    /*레이아웃 1*/
    #popup_all .popup_inner[data-layout="type_01"] {padding: 40px 16px 16px;}
    /*레이아웃 2*/
    #popup_all .popup_inner[data-layout="type_02"] {padding: 32px 24px;}
    #popup_all .popup_inner[data-layout="type_02"] .title {padding-bottom: 16px;}
    #popup_all .popup_inner[data-layout="type_02"] .cont_wrap {max-height: calc(74vh - 26px);}
    /*레이아웃 3*/
    #popup_all .popup_inner[data-layout="type_03"] .title {padding: 16px 0; border-bottom: 1px solid #CCC;}
    #popup_all .popup_inner[data-layout="type_03"] .sub_title {margin-bottom: 16px; font-size: 14px;}
    #popup_all .popup_inner[data-layout="type_03"] .cont_wrap {max-height: calc(74vh + 21px); padding: 24px 16px 16px;}
    #popup_all .popup_inner[data-layout="type_03"] .btn_wrap {margin-top: 24px}
}
/* --------------------------------popup end------------------------------ */


/* --------------------------------list------------------------------ */
section[data-layout="list"] {padding: 16vw 0; background-color: #F8F8F8;}
section[data-layout="list"] .list li {position: relative;}
section[data-layout="list"] .list li:not(:last-child) {margin-bottom: 3.2vw;}
section[data-layout="list"] .list .new::after {content: ""; position: absolute; width: 1.6vw; height: 1.6vw; background-color: #DD3636; border-radius: 100%;}
section[data-layout="list"] .list a {display: block; width: 100%; background-color: #fff; border-radius: 3vw; box-shadow: 0 1vw 3.6vw 0 rgba(0, 0, 0, 0.03);}
section[data-layout="list"] .list .list_date {font-size: 2.4vw; color: #757575; line-height: 100%;}
/*공지*/
section[data-layout="list"] .list[data-layout="notice"] .new::after {right: 1.6vw; top: 2vw;}
section[data-layout="list"] .list[data-layout="notice"] a {padding: 3.2vw;}
section[data-layout="list"] .list[data-layout="notice"] .list_title {display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden; font-size: 2.8vw; font-weight: 500; line-height: 142%; color: #222;}
section[data-layout="list"] .list[data-layout="notice"] .list_date {margin-top: 1.2vw;}
/*문의*/
section[data-layout="list"] .list[data-layout="inquiry"] .new::after {right: 2.4vw; top: 2.4vw;}
section[data-layout="list"] .list[data-layout="inquiry"] a {padding: 4.8vw 4.2vw 4.8vw 3.2vw;}
section[data-layout="list"] .list[data-layout="inquiry"] .progress {position: absolute; right: 4.2vw; top: 4.2vw; padding: 0.8vw 1.4vw; line-height: 100%; font-weight: 500; border-radius: 100vw; font-size: 2vw; color: #fff; background-color: #414658; border: 0.2vw solid #313647;}
section[data-layout="list"] .list[data-layout="inquiry"] .progress.done {background-color: #F6F7FE; border: 0.2vw solid #D2D7E7; color: #414658;}
section[data-layout="list"] .list[data-layout="inquiry"] .list_cate {color: #313647; font-weight: 600; font-size: 2.8vw;}
section[data-layout="list"] .list[data-layout="inquiry"] .list_title {display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden; margin-top: 2vw; font-size: 2.8vw; line-height: 142%;}
section[data-layout="list"] .list[data-layout="inquiry"] .list_date {margin-top: 3.2vw;}
/*알림*/
section[data-layout="list"] .list[data-layout="notification"] .new::after {right: 3.2vw; top: 3.2vw;}
section[data-layout="list"] .list[data-layout="notification"] a {padding: 4.8vw 5.2vw 4.8vw 7.6vw;}
section[data-layout="list"] .list[data-layout="notification"] .list_title {font-weight: 500; color: #222; font-size: 3.2vw; line-height: 150%;}
section[data-layout="list"] .list[data-layout="notification"] .list_title span {font-weight: 700;}
section[data-layout="list"] .list[data-layout="notification"] .list_desc {margin-top: 1.6vw; font-size: 2.8vw; line-height: 156%;}
section[data-layout="list"] .list[data-layout="notification"] .list_date {margin-top: 3.2vw;}
section[data-layout="list"] .list[data-layout="notification"] .ico {position: absolute; left: 3.2vw; top: 5.4vw; width: 3.6vw; height: 3.6vw; background-size: 100% auto; background-repeat: no-repeat; background-position: center;}
section[data-layout="list"] .list[data-layout="notification"] .ico[data-layout="point"] {background-image: url(/public/front/images/common/ico_noti_point.svg);}
section[data-layout="list"] .list[data-layout="notification"] .ico[data-layout="info"] {background-image: url(/public/front/images/common/ico_noti_info.svg);}
section[data-layout="list"] .list[data-layout="notification"] .done .list_title {color: #666;}
section[data-layout="list"] .list[data-layout="notification"] .done .list_desc {color: #757575;}
section[data-layout="list"] .list[data-layout="notification"] .done .ico[data-layout="point"],
section[data-layout="list"] .list[data-layout="notification"] .done .ico[data-layout="info"] {filter : grayscale(1);}
@media only screen and (max-width:500px){
    section[data-layout="list"] {padding: 80px 0;}
    section[data-layout="list"] .list li:not(:last-child) {margin-bottom: 16px;}
    section[data-layout="list"] .list .new::after {width: 8px; height: 8px;}
    section[data-layout="list"] .list a {border-radius: 15px; box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.03);}
    section[data-layout="list"] .list .list_date { font-size: 12px;}
    /*공지*/
    section[data-layout="list"] .list[data-layout="notice"] .new::after {right: 8px; top: 10px;}
    section[data-layout="list"] .list[data-layout="notice"] a {padding: 16px;}
    section[data-layout="list"] .list[data-layout="notice"] .list_title {font-size: 14px;}
    section[data-layout="list"] .list[data-layout="notice"] .list_date {margin-top: 6px;}
    /*문의*/
    section[data-layout="list"] .list[data-layout="inquiry"] .new::after {right: 12px; top: 12px;}
    section[data-layout="list"] .list[data-layout="inquiry"] a {padding: 24px 21px 24px 16px;}
    section[data-layout="list"] .list[data-layout="inquiry"] .progress {right: 21px; top: 21px; padding: 4px 7px; border-radius: 50px; font-size: 10px; border: 1px solid #313647;}
    section[data-layout="list"] .list[data-layout="inquiry"] .progress.done {border: 1px solid #D2D7E7;}
    section[data-layout="list"] .list[data-layout="inquiry"] .list_cate {font-size: 14px;}
    section[data-layout="list"] .list[data-layout="inquiry"] .list_title {margin-top: 10px; font-size: 14px;}
    section[data-layout="list"] .list[data-layout="inquiry"] .list_date {margin-top: 16px;}
    /*알림*/
    section[data-layout="list"] .list[data-layout="notification"] .new::after {right: 16px; top: 16px;}
    section[data-layout="list"] .list[data-layout="notification"] a {padding: 24px 36px 24px 38px;}
    section[data-layout="list"] .list[data-layout="notification"] .list_title {font-size: 16px;}
    section[data-layout="list"] .list[data-layout="notification"] .list_desc {margin-top: 8px; font-size: 14px;}
    section[data-layout="list"] .list[data-layout="notification"] .list_date {margin-top: 16px;}
    section[data-layout="list"] .list[data-layout="notification"] .ico {left: 16px; top: 27px; width: 18px; height: 18px;}
}
/* --------------------------------list end------------------------------ */
