@charset "utf-8";
@import url(../css/font.css);

/* --------------------------------reset-------------------------------- */
[lang="ko"]{word-break: keep-all}
*{margin:0;padding:0;box-sizing:border-box;font:inherit;color:inherit;flex-shrink:0;}
html, body {font-size:16px; color: #444444;}
html, body, button, input, select, table, textarea {font-family: 'Pretendard', 'Outfit', sans-serif;}
h1, h2, h3, h4, h5, h6 {font-size:inherit;line-height:inherit}
ul,ol,dl,menu,li {list-style:none}
a, a:active, a:hover {text-decoration:none}
button, input {-webkit-border-radius:0;border-radius:0;border:0}
button {background-color:transparent}
blockquote, q {quotes:none;}
:after, :before {box-sizing:inherit}
img, picture, video, canvas, svg {display:block;max-width:100%;}
fieldset,img {border:0}
iframe {overflow:hidden;margin:0;border:0;padding:0;vertical-align:top}
address, em,i {font-style:normal}
textarea {-webkit-backface-visibility:hidden;backface-visibility:hidden;background-color:transparent;border:0;word-break:keep-all;word-wrap:break-word}
table {border-collapse:collapse;border-spacing:0}
td, th {padding:0}
input, select, textarea {vertical-align: middle;outline: none;box-sizing: border-box;border-radius: 0;appearance:none;-moz-appearance: none;-webkit-appearance: none;
appearance: none;}
input[type=text]::-ms-clear{display: none;} 
/* --------------------------------reset end--------------------------- */


/* --------------------------------common-------------------------------- */
html.ofy_hidden {height: calc(var(--var, 1vh) * 100);}
html.ofy_hidden body {height: 100%; overflow: hidden;}
#wrapper {text-size-adjust: none;-webkit-text-size-adjust:none;}
#container {width: 100%; overflow-x: hidden;}
section {position: relative;}
.inner {position: relative; width: 91%; margin: 0 auto;}
.blind {border: 0; clip: rect(0 0 0 0); clip-path: inset(50%); width: 1px; height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; white-space: nowrap;}
.clearfix::after {content:""; clear: both; display: block;}
.skip a {position: absolute; left: 0; top: -8vw; background: rgba(0,0,0,0.7); width: 100%; height: 8vw; text-align: center; color: #fff; z-index: 999; line-height: 8vw; opacity: 0; font-size: 2.8vw; transition: all 0.5s}
.skip.on a {top: 0; opacity: 1;}
.swiper-wrapper {height: auto}
@media only screen and (max-width:500px){
    .skip a {top: -40px; height: 40px; line-height: 40px; font-size: 14px;}
}
/* --------------------------------common end-------------------------------- */


/* --------------------------------button-------------------------------- */
[class*="btn_type_"] {display: block; width: 100%; color: #fff; text-align: center; font-weight: 600;}
[class*="btn_type_"]::after {content: ""; display: inline-block; margin-left: 0.8vw; vertical-align: text-top; background: url(/public/front/images/main/icon_right.svg) no-repeat center/cover;}
[class*="btn_type_"][data-color="red"] {background-color: #DD3636 }
[class*="btn_type_"][data-color="darkblue"] {background-color: #414658;}
[class*="btn_type_"][data-ico="none"]::after {display: none;}
.btn_type_01 {height: 11.2vw; line-height: 11.2vw; border-radius: 2.8vw; font-size: 3.2vw;}
.btn_type_01::after {width: 3.6vw; height: 3.6vw;}
.btn_type_02 {height: 9.2vw; line-height: 9.2vw; border-radius: 2.4vw; font-size: 2.8vw;}
.btn_type_02::after {width: 3.2vw; height: 3.2vw;}
@media only screen and (max-width:500px){
    [class*="btn_type_"]::after {margin-left: 4px;}
    .btn_type_01 {height: 56px; line-height: 56px; border-radius: 14px; font-size: 16px;}
    .btn_type_01::after {width: 18px; height: 18px;}
    .btn_type_02 {height: 46px; line-height: 46px; border-radius: 12px; font-size: 14px;}
    .btn_type_02::after {width: 16px; height: 16px;}
}
/* --------------------------------button end-------------------------------- */




.input_wrap[data-layout="text"] input {width: 100%; height: 9.6vw; border: 0.2vw solid #E4E4E4;}
.input_wrap[data-layout="select"] .btn_select {position: relative; display: block; width: 100%; text-align: left; height: 9.6vw; padding: 0 3.2vw; line-height: 9.6vw; border-radius: 2vw; font-size: 2.8vw; border: 0.2vw solid #414658;}
.input_wrap[data-layout="select"] .btn_select::after {content: ""; position: absolute; right: 3.2vw; top: 50%; width: 3.2vw; height: 3.2vw; transform: translateY(-50%); background: url(/public/front/images/common/ico_down_c222.svg) no-repeat center/100% auto;}
.input_wrap[data-layout="select"] .btn_select.on::after {transform:  translateY(-50%) rotate(180deg);}


@media only screen and (max-width:500px){
    .input_wrap[data-layout="select"] .btn_select {height:48px; padding: 0 16px; line-height: 48px; border-radius: 10px; font-size: 14px; border: 1px solid #414658;}
}


/* --------------------------------header-------------------------------- */
#header {position: fixed; left: 0; top: 0; width: 100%; height: 9.6vw; background-color: #fff; z-index: 998;}
#header .inner {display: flex; align-items: center; justify-content: space-between; height: 100%;}
#header .logo {width: 9.6vw; height: 7.6vw;}
#header .logo a {display: block; width: 100%; height: 100%; background: url(/public/front/images/common/logo.svg) no-repeat center/100% auto;}
#header .logo img {width: 100%;}
#header .flex_wrap {display: flex; align-items: center; gap: 1.2vw;}
#header .flex_wrap a {position: relative; display: block; width: 6vw; height: 7.6vw; background-size: 5.2vw auto; background-repeat: no-repeat; background-position: center;}
#header .point {margin-right: 1.6vw;}
#header .point a {display: flex; align-items: center; width: auto;}
#header .point .flex_wrap {justify-content: center; gap: 0.8vw; padding: 1.2vw 2.4vw; border: 0.2vw solid #E1E6F5; border-radius: 40vw; background-color: #fafbfe;}
#header .point figure {width: 2.8vw; height: 2.8vw; background: url(/public/front/images/common/ico_point.svg) no-repeat center/100% auto;}
#header .point span {display: block; line-height: 100%; font-weight: 600; font-size: 2.8vw; color: #414658;}
#header .notice a {background-image: url(/public/front/images/common/ico_notify.svg);}
#header .notice.on a {background-image: url(/public/front/images/common/ico_notify_on.svg);}
#header .maypage a {background-image: url(/public/front/images/common/ico_mypage.svg);}
#header .menu a {background-image: url(/public/front/images/common/ico_menu.svg);}
/* 헤더 : 이전으로 */
#header[data-type="prev"] {border-bottom: 0.2vw solid #EBEBEB;}
#header[data-type="prev"] .btn_back {position: absolute; left: -2vw; top: 50%; width: 6vw; height: 7.6vw; background: url(/public/front/images/common/ico_prev.svg) no-repeat center/1.8vw auto; transform: translateY(-50%); cursor: pointer;}
#header[data-type="prev"] .page_title {width: 100%; text-align: center; font-size: 2.8vw; font-weight: 500; color: #000;}
@media only screen and (max-width:500px){
    #header {height: 48px;}
    #header .logo {width: 48px; height: 38px;}
    #header .flex_wrap {gap: 6px;}
    #header .flex_wrap a {width: 30px; height: 38px; background-size: 26px auto;}
    #header .point {margin-right: 8px;}
    #header .point .flex_wrap {gap: 4px; padding: 6px 12px; border: 1px solid #E1E6F5; border-radius: 200px;}
    #header .point a {width: auto;}
    #header .point figure {width: 14px; height: 14px}
    #header .point span {font-size: 14px;}
    /* 헤더 : 이전으로 */
    #header[data-type="prev"] {border-bottom: 1px solid #EBEBEB;}
    #header[data-type="prev"] .btn_back {left: -10px; width: 30px; height: 38px; background: url(/public/front/images/common/ico_prev.svg) no-repeat center/9px auto;}
    #header[data-type="prev"] .page_title {font-size: 14px;}
}
/* --------------------------------header end-------------------------------- */


/* --------------------------------footer-------------------------------- */
#footer {width: 100%; padding: 6.4vw 0 20.8vw 0; background-color: #fff; color: #555}
#footer .title {font-size: 2.4vw; font-weight: 600; line-height: 100%;}
#footer .btn_wrap {display: flex; gap: 2.4vw; margin-top: 4.8vw;}
#footer .btn_wrap li {flex: 1;}
#footer .btn_wrap a {display: block; width: 100%; text-align: center; color: #666; font-weight: 600}
#footer .desc {margin-top: 3.2vw;}
#footer .desc li {font-size: 2.4vw; color: #757575; line-height: 100%;}
#footer .desc li:not(:last-child) {margin-bottom: 2vw;}
#footer .desc li span {font-weight: 600;}
#footer .name {margin-top: 4.8vw;}
#footer .copyright {margin-top: 1.6vw; font-size: 2.4vw; color: #B1B1B1; line-height: 100%;}
#footer .top {padding-bottom: 4.8vw; border-bottom: 0.2vw solid #EBEBEB;}
#footer .top .btn_wrap a {height: 8vw; line-height: calc(8vw - 0.2vw); border-radius: 2vw; font-size: 2.8vw; border: 0.2vw solid #666;}
#footer .bot .btn_wrap a {height: 6vw; line-height: 6vw; border-radius: 1.2vw; font-size: 2.4vw; background-color: #F3F3F3;}
#footer .bot .btn_wrap li:nth-child(1) a {color: #313647;}
#footer .bot .btn_wrap li:nth-child(2) a {font-weight: 500;}
@media only screen and (max-width:500px){
    #footer {padding: 32px 0 104px 0;}
    #footer .title {font-size: 14px;}
    #footer .btn_wrap {gap: 12px; margin-top: 24px;}
    #footer .desc {margin-top: 16px;}
    #footer .desc li {font-size: 12px} 
    #footer .desc li:not(:last-child) {margin-bottom: 10px;}
    #footer .name {margin-top: 24px;}
    #footer .copyright {margin-top: 8px; font-size: 12px;}
    #footer .top {padding-bottom: 24px; border-bottom: 1px solid #EBEBEB;}
    #footer .top .btn_wrap a {height: 40px;  line-height: calc(40px - 2px); border-radius: 10px; font-size: 14px; border: 1px solid #666;}
    #footer .bot .btn_wrap a {height: 30px; line-height: 30px; border-radius: 6px; font-size: 12px;}
}
/* --------------------------------footer end-------------------------------- */


/* --------------------------------fnb-------------------------------- */
#fnb {position: fixed; left: 0; bottom: 0; width: 100%; border-radius: 3.2vw 3.2vw 0 0; -webkit-box-shadow: 0.4vw -1.6vw 3.4vw 1vw rgba(0,0,0,0.1); box-shadow: 0.4vw -1.6vw 3.4vw 1vw rgba(0,0,0,0.1); background-color: #fff; z-index: 998;}
#fnb ul {display: flex; justify-content: center; width: 100%;}
#fnb li {flex: 1;}
#fnb a {display: block; padding: 2vw 0 4.8vw 0; text-align: center;}
#fnb figure {width: 2.8vw; height: 2.8vw; margin: 0 auto 4px; background-size: cover; background-repeat: no-repeat; background-position: center;}
#fnb .home figure {background-image: url(/public/front/images/common/ico_home.svg);}
#fnb .message figure {background-image: url(/public/front/images/common/ico_message.svg);}
#fnb .mission figure {background-image: url(/public/front/images/common/ico_mission.svg);}
#fnb .donation figure {background-image: url(/public/front/images/common/ico_donation.svg);}
#fnb .exchange figure {background-image: url(/public/front/images/common/ico_exchange.svg);}
#fnb span {display: block; font-size: 2vw; line-height: 100%;}
#fnb .on.home figure {background-image: url(/public/front/images/common/ico_home_on.svg);}
#fnb .on.message figure {background-image: url(/public/front/images/common/ico_message_on.svg);}
#fnb .on.mission figure {background-image: url(/public/front/images/common/ico_mission_on.svg);}
#fnb .on.donation figure {background-image: url(/public/front/images/common/ico_donation_on.svg);}
#fnb .on.exchange figure {background-image: url(/public/front/images/common/ico_exchange_on.svg);}
#fnb .on span {color: #DD3636; font-weight: 600;}
@media only screen and (max-width:500px){
    #fnb {border-radius: 16px 16px 0 0; -webkit-box-shadow: 2px -8px 17px -5px rgba(0,0,0,0.1); box-shadow: 2px -8px 17px -5px rgba(0,0,0,0.1);}
    #fnb a {padding: 10px 0 24px 0;}
    #fnb figure {width: 24px; height: 24px;}
    #fnb span {font-size: 10px;}
}
/* --------------------------------fnb end-------------------------------- */



/* --------------------------------popup------------------------------ */
#popup_all .popup {display: none; align-items: center; justify-content: center; position: fixed; left: 0; top: 0; width: 100%; height: calc(var(--var, 1vh) * 100); background: rgba(0, 0, 0, 0.5); z-index:999;}
#popup_all .popup.active {display: flex;}
#popup_all .popup_inner {position: relative; width: 91%; height: auto; padding: 8vw 3.2vw; border-radius: 3vw; background: #fff;}
#popup_all .popup_inner[data-layout="type_01"] {padding: 8vw 3.2vw 3.2vw;}
#popup_all .btn_popup_close[data-layout="icon"] {position: absolute; right: 0; top: -5.6vw; width: 4.8vw; height: 4.8vw; background: url(/public/front/images/common/ico_close.svg) no-repeat center/4vw auto;}
#popup_all .title {font-size: 3.6vw; font-weight: 600; line-height: 144%; color: #222;}
#popup_all .title img {display: inline-block; width: auto; height: 3.2vw; margin: 0 0.4vw; vertical-align: -0.2vw;} 
#popup_all .sub_title {font-size: 3.2vw; font-weight: 500; line-height: 144%; color: #222;}
#popup_all .desc {margin-top: 1.6vw; font-size: 2.8vw; color: #444; line-height: 155%;}
#popup_all .desc:first-of-type {margin-top: 3.2vw;}
#popup_all .desc span {font-weight: 600;}
#popup_all .btn_wrap {margin-top: 6.4vw;}
#popup_all .btn_wrap li:not(:last-child) {margin-bottom: 1.6vw;}
#popup_all .btn_wrap [class^="btn_"] {display: block; width: 100%; height: 9.6vw; border-radius: 2.6vw; font-weight: 600; text-align: center; font-size: 2.8vw; line-height: 9.6vw;}
#popup_all .btn_wrap .btn_type_01 {background-color: #DD3636; color: #fff;}
#popup_all .btn_wrap .btn_type_02 {background-color: #EBEBEB;}
@media only screen and (max-width:500px){
    #popup_all .popup_inner {padding: 40px 16px; border-radius: 15px;}
    #popup_all .popup_inner[data-layout="type_01"] {padding: 40px 16px 16px;}
    #popup_all .btn_popup_close[data-layout="icon"] {top: -28px; width: 24px; height: 24px; background: url(/public/front/images/common/ico_close.svg) no-repeat center/20px auto;}
    #popup_all .title {font-size: 18px;}
    #popup_all .title img {height: 16px; vertical-align: -1px;}
    #popup_all .sub_title {font-size: 16px;}
    #popup_all .desc {margin-top: 8px; font-size: 14px;}
    #popup_all .desc:first-of-type {margin-top: 16px;}
    #popup_all .btn_wrap {margin-top: 32px;}
    #popup_all .btn_wrap li:not(:last-child) {margin-bottom: 8px;}
    #popup_all .btn_wrap [class^="btn_"]  {height: 48px; line-height: 48px; font-size: 14px; border-radius: 13px;}
}
/* --------------------------------popup end------------------------------ */