/* --------------------------------inquiry common-------------------------------- */
[class^="inquiry_sec"] {padding: 14.4vw 0 8vw 0;}
[class^="inquiry_sec"] .title_wrap {margin-bottom: 4.8vw;}
[class^="inquiry_sec"] .title {font-size: 3.2vw; font-weight: 500; line-height: 100%; color:#222;}
[class^="inquiry_sec"] .desc {margin-top: 1.6vw; font-size: 2.4vw; color: #666; line-height: 100%;}
[class^="inquiry_sec"] .desc[data-layout="info"] {color: #757575;}
[class^="inquiry_sec"] .desc[data-layout="info"] li {display: flex; gap: 1.6vw; align-items: flex-start;}
[class^="inquiry_sec"] .desc[data-layout="info"] li:not(:last-child) {margin-bottom: 1.2vw;}
[class^="inquiry_sec"] .desc[data-layout="info"] li span {display: block; width: 0.6vw; height: 0.6vw; margin-top: 0.8vw; border-radius: 100%; background-color: #757575;}
[class^="inquiry_sec"] .desc[data-layout="info"] li p {width: calc(100% - 0.6vw - 1.6vw);}
/*faq*/
.faq_title {display: inline-block; padding: 1.6vw 2.4vw; font-size: 2.8vw; line-height: 100%; color: #757575; font-weight: 500; border: 0.2vw solid #E4E4E4; border-radius: 10vw}
.faq_title img {display: inline-block; width: auto; height: 2.8vw; vertical-align: top;}
.faq_list li {border-bottom: 0.2vw solid #EBEBEB;}
.faq_list .que {position: relative; display: flex; width: 100%; padding:4.4vw 6.4vw 4.4vw 3.2vw; font-size: 2.8vw; font-weight: 500; line-height: 156%; text-align: left;}
.faq_list .que::after {content: ""; position: absolute;  right: 1.6vw; top: 5vw; width: 3.2vw; height: 3.2vw; background: url(/public/front/images/common/ico_down_c222.svg) no-repeat center/100% auto;}
.faq_list .que span {display: block; width: 10.8vw; color: #DD3636;}
.faq_list .que h6 {width: calc(100% - 10.8vw); padding-left: 1.6vw;}
.faq_list .ans {padding: 4.4vw 3.2vw; background-color: #F8F8F8; font-size: 2.8vw; display: none;}
.faq_list li.on {border-bottom: 0.2vw solid #757575;}
.faq_list li.on .que {font-weight: 600;}
.faq_list li.on .que::after {transform: rotate(180deg);}
.faq_list li.on .que h6 {color: #222;}
@media only screen and (max-width:500px){
    [class^="inquiry_sec"] {padding: 72px 0 40px 0;}
    [class^="inquiry_sec"] .title_wrap {margin-bottom: 24px;}
    [class^="inquiry_sec"] .title {font-size: 16px;}
    [class^="inquiry_sec"] .desc {margin-top: 8px; font-size: 12px;}
    [class^="inquiry_sec"] .desc[data-layout="info"] li {gap: 8px;}
    [class^="inquiry_sec"] .desc[data-layout="info"] li:not(:last-child) {margin-bottom: 6px;}
    [class^="inquiry_sec"] .desc[data-layout="info"] li span {width: 3px; height: 3px; margin-top: 4px;}
    [class^="inquiry_sec"] .desc[data-layout="info"] li p {width: calc(100% - 3px - 8px);}
    /*faq*/
    .faq_title {padding: 8px 12px; font-size: 14px; border-radius: 50px; border: 1px solid #E4E4E4;}
    .faq_title img {height: 14px;}
    .faq_list li {border-bottom: 1px solid #EBEBEB;}
    .faq_list .que {padding: 22px 32px 22px 16px; font-size: 14px;}
    .faq_list .que::after {right: 8px; top: 25px; width: 16px; height: 16px;}
    .faq_list .que span {width: 54px;}
    .faq_list .que h6 {width: calc(100% - 54px); padding-left: 8px;}
    .faq_list .ans {padding: 22px 16px; font-size: 14px;}
    .faq_list li.on {border-bottom: 1px solid #757575;}
}
/* --------------------------------inquiry common end-------------------------------- */


/* --------------------------------inquiry main-------------------------------- */
.inquiry_sec_01[data-layout="main"] {border-bottom: 1.6vw solid #F3F3F3;}
.inquiry_sec_01[data-layout="main"] .faq_list {margin-bottom: 4.8vw}

.inquiry_sec_02[data-layout="main"] {padding: 8vw 0;}
.inquiry_sec_02[data-layout="main"] .cont_wrap {margin-bottom: 8vw;}
.inquiry_sec_02[data-layout="main"] .desc[data-layout="info"] {margin-top: 0; padding-top: 3.2vw; border-top: 0.2vw solid #EBEBEB;}
.inquiry_sec_02[data-layout="main"] .cont_wrap[data-layout="ck"] {margin-top: -4.8vw; padding: 3.2vw; border-radius: 2vw; background-color: #F3F3F3;}
.inquiry_sec_02[data-layout="main"] .cont_wrap[data-layout="ck"] .btn_popup {position: absolute; right: -2vw; top: 50%; width: 6vw; height: 6vw; background: url(/public/front/images/common/ico_prev.svg) no-repeat center/1.4vw auto; transform: translateY(-50%) rotate(180deg);}
@media only screen and (max-width:500px){
    .inquiry_sec_01[data-layout="main"] {border-bottom: 8px solid #F3F3F3;}
    .inquiry_sec_01[data-layout="main"] .faq_list {margin-bottom: 24px;}

    .inquiry_sec_02[data-layout="main"] {padding: 40px 0;}
    .inquiry_sec_02[data-layout="main"] .cont_wrap {margin-bottom: 40px;}
    .inquiry_sec_02[data-layout="main"] .desc[data-layout="info"] {padding-top: 16px; border-top: 1px solid #EBEBEB;}
    .inquiry_sec_02[data-layout="main"] .cont_wrap[data-layout="ck"] {margin-top: -24px; padding: 16px; border-radius: 10px;}
    .inquiry_sec_02[data-layout="main"] .cont_wrap[data-layout="ck"] .btn_popup {right: -10px; width: 30px; height: 30px; background: url(/public/front/images/common/ico_prev.svg) no-repeat center/7px auto;}
}
/* --------------------------------inquiry main end-------------------------------- */


/* --------------------------------inquiry login-------------------------------- */
.inquiry_sec_01[data-layout="login"] {padding: 24vw 0 20vw 0; border-bottom: 0;}
.inquiry_sec_01[data-layout="login"] .title {font-size: 3.6vw; line-height: 100%; font-weight: 600; color: #222; text-align: center;}
.inquiry_sec_01[data-layout="login"] [class*="btn_type_"] {margin-top: 6.4vw}
.inquiry_sec_01[data-layout="login"] [class*="btn_type_"]::after {display: none;}
.inquiry_sec_01[data-layout="login"] .top {padding-bottom: 11.2vw; border-bottom: 0.2vw solid #EBEBEB;}
.inquiry_sec_01[data-layout="login"] .bot {padding-top: 11.2vw}
.inquiry_sec_01[data-layout="login"] .bot .title {margin-bottom: 3.2vw;}
.inquiry_sec_01[data-layout="login"] .bot .desc {margin-bottom: 4.8vw; text-align: center; font-size: 2.8vw; line-height: 156%;}
@media only screen and (max-width:500px){
    .inquiry_sec_01[data-layout="login"] {padding: 120px 0 100px 0;}
    .inquiry_sec_01[data-layout="login"] .title {font-size: 18px;}
    .inquiry_sec_01[data-layout="login"] [class*="btn_type_"] {margin-top: 32px}
    .inquiry_sec_01[data-layout="login"] .top {padding-bottom: 56px; border-bottom: 1px solid #EBEBEB;}
    .inquiry_sec_01[data-layout="login"] .bot {padding-top: 56px;}
    .inquiry_sec_01[data-layout="login"] .bot .title {margin-bottom: 16px;}
    .inquiry_sec_01[data-layout="login"] .bot .desc {margin-bottom: 24px; font-size: 14px;}
}
/* --------------------------------inquiry login end-------------------------------- */


/* --------------------------------inquiry list-------------------------------- */
/*.inquiry_sec_01[data-layout="list"] .list .new::after {right: 2.4vw; top: 2.4vw;}*/
/*.inquiry_sec_01[data-layout="list"] .list a {padding: 4.8vw 5.2vw 4.8vw 3.2vw;}*/
/*.inquiry_sec_01[data-layout="list"] .progress {position: absolute; right: 4.2vw; top: 4.2vw; padding: 0.8vw 1.4vw; line-height: 100%; font-weight: 500; border-radius: 100vw; font-size: 2vw; color: #fff; background-color: #414658; border: 0.2vw solid #313647;}*/
/*.inquiry_sec_01[data-layout="list"] .progress.done {background-color: #F6F7FE; border: 0.2vw solid #D2D7E7; color: #414658;}*/
/*.inquiry_sec_01[data-layout="list"] .sub_title {color: #313647; font-weight: 600; font-size: 2.8vw;}*/
/*.inquiry_sec_01[data-layout="list"] .title {margin-top: 2vw; color: #444;}*/
/*.inquiry_sec_01[data-layout="list"] .date {margin-top: 3.2vw;}*/
/*@media only screen and (max-width:500px){*/
/*    .inquiry_sec_01[data-layout="list"] .list .new::after {right: 12px; top: 12px;}*/
/*    .inquiry_sec_01[data-layout="list"] .list a {padding: 24px 26px 24px 16px;}*/
/*    .inquiry_sec_01[data-layout="list"] .progress {right: 21px; top: 21px; padding: 4px 7px; border-radius: 50px; font-size: 10px; border: 1px solid #313647;}*/
/*    .inquiry_sec_01[data-layout="list"] .sub_title {font-size: 14px;}*/
/*    .inquiry_sec_01[data-layout="list"] .date {margin-top: 16px;}*/
/*}*/
/* --------------------------------inquiry list end-------------------------------- */


/* --------------------------------faq-------------------------------- */
.faq_sec_01 {padding-top: 16vw; background-color: #F8F8F8;}
.faq_sec_01 .search_wrap {position: relative; width: 100%;}
.faq_sec_01 .input_wrap input {padding: 0 10vw 0 3.2vw; border-radius: 6vw;}
.faq_sec_01 .btn_search {position: absolute; right: 0; top: 0; width: 10vw; height: 9.2vw; background: url(/public/front/images/common/ico_search.svg) no-repeat center/3.6vw auto;}
.faq_sec_01 .faq_wrap {position: relative; width:100%; padding-top: 24vw; z-index: 1}
.faq_sec_01 .faq_wrap ul::before {content: ""; position: absolute; left: 50%; bottom: 0; width: 109%; height: calc(100% - 24vw); border-radius: 8vw 0 0 0; box-shadow: 0px -0.8vw 56vw 4vw rgba(94, 94, 94, 0.02); transform: translateX(-50%); background-color: #fff; z-index: -1}
.faq_sec_01 .faq_wrap ul li {width: 100%;}
.faq_sec_01 [class^="tab_menu"] {position: absolute; width: calc((100% - 4.8vw)/4); height: 6.4vw; line-height: 6.4vw; font-size: 2.8vw; color: #666; font-weight: 500; border-radius: 10vw; background-color: #EBEBEB; text-align: center}
.faq_sec_01 .tab_menu_01 {left: 0; top: 3.2vw;}
.faq_sec_01 .tab_menu_02 {left: calc(25% + 0.4vw); top: 3.2vw;}
.faq_sec_01 .tab_menu_03 {left: calc(50% + 0.8vw); top: 3.2vw;}
.faq_sec_01 .tab_menu_04 {left: calc(75% + 1.2vw); top: 3.2vw;}
.faq_sec_01 .tab_menu_05 {left: 0; top: 11.2vw;}
.faq_sec_01 .tab_menu_06 {left: calc(25% + 0.4vw); top: 11.2vw;}
.faq_sec_01 .tab_menu_07 {left: calc(50% + 0.8vw); top: 11.2vw;}
.faq_sec_01 .tab_menu_08 {left: calc(75% + 1.2vw); top: 11.2vw;}
.faq_sec_01 .faq_wrap .faq_list {display: none;}
.faq_sec_01 .faq_wrap .faq_list.test {display: block;}
.faq_sec_01 .faq_wrap >ul >li.on [class^="tab_menu"] {background-color: #DD3636; color: #fff; font-weight: 600;}
.faq_sec_01 .faq_wrap >ul >li.on .faq_list {display: block;}
@media only screen and (max-width:500px){
    .faq_sec_01 {padding-top: 80px;}
    .faq_sec_01 .input_wrap input {padding: 0 50px 0 16px; border-radius: 30px;}
    .faq_sec_01 .btn_search {width: 50px; height: 46px; background: url(/public/front/images/common/ico_search.svg) no-repeat center/18px auto;}
    .faq_sec_01 .faq_wrap {padding-top: 120px;}
    .faq_sec_01 .faq_wrap ul::before {height: calc(100% - 120px); border-radius: 40px 0 0 0; box-shadow: 0px -4px 28px 20px rgba(94, 94, 94, 0.02);}
    .faq_sec_01 [class^="tab_menu"] {width: calc((100% - 24px)/4); height: 32px; line-height: 32px; font-size: 14px; border-radius: 50px;}
    .faq_sec_01 .tab_menu_01 {left: 0; top: 16px;}
    .faq_sec_01 .tab_menu_02 {left: calc(25% + 2px); top: 16px;}
    .faq_sec_01 .tab_menu_03 {left: calc(50% + 4px); top: 16px;}
    .faq_sec_01 .tab_menu_04 {left: calc(75% + 6px); top: 16px;}
    .faq_sec_01 .tab_menu_05 {left: 0; top: 56px;}
    .faq_sec_01 .tab_menu_06 {left: calc(25% + 2px); top: 56px;}
    .faq_sec_01 .tab_menu_07 {left: calc(50% + 4px); top: 56px;}
    .faq_sec_01 .tab_menu_08 {left: calc(75% + 6px); top: 56px;}
}
/* --------------------------------faq end-------------------------------- */