/* --------------------------------main common-------------------------------- */
#container {background-color: #F8F8F8}
section {overflow-x: hidden;}
section:not(:last-of-type) {padding-bottom: 8vw;}
.box {padding: 8vw 0; border-radius: 8vw; background-color: #fff; box-shadow: 0 -0.8vw 5.6vw 4vw rgba(94, 94, 94, 0.02);}
.main_tit {margin-bottom: 4.8vw; font-size: 3.6vw; font-weight: 500; line-height: 100%;}
.main_tit span {color: #DD3636; font-weight: 800;}
.main_tit img {display: inline-block; width: auto; height: 3.6vw; margin: 0 .4vw; vertical-align: top;}
.btn_wrap {margin-top: 4.8vw;}
@media only screen and (max-width:500px){
    section:not(:last-of-type) {padding-bottom: 40px;}
    .box {padding: 40px 0; border-radius: 40px; box-shadow: 0 -4px 28px 20px rgba(94, 94, 94, 0.02);}
    .main_tit {margin-bottom: 24px; font-size: 18px;}
    .main_tit img {height: 18px; margin: 0 2px;}
    .btn_wrap {margin-top: 24px;}
}
/* --------------------------------main common end-------------------------------- */


/* --------------------------------main_vis-------------------------------- */
.main_vis {width: 100%; padding-top: 14.4vw;}
.main_vis .swiper-slide {width: 100%; height: 107.6vw; border-radius: 10vw 3vw 3vw 3vw; background-size: cover; background-position: top center; background-repeat: no-repeat;}
.main_vis .control_wrap {display: flex; align-items: center; gap: 0.8vw; position: absolute; left: 50%; bottom: 6.4vw; transform: translateX(-50%); z-index: 10;}
.main_vis .swiper-button-prev,
.main_vis .swiper-button-next {position: static; width: 4.8vw; height: 4.8vw; margin: 0; background-size: 3.6vw auto; background-position: center; background-repeat: no-repeat;}
.main_vis .swiper-button-prev {background-image: url(/public/front/images/main/ico_line_circle_prev.svg);}
.main_vis .swiper-button-next {background-image: url(/public/front/images/main/ico_line_circle_next.svg);}
.main_vis .autoplay-control-wrap button {display: block; width: 4.8vw; height: 4.8vw; cursor: pointer;}
.main_vis .autoplay-control-wrap button:before {content: ''; display: block; width: 4.8vw; height: 4.8vw; background-size: 3.6vw auto; background-position: center; background-repeat: no-repeat;}
.main_vis .autoplay-control-wrap button[aria-pressed="false"]:before {background-image: url(/public/front/images/main/ico_line_circle_pause.svg);}
.main_vis .autoplay-control-wrap button[aria-pressed="true"]:before {background-image: url(/public/front/images/main/ico_line_circle_play.svg);}
.main_vis .swiper-pagination-wrap {display: flex; justify-content: center; gap: 1.2vw; margin-top: 1.6vw;}
.main_vis .swiper-pagination-bullet {display: block; width: 1.2vw; height: 1.2vw; background-color: #ccc; opacity: 1;}
.main_vis .swiper-pagination-bullet-active {width: 2.4vw; background-color: #414658; border-radius: 2vw;}

.main_vis .tag {display: inline-block; margin-bottom: 1.2vw; padding: 0.8vw 1.2vw; font-size: 2vw; text-align: center; background-color: #EBEBEB; color: #666666; border-radius: 10vw;}
.main_vis .title {display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden;}
.main_vis .top_banner {position: relative; display: block; width: 100%; padding: 34vw 3.2vw 2.4vw;}
.main_vis .top_banner .title {height: 11.2vw; font-size: 4vw; line-height: 140%; font-weight: 600; color: #fff;}
.main_vis .top_banner::after {content: ""; position: absolute; left: 50%; bottom: 0; width: 92%; height: 1px; border-bottom: 1px dashed rgba(204, 204, 204, 0.4); transform: translateX(-50%);}
.main_vis .bot_banner {padding: 3.2vw 3.2vw 0;}
.main_vis .bot_banner li {background-color: #fff; border-radius: 3vw;}
.main_vis .bot_banner li:not(:last-child) {margin-bottom: 2.4vw;}
.main_vis .bot_banner li a {display: flex; align-items: center; gap: 1.6vw; width: 100%; padding: 2.8vw 3.2vw 2.8vw 1.6vw;}
.main_vis .bot_banner figure {width: 10vw; height: 10vw; background: url(/public/front/images/main/ico_mission.svg) no-repeat center/100% auto;}
.main_vis .bot_banner .text {width: calc(100% - 1.6vw - 10vw);}
.main_vis .bot_banner .title {height: 7.8vw; line-height: 142%; font-size: 2.8vw; font-weight: 500;}
/* 연관미션 없는 배너 */
.main_vis [data-layout="no_mission"] .top_banner {width: 100%; height: 100%; padding: 0;}
.main_vis [data-layout="no_mission"] .title {position: absolute; left: 3.2vw; bottom: 9.6vw; width: calc(100% - 3.2vw - 3.2vw);}
@media only screen and (max-width:500px){
    .main_vis {padding-top: 72px;}
    .main_vis .swiper-slide {height: 500px; border-radius: 50px 15px 15px 15px;}
    .main_vis .control_wrap {gap: 4px; bottom: 23px;}
    .main_vis .swiper-button-prev,
    .main_vis .swiper-button-next {width: 24px; height: 24px; background-size: 18px auto;}
    .main_vis .autoplay-control-wrap button {width: 24px; height: 24px;}
    .main_vis .autoplay-control-wrap button:before {width: 24px; height: 24px; background-size: 18px auto;}
    .main_vis .swiper-pagination-wrap {gap: 6px; margin-top: 8px;}
    .main_vis .swiper-pagination-bullet {width: 6px; height: 6px;}
    .main_vis .swiper-pagination-bullet-active {width: 12px; border-radius: 10px;}

    .main_vis .tag {margin-bottom: 5px; font-size: 10px; border-radius: 50px;}
    .main_vis .top_banner {padding: 166px 16px 12px}
    .main_vis .top_banner .title {height: 56px; font-size: 20px;}
    .main_vis .bot_banner {padding: 16px 16px 0;}
    .main_vis .bot_banner li {border-radius: 15px;}
    .main_vis .bot_banner li:not(:last-child) {margin-bottom: 12px;}
    .main_vis .bot_banner li a {gap: 8px; padding: 11px 16px 11px 8px;}
    .main_vis .bot_banner figure {width: 50px; height: 50px;}
    .main_vis .bot_banner .text {width: calc(100% - 8px - 50px);}
    .main_vis .bot_banner .title {height: 39px; font-size: 14px;}

    .main_vis [data-layout="no_mission"] .title {left: 16px; bottom: 48px; width: calc(100% - 16px - 16px);}
}
/* --------------------------------main_vis end-------------------------------- */


/* --------------------------------main_sec_01-------------------------------- */
.main_sec_01 {width: 100%;}
.main_sec_01 .swiper-slide a {display: block; width: 100%; height: 0; padding-bottom: 43.75%; border-radius: 3vw; background-size: cover; background-repeat: no-repeat; background-position: center;}
.main_sec_01 .swiper-button-wrap {display: flex; position: absolute; right: 1.6vw; bottom: 1.6vw; z-index: 10;}
.main_sec_01 .swiper-button-prev,
.main_sec_01 .swiper-button-next {position: static; width: 4.8vw; height: 4.8vw; margin: 0; background-size: 100% auto; background-position: center; background-repeat: no-repeat;}
.main_sec_01 .swiper-button-prev {background-image: url(/public/front/images/main/ico_circle_prev.svg);}
.main_sec_01 .swiper-button-next {background-image: url(/public/front/images/main/ico_circle_next.svg);}
.main_sec_01 .swiper-pagination-wrap {position: absolute; left: auto; right: 2.2vw; top: 2.2vw; bottom: auto; width: 6.4vw; padding: 0.8vw 0; background-color: rgba(255, 255, 255, 0.5); z-index: 10; font-size: 2vw; letter-spacing: -0.25vw; border-radius: 10vw; text-align: center; font-weight: 700;}
.main_sec_01 .swiper-pagination-total {font-weight: 400;}
@media only screen and (max-width:500px){
    .main_sec_01 .swiper-slide a {border-radius: 15px;}
    .main_sec_01 .swiper-button-wrap {right: 8px; bottom: 8px;}
    .main_sec_01 .swiper-button-prev,
    .main_sec_01 .swiper-button-next {width: 24px; height: 24px;}
    .main_sec_01 .swiper-pagination-wrap {right: 11px; top: 11px; width: 34px; padding: 4px 0; font-size: 10px; border-radius: 50px;} 
}
/* --------------------------------main_sec_01 end-------------------------------- */


/* --------------------------------main_sec_02-------------------------------- */
.main_sec_02 .list >li:not(:last-child) {margin-bottom: 4.8vw; padding-bottom: 4.8vw; border-bottom: 0.2vw solid #F3F3F3;}
.main_sec_02 li a {display: flex; align-items: center; gap: 1.6vw; width: 100%;}
.main_sec_02 li figure {width: 21.2vw; height: 17.6vw; background-size: cover; background-position: center; background-repeat: no-repeat; border-radius: 4.8vw 1.6vw 1.6vw 1.6vw;}
.main_sec_02 li .text_box {width: calc(100% - 1.6vw - 21.2vw);}
.main_sec_02 li h3 {display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden; margin-bottom: 2.4vw; font-size: 2.8vw; line-height: 150%;}
.main_sec_02 .data_box {display: flex;}
.main_sec_02 .data_box li {position: relative; display: flex; align-items: center; gap: 0.4vw; padding: 1.2vw 0; font-size: 2.4vw; border-radius: 10vw;}
.main_sec_02 .data_box i {display: block; width: 2.6vw; height: 2.6vw; background-size: cover; background-repeat: no-repeat; background-position: center;}
.main_sec_02 .data_box .parti {margin-right: 2.4vw; padding: 1.8vw 2vw; font-weight: 600; color: #C42F2F; background-color: #FFF5F5;}
.main_sec_02 .data_box .parti i {background-image: url(/public/front/images/main/ico_parti.svg);}
.main_sec_02 .data_box .like {margin-right: 4.8vw;}
.main_sec_02 .data_box .like::after {content: ""; position: absolute; right: -2.4vw; top: 50%; width: 0.2vw; height: 2.4vw; background-color: #CCCCCC; transform: translateY(-50%);}
.main_sec_02 .data_box .like i {background-image: url(/public/front/images/main/ico_like.svg);}
.main_sec_02 .data_box .cmt i {background-image: url(/public/front/images/main/ico_cmt.svg);}
@media only screen and (max-width:500px){
    .main_sec_02 .list >li:not(:last-child) {margin-bottom: 24px; padding-bottom: 24px; border-bottom: 1px solid #F3F3F3;}
    .main_sec_02 li a {gap: 8px;}
    .main_sec_02 li figure {width: 106px; height: 88px; border-radius: 24px 8px 8px 8px;}
    .main_sec_02 li .text_box {width: calc(100% - 8px - 106px);}
    .main_sec_02 li h3 {margin-bottom: 12px; font-size: 14px;}
    .main_sec_02 .data_box li {gap: 2px; padding: 6px 0; font-size: 12px; border-radius: 50px;}
    .main_sec_02 .data_box i {width: 18px; height: 18px;}
    .main_sec_02 .data_box .parti {margin-right: 12px; padding: 6px 10px;}
    .main_sec_02 .data_box .like {margin-right: 24px;}
    .main_sec_02 .data_box .like::after {right: -12px; width: 1px; height: 12px;}
}
/* --------------------------------main_sec_02 end-------------------------------- */


/* --------------------------------main_sec_03-------------------------------- */
.main_sec_03 .top_box {position: relative; padding-bottom: 17.2vw;}
.main_sec_03 .top_box::after {content: "";  position: absolute;  left: 50%; bottom: 8vw; width: 110%; height: 1.2vw; transform: translateX(-50%); background-color: #F3F3F3;} 
.main_sec_03 .cont_wrap {text-align: center;}
.main_sec_03 .cont_wrap figure img {width: 100%;}
.main_sec_03 .cont_wrap h3 {position: relative; display: inline-block; margin-top: -1.6vw; padding: 2vw 3.2vw; background-color: #414658; border-radius: 100vw; color: #fff; box-shadow: 0 0.8vw 0 0 rgba(70, 70, 70, 0.15); font-weight: 500; font-size: 2.8vw; line-height: 100%;}
.main_sec_03 .cont_wrap h3::before {content: ""; position: absolute; left: 50%; top: -2vw; width: 3vw; height: 3vw; background: url(/public/front/images/main/polygon.svg) no-repeat center bottom/100% auto; transform: translateX(-50%);}
.main_sec_03 .cont_wrap h3::after {content: ""; display: inline-block; width: 2.8vw; height: 3.2vw; margin-left: 0.4vw; background: url(/public/front/images/main/title_fire.svg) no-repeat center bottom/100% auto; vertical-align: -0.6vw;}
.main_sec_03 .percentage {margin-top: -4.8vw;}
.main_sec_03 .num {display: flex; justify-content: space-between; width: 100%;}
.main_sec_03 .num li {width: 10.2vw; height: 7.4vw; padding-top: 1.2vw; background-position: center bottom; background-repeat: no-repeat; background-size: 100% auto; font-size: 2.4vw; color: #fff; line-height: 130%;}
.main_sec_03 .num li:first-child {background-image: url(/public/front/images/main/speech_bubble_01.svg);}
.main_sec_03 .num li:last-child {background-image: url(/public/front/images/main/speech_bubble_02.svg);}
.main_sec_03 .num span {font-weight: 800; font-weight: 3.2vw;}
.main_sec_03 .bar {position: relative; width: 100%; height: 2.4vw; margin-top: 0.8vw; background-color: #DD3636; border-radius: 10vw;}
.main_sec_03 .bar span {position: absolute; left: 0; top: 0; max-width: 100%; height: 100%; background-color: #414658; border-radius: 10vw;}

.main_sec_03 .bot_box ul {display: flex; gap: 2.4vw;}
.main_sec_03 .bot_box li {width: calc((100% - 2.4vw)/2);}
.main_sec_03 .bot_box a {position: relative; display: block; width: 100%; padding: 4.8vw 3.2vw 28vw; background-color: #4C526A; color: #fff;}
.main_sec_03 .bot_box li:first-child a {border-radius: 8vw 3vw 0 0;}
.main_sec_03 .bot_box li:last-child a {border-radius: 3vw 8vw 0 0;}
.main_sec_03 .bot_box h3 {margin-bottom: 3.2vw; font-size: 2.8vw; line-height: 100%;}
.main_sec_03 .bot_box h3 span {display: block; margin-top: 1.2vw; font-size: 4vw; line-height: 110%; font-weight: 600;}
.main_sec_03 .bot_box figure {position: absolute; right: 3.2vw; bottom: 4.8vw; width: 24vw; height: 20vw; background-size: 100% auto; background-position: center bottom; background-repeat: no-repeat;}
.main_sec_03 .bot_box li:first-child figure {background-image: url(/public/front/images/main/main_sec_03_img_03.png);}
.main_sec_03 .bot_box li:last-child figure {background-image: url(/public/front/images/main/main_sec_03_img_04.png);}
.main_sec_03 .btn_popup {display: block; width: 100%; padding: 1.6vw 0; font-weight: 600; font-size: 2.4vw; line-height: 110%; background-color: #EEF1FB; border-radius: 0 0 1.2vw 1.2vw; cursor: pointer;    }
.main_sec_03 .btn_popup::before {content: ""; display: inline-block; width: 2.8vw; height: 2.8vw; margin-right: 0.4vw; background: url(/public/front/images/main/ico_info.svg) no-repeat center/100% auto; vertical-align: text-top;}
@media only screen and (max-width:500px){
    .main_sec_03 .top_box {padding-bottom: 86px;}
    .main_sec_03 .top_box::after {bottom: 40px; height: 6px;}
    .main_sec_03 .cont_wrap h3 {margin-top: -8px; padding: 10px 16px; border-radius: 50px; box-shadow: 0 4px 0 0 rgba(70, 70, 70, 0.15); font-size: 14px;}
    .main_sec_03 .cont_wrap h3::before {top: -10px; width: 15px; height: 15px;}
    .main_sec_03 .cont_wrap h3::after {margin-left: 2px; width: 14px; height: 16px; vertical-align: -3px;}
    .main_sec_03 .percentage {margin-top: -24px;}
    .main_sec_03 .num li {width: 51px; height: 37px; padding-top: 6px; font-size: 12px;}
    .main_sec_03 .num span {font-size: 16px;}
    .main_sec_03 .bar {height: 12px; margin-top: 4px; border-radius: 50px;}
    .main_sec_03 .bar span {border-radius: 50px;}

    .main_sec_03 .bot_box ul {gap: 12px;}
    .main_sec_03 .bot_box li {width: calc((100% - 12px)/2);}
    .main_sec_03 .bot_box a {padding: 24px 16px 140px;}
    .main_sec_03 .bot_box li:first-child a {border-radius: 40px 15px 0 0;}
    .main_sec_03 .bot_box li:last-child a {border-radius: 15px 40px 0 0;}
    .main_sec_03 .bot_box h3 {font-size: 14px;}
    .main_sec_03 .bot_box h3 span {margin-top: 1.2vw; font-size: 20px;}
    .main_sec_03 .bot_box figure {right: 16px; bottom: 24px; width: 120px; height: 100px;}
    .main_sec_03 .btn_popup {padding: 8px 0; font-size: 12px; border-radius: 0 0 6px 6px;}
    .main_sec_03 .btn_popup::before {width: 14px; height: 14px; margin-right: 2px;}
}
/* --------------------------------main_sec_03 end-------------------------------- */


/* --------------------------------main_sec_04-------------------------------- */
.main_sec_04 {padding-bottom: 16vw;}
.main_sec_04 li:not(:last-child) {margin-bottom: 4.8vw; padding-bottom: 4.8vw; border-bottom: 0.2vw solid #EBEBEB;}
.main_sec_04 .list {display: block; width: 100%;}
.main_sec_04 .list figure {width: 100%; height: 28.8vw; margin-bottom: 2.4vw; border-radius: 3vw; background-size: cover; background-repeat: no-repeat; background-position: center;}
.main_sec_04 .text_box {display: flex; align-items: center; gap: 2vw; margin-bottom: 4.8vw;}
.main_sec_04 .percentage {position: relative;}
.main_sec_04 .bg,
.main_sec_04 .bg svg,
.main_sec_04 .round {width: 12vw; height: 12vw;}
.main_sec_04 .bg svg,
.main_sec_04 .round {stroke-width: 12%; stroke-linecap: round; fill: none;}
.main_sec_04 .bg {position: absolute; left: 0; top: 0;}
.main_sec_04 .bg svg {transform: rotate(-90deg); stroke: #E4E4E4; stroke-dasharray: 250 999;}
.main_sec_04 .round {position: relative; transform: rotate(-90deg); stroke: #DD3636; stroke-dasharray: 0 999; z-index: 10;}
.main_sec_04 .num {position: absolute; left: 0; top: 50%; width: 100%; text-align: center; transform: translateY(-50%); color: #414658; font-weight: 500; font-size: 2vw;}
.main_sec_04 .num span {font-size: 2.4vw; font-weight: 700;}
.main_sec_04 .title_wrap {width: calc(100% - 2vw - 12vw);}
.main_sec_04 .title_wrap h6 {white-space: nowrap; text-overflow: ellipsis; overflow: hidden; line-height: 100%; font-weight: 600; font-size: 3.2vw; color: #444;}
.main_sec_04 .title_wrap p {margin-top: 1.2vw; color: #666; line-height: 100%; font-size: 2.4vw;}
@media only screen and (max-width:500px){
    .main_sec_04 {padding-bottom: 80px;}
    .main_sec_04 li:not(:last-child) {margin-bottom: 24px; padding-bottom: 24px; border-bottom: 1px solid #EBEBEB;}
    .main_sec_04 .list figure {height: 144px; margin-bottom: 12px; border-radius: 15px;}
    .main_sec_04 .text_box {gap: 10px; margin-bottom: 24px;}
    .main_sec_04 .bg,
    .main_sec_04 .bg svg,
    .main_sec_04 .round {width: 48px; height: 48px;}
    .main_sec_04 .num {font-size: 10px;}
    .main_sec_04 .num span {font-size: 12px;}
    .main_sec_04 .title_wrap {width: calc(100% - 10px - 48px);}
    .main_sec_04 .title_wrap h6 {font-size: 16px;}
    .main_sec_04 .title_wrap p {margin-top: 6px; font-size: 12px;}
}
/* --------------------------------main_sec_04 end-------------------------------- */