/* --------------------------------message common-------------------------------- */
.sec_tit{color:#222;font-size:3.6vw;font-weight:600;line-height:100%;margin-bottom:3.2vw}

@media only screen and (max-width:500px) {
    .sec_tit {font-size:18px;margin-bottom:16px}
}
/* --------------------------------message common end-------------------------------- */



/* --------------------------------message list-------------------------------- */
.message_sec_01 .tab_menu_wrap{position:relative;padding-top:6.4vw}
.message_sec_01 .tab_menu{position:absolute;top:0;left:0;width:calc((100% - 8.4vw - 3.2vw)/2);height:6.4vw;color:#666;font-size:2.8vw;font-style:normal;display:flex;justify-content:center;align-items:center;font-weight:500;text-align:center;line-height:100%;border-radius:10vw;background-color:#EBEBEB}
.message_sec_01 .tab_menu_list li.on .tab_menu{font-weight:600;background-color:#DD3636;color:#FFF}
.message_sec_01 .tab_menu_02{left:calc((100% - 8.4vw)/2)}
.message_sec_01 .tab_menu_list li .tab_cont{display:none;margin-top:4.8vw}
.message_sec_01 .tab_menu_list li.on .tab_cont{display:block}
.message_sec_01[data-layout="list"] .list > li:not(:last-child){margin-bottom:4.8vw}
.message_sec_01 .list figure{width:100%;height:38vw;border-radius:3vw 3vw 0 0;background-size:cover;background-repeat:no-repeat;background-position:center}
.message_sec_01[data-layout="list"] .list .text_box{display:flex;align-items:center;flex-direction:column;gap:0}
.message_sec_01 .btn_search{width:8.4vw;height:6.4vw;background:url(/public/front/images/message/ico_search.svg) center center / 3.6vw auto no-repeat #414658;position:absolute;top:0;right:0;border-radius:4vw}
.message_sec_01 .flex_wrap{display:flex;justify-content:flex-start;align-items:center;gap:.8vw;margin:0 0 2vw}
.message_sec_01 .flex_wrap .opt_title{font-weight:400;font-size:2.6vw;color:#666}
.message_sec_01 .flex_wrap input[type="checkbox"]{position:relative;width:6.4vw;height:4vw;appearance:none;border:none;border-radius:3vw;background-color:#E9E9E9}
.message_sec_01 .flex_wrap input[type="checkbox"]::before{content:"";position:absolute;left:.6vw;top:.4vw;width:3.2vw;height:3.2vw;border-radius:100%;background-color:#fff;box-shadow:0 1.2vw 4vw 0 rgba(0,0,0,0.06);transition:left .25s linear}
.message_sec_01 .flex_wrap input[type="checkbox"]:checked{background-color:#DD3636}
.message_sec_01 .flex_wrap input[type="checkbox"]:checked::before{left:2.8vw}
.message_sec_01 .data_box{display:flex}
.message_sec_01 .data_box li{color:#fff;position:relative;display:flex;align-items:center;gap:.4vw;padding:0;font-size:2.4vw;border-radius:10vw;margin-bottom:0!important}
.message_sec_01 .data_box i{display:block;width:3.2vw;height:3.2vw;background-size:cover;background-repeat:no-repeat;background-position:center}
.message_sec_01 .data_box .parti{font-weight:400;color:#444}
.message_sec_01 .data_box .parti i{background-image:url(/public/front/images/main/ico_parti.svg)}
.message_sec_01 .data_box .like{margin-right:4.8vw}
.message_sec_01 .data_box .like::after{content:"";position:absolute;right:-2.4vw;top:50%;width:.2vw;height:2.4vw;background-color:#969CB2;transform:translateY(-50%);opacity:.5}
.message_sec_01 .data_box .like i{background-image:url(/public/front/images/main/ico_like_wh.svg)}
.message_sec_01 .data_box .cmt i{background-image:url(/public/front/images/main/ico_cmt_wh.svg)}
.message_sec_01 .label_wrap{display:flex;width:100%;height:6.8vw;justify-content:space-between;align-items:center;background:#414658;padding:1.6vw 3.2vw}
.message_sec_01 .label_wrap .list_label{color:#fff;display:flex;align-items:center;gap:.8vw;font-weight:600}
.message_sec_01 .label_wrap .list_label i{display:block;width:3.6vw;height:3.6vw;background-size:cover;background-repeat:no-repeat;background-position:center}
.message_sec_01 .label_wrap .list_label .ico_01{background-image:url(/public/front/images/message/ico_cate_people.svg)}
.message_sec_01 .title_wrap{width:100%;padding:4.8vw 3.2vw}
.message_sec_01 .title_wrap .list_tit{color:#222;font-size:3.2vw;font-weight:700;line-height:150%;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;overflow:hidden;word-break:break-all}
.message_sec_01 .title_wrap .data_box{margin:3.2vw 0 2.4vw}
.message_sec_01 .tag_list{display:flex;justify-content:flex-start;align-items:center;gap:1.2vw}
.message_sec_01 .tag_list li{text-align:center;padding:1.2vw 2.4vw;border-radius:10vw;background:#F6F6F6;color:#666;font-size:2.4vw;font-weight:500;line-height:100%;margin-bottom:0!important}
.message_sec_01 #tabPanel2 .sub_desc{width:100%;padding:4vw 3.2vw;border-radius:9.2vw 9.2vw 9.2vw 0;background:#FFF;margin:0 auto 4.8vw;color:#444;text-align:center;font-size:2.8vw;font-weight:600;line-height:158%}
.message_sec_01 #tabPanel2 .sub_desc span{font-weight:400;color:#757575}


@media only screen and (max-width:500px) {
    .message_sec_01 .tab_menu_wrap{padding-top:32px}
    .message_sec_01 .list figure{height:190px}
    .message_sec_01 .tab_menu_list{gap:8px}
    .message_sec_01 .tab_menu_list li .tab_cont{margin-top:24px}
    .message_sec_01[data-layout="list"] .list > li:not(:last-child){margin-bottom:24px}
    .message_sec_01 .btn_search{width:42px;height:32px;border-radius:20px;background-size:18px auto}
    .message_sec_01 .tab_menu{width:calc((100% - 42px - 16px)/2);height:32px;font-size:14px;border-radius:50px}
    .message_sec_01 .tab_menu_02{left:calc((100% - 42px)/2)}
    .message_sec_01 .label_wrap{height:34px;padding:8px 16px}
    .message_sec_01 .label_wrap .list_label i{width:18px;height:18px}
    .message_sec_01 .label_wrap .list_label{gap:4px;font-size:14px}
    .message_sec_01 .data_box li{font-size:12px;gap:2px}
    .message_sec_01 .data_box i{width:16px;height:16px}
    .message_sec_01 .data_box .like{margin-right:20px}
    .message_sec_01 .data_box .like::after{right:-10px;width:1px;height:10px}
    .message_sec_01 .flex_wrap{gap:4px;margin:24px 0 10px}
    .message_sec_01 .flex_wrap .opt_title{font-size:12px}
    .message_sec_01 .flex_wrap input[type="checkbox"]{width:32px;height:20px;border-radius:15px}
    .message_sec_01 .flex_wrap input[type="checkbox"]::before{left:3px;top:2px;width:16px;height:16px;box-shadow:0 6px 20px 0 rgba(0,0,0,0.06)}
    .message_sec_01 .flex_wrap input[type="checkbox"]:checked::before{left:14px}
    .message_sec_01 .title_wrap{padding:24px 16px}
    .message_sec_01 .title_wrap .list_tit{font-size:16px}
    .message_sec_01 .title_wrap .data_box{margin:16px 0 12px}
    .message_sec_01 .tag_list{gap:6px}
    .message_sec_01 .tag_list li{padding:6px 12px;border-radius:50px;font-size:12px}
    .message_sec_01 #tabPanel2 .sub_desc{padding:20px 16px;border-radius:46px 46px 46px 0;margin:0 auto 24px;font-size:14px}
}
/* --------------------------------message list end-------------------------------- */