/* --------------------------------notification common-------------------------------- */
[class^="notification_sec"] {padding: 14.4vw 0;}
[class^="notification_sec"] .title {font-size: 2.4vw; color: #666; line-height: 100%;}
[class^="notification_sec"] .title span {font-weight: 700;}
[class^="notification_sec"] .desc {font-size: 2.4vw; color: #757575; line-height: 100%;}
[class^="notification_sec"] .desc[data-layout="info"] li {display: flex; gap: 1.6vw; align-items: flex-start;}
[class^="notification_sec"] .desc[data-layout="info"] li:not(:last-child) {margin-bottom: 1.2vw;}
[class^="notification_sec"] .desc[data-layout="info"] li span {display: block; width: 0.6vw; height: 0.6vw; margin-top: 0.8vw; border-radius: 100%; background-color: #757575;}
[class^="notification_sec"] .desc[data-layout="info"] li p {width: calc(100% - 0.6vw - 1.6vw);}
@media only screen and (max-width:500px){
    [class^="notification_sec"] {padding: 72px 0;}
    [class^="notification_sec"] .title {font-size: 12px;}
    [class^="notification_sec"] .desc {font-size: 12px;}
    [class^="notification_sec"] .desc[data-layout="info"] li {gap: 8px;}
    [class^="notification_sec"] .desc[data-layout="info"] li:not(:last-child) {margin-bottom: 6px;}
    [class^="notification_sec"] .desc[data-layout="info"] li span {width: 3px; height: 3px; margin-top: 4px}
    [class^="notification_sec"] .desc[data-layout="info"] li p {width: calc(100% - 3px - 8px);}
}
/* --------------------------------notification common end-------------------------------- */


/* --------------------------------notification list-------------------------------- */
.notification_sec_01[data-layout="list"] {padding: 14.4vw 0;}
.notification_sec_01[data-layout="list"] .new::after {right: 3.2vw; top: 3.2vw;}
.notification_sec_01[data-layout="list"] a {padding: 4.8vw 5.2vw 4.8vw 7.6vw;}
.notification_sec_01[data-layout="list"] .title_wrap {display: flex; justify-content: space-between; align-items: center; margin-bottom: 2.4vw;}
.notification_sec_01[data-layout="list"] .desc {margin-top: 4.8vw;}
.notification_sec_01[data-layout="list"] .btn_all_read {display: inline-block; padding: 1.4vw 2.4vw; line-height: 100%; font-size: 2.4vw; font-weight: 500; color: #666; border: 0.2vw solid #666; border-radius: 1.2vw;}
/*리스트*/
.notification_sec_01[data-layout="list"] .list_title {font-weight: 500; color: #222; font-size: 3.2vw; line-height: 150%;}
.notification_sec_01[data-layout="list"] .list_title span {font-weight: 700;}
.notification_sec_01[data-layout="list"] .list_desc {margin-top: 1.6vw; font-size: 2.8vw; line-height: 156%;}
.notification_sec_01[data-layout="list"] .list_date {margin-top: 3.2vw;}
.notification_sec_01[data-layout="list"] .ico {position: absolute; left: 3.2vw; top: 5.4vw; width: 3.6vw; height: 3.6vw; background-size: 100% auto; background-repeat: no-repeat; background-position: center;}
.notification_sec_01[data-layout="list"] .ico[data-layout="point"] {background-image: url(/public/front/images/common/ico_noti_point.svg);}
.notification_sec_01[data-layout="list"] .ico[data-layout="info"] {background-image: url(/public/front/images/common/ico_noti_info.svg);}
/*확인완료*/
.notification_sec_01[data-layout="list"] .done .list_title {color: #666;}
.notification_sec_01[data-layout="list"] .done .list_desc {color: #757575;}
.notification_sec_01[data-layout="list"] .done .ico[data-layout="point"],
.notification_sec_01[data-layout="list"] .done .ico[data-layout="info"] {filter : grayscale(1);}
@media only screen and (max-width:500px){
    .notification_sec_01[data-layout="list"] {padding: 72px 0;}
    .notification_sec_01[data-layout="list"] .new::after {right: 16px; top: 16px;}
    .notification_sec_01[data-layout="list"] a {padding: 24px 36px 24px 38px;}
    .notification_sec_01[data-layout="list"] .title_wrap {margin-bottom: 12px;}
    .notification_sec_01[data-layout="list"] .desc {margin-top: 24px;}
    .notification_sec_01[data-layout="list"] .btn_all_read {padding: 7px 12px; font-size: 12px; border: 1px solid #666; border-radius: 6px;}
    /*리스트*/
    .notification_sec_01[data-layout="list"] .list_title {font-size: 16px;}
    .notification_sec_01[data-layout="list"] .list_desc {margin-top: 8px; font-size: 14px;}
    .notification_sec_01[data-layout="list"] .list_date {margin-top: 16px;}
    .notification_sec_01[data-layout="list"] .ico {left: 16px; top: 27px; width: 18px; height: 18px;}
}
/* --------------------------------notification list end-------------------------------- */


/* --------------------------------notification set-------------------------------- */
.notification_sec_01[data-layout="set"] .title_wrap {margin-bottom: 4.8vw;}
.notification_sec_01[data-layout="set"] .list >li {padding: 4.8vw 0; border-bottom: 0.2vw solid #EBEBEB;}
.notification_sec_01[data-layout="set"] .desc {margin-top: 0.8vw}
.notification_sec_01[data-layout="set"] .flex_warp {display: flex; justify-content: space-between; align-items: center;}
.notification_sec_01[data-layout="set"] .opt_title {font-weight: 500; font-size: 2.6vw; color: #222}
.notification_sec_01[data-layout="set"] input[type="checkbox"] {position: relative; width: 10vw; height: 6vw; appearance: none; border: none; border-radius: 3vw; background-color: #E9E9E9;}
.notification_sec_01[data-layout="set"] input[type="checkbox"]::before {content: ""; position: absolute; left: 0.6vw; top: 0.6vw; width: 4.8vw; height: 4.8vw; border-radius: 100%; background-color: #fff; box-shadow: 0 1.2vw 4vw 0 rgba(0, 0, 0, 0.06); transition: left 0.25s linear;}
.notification_sec_01[data-layout="set"] input[type="checkbox"]:checked {background-color: #DD3636;}
.notification_sec_01[data-layout="set"] input[type="checkbox"]:checked::before {left: 4.6vw;}
@media only screen and (max-width:500px){
    .notification_sec_01[data-layout="set"] .title_wrap {margin-bottom: 24px;}
    .notification_sec_01[data-layout="set"] .list >li {padding: 24px 0; border-bottom: 1px solid #EBEBEB;}
    .notification_sec_01[data-layout="set"] .opt_title {font-size: 18px;}
    .notification_sec_01[data-layout="set"] input[type="checkbox"] {width: 50px; height: 30px; border-radius: 15px}
    .notification_sec_01[data-layout="set"] input[type="checkbox"]::before {left: 3px; top: 3px; width: 24px; height: 24px; box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.06);}
    .notification_sec_01[data-layout="set"] input[type="checkbox"]:checked::before {left: 23px;}
}
/* --------------------------------notification set end-------------------------------- */


#popLevel .sub_title {display: inline-block; margin-bottom: 3.2vw; padding: 1.8vw 2vw; font-size: 2.8vw; border-radius: 3.4vw 3.4vw 3.4vw 0; line-height: 100%; background-color: #F3F3F3; font-weight: 600;}
#popLevel .leve_wrap {margin-bottom: 3.2vw;}
#popLevel .leve_wrap li {display: flex; align-items: center; gap: 2.4vw; padding: 4.4vw 3.2vw; border-radius: 4vw; background-color: #F3F7FF;}
#popLevel .leve_wrap li:not(:last-child) {margin-bottom: 1.6vw}
#popLevel .leve_wrap figure {width: 11.2vw; height: 11.2vw; background-size: 100% auto; background-repeat: no-repeat; background-position: center;}
#popLevel .leve_wrap h6 {display: inline-block; padding: 0.8vw 1.2vw; border-radius: 10vw; font-size: 2vw; color: #fff; line-height: 100%;}
#popLevel .leve_wrap h5 {margin: 2.4vw 0 1.2vw 0; font-size: 2.8vw; font-weight: 700; line-height: 100%;}
#popLevel .leve_wrap p {line-height: 100%; font-size: 2.4vw; color: #222;}
#popLevel .leve_wrap .leve_01 {border: 0.3vw solid #E0EBFF;}
#popLevel .leve_wrap .leve_02 {border: 0.3vw solid #BBD3FF;}
#popLevel .leve_wrap .leve_03 {border: 0.3vw solid #8FB6FF;}
#popLevel .leve_wrap .leve_04 {border: 0.3vw solid #6B9AF1;}
#popLevel .leve_wrap .leve_05 {border: 0.3vw solid #EC7C7C; background-color: #ffeeee;}
#popLevel .leve_01 figure {background-image: url(/public/front/images/mypage/level_01.svg);}
#popLevel .leve_02 figure {background-image: url(/public/front/images/mypage/level_02.svg);}
#popLevel .leve_03 figure {background-image: url(/public/front/images/mypage/level_03.svg);}
#popLevel .leve_04 figure {background-image: url(/public/front/images/mypage/level_04.svg);}
#popLevel .leve_05 figure {background-image: url(/public/front/images/mypage/level_05.svg);}
#popLevel .leve_01 h6 {background-color: #498350;}
#popLevel .leve_02 h6 {background-color: #765B43;}
#popLevel .leve_03 h6 {background-color: #B65470;}
#popLevel .leve_04 h6 {background-color: #4A5991;}
#popLevel .leve_05 h6 {background-color: #DD3636;}
#popLevel .activity_wrap {display: flex; flex-wrap: wrap; gap: 1.6vw;}
#popLevel .activity_wrap li {width: calc((100% - (1.6vw * 2))/3); padding: 2vw 0; border-radius: 3vw; background-color: #F8F8F8;}
#popLevel .activity_wrap figure {width: 8vw; height: 8.6vw; margin: 0 auto 0.4vw; background-size: 100% auto; background-position: center; background-repeat: no-repeat;}
#popLevel .activity_wrap h6 {display: flex; align-items: center; justify-content: center; height: 6.4vw;  text-align: center; font-weight: 500; color: #666; font-size: 2.4vw; line-height: 134%;}
@media only screen and (max-width:500px){
    #popLevel .sub_title {margin-bottom: 16px; padding: 9px 10px; font-size: 14px; border-radius: 17px 17px 17px 0;}
    #popLevel .leve_wrap {margin-bottom: 16px;}
    #popLevel .leve_wrap li {gap: 12px; padding: 22px 16px; border-radius: 20px;}
    #popLevel .leve_wrap li:not(:last-child) {margin-bottom: 8px;}
    #popLevel .leve_wrap figure {width: 56px; height: 56px;}
    #popLevel .leve_wrap h6 {padding: 4px 6px; font-size: 10px; border-radius: 50px;}
    #popLevel .leve_wrap h5 {margin: 12px 0 6px 0; font-size: 14px;}
    #popLevel .leve_wrap p {font-size: 12px;}
    #popLevel .leve_wrap .leve_01 {border: 1.5px solid #E0EBFF;}
    #popLevel .leve_wrap .leve_02 {border: 1.5px solid #BBD3FF;}
    #popLevel .leve_wrap .leve_03 {border: 1.5px solid #8FB6FF;}
    #popLevel .leve_wrap .leve_04 {border: 1.5px solid #6B9AF1;}
    #popLevel .leve_wrap .leve_05 {border: 1.5px solid #EC7C7C;}
    #popLevel .activity_wrap {gap: 8px;}
    #popLevel .activity_wrap li {width: calc((100% - (8px * 2))/3); padding: 10px 0; border-radius:15px}
    #popLevel .activity_wrap figure {width: 40px; height: 43px; margin: 0 auto 2px;}
    #popLevel .activity_wrap h6 {height: 32px; font-size: 12px;}
}