/* --------------------------------notice_sec-------------------------------- */
/*곻통*/
.notice_sec {padding: 16vw 0;}
.notice_sec .title {color: #222;}
.notice_sec .date {font-size: 2.4vw; color: #757575; line-height: 100%;}
/*리스트*/
.notice_sec[data-layout="list"] {background-color: #F8F8F8;}
.notice_sec[data-layout="list"] .list li {position: relative;}
.notice_sec[data-layout="list"] .list li:not(:last-child) {margin-bottom: 3.2vw;}
.notice_sec[data-layout="list"] .list .new::after {content: ""; position: absolute; right: 1.6vw; top: 2vw; width: 1.6vw; height: 1.6vw; background-color: #DD3636; border-radius: 100%;}
.notice_sec[data-layout="list"] .list a {display: block; width: 100%; padding: 3.2vw; background-color: #fff; border-radius: 3vw;}
.notice_sec[data-layout="list"] .title {display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden; word-break: break-all; font-size: 2.8vw; font-weight: 500; line-height: 142%;}
.notice_sec[data-layout="list"] .date {margin-top: 1.2vw;}
/*상세*/
.notice_sec[data-layout="detail"] .title_wrap {padding-bottom: 4.8vw; border-bottom: 0.2vw solid #EBEBEB;}
.notice_sec[data-layout="detail"] .title {font-size: 3.6vw; line-height: 144%; font-weight: 600;}
.notice_sec[data-layout="detail"] .date {margin-top: 1.6vw;}
.notice_sec[data-layout="detail"] .cont_wrap {padding-top: 4.8vw; word-break: keep-all;}
@media only screen and (max-width:500px){
    /*공통*/
    .notice_sec {padding: 80px 0;}
    .notice_sec .date {font-size: 12px;}
    /*리스트*/
    .notice_sec[data-layout="list"] .list li:not(:last-child) {margin-bottom: 16px;}
    .notice_sec[data-layout="list"] .list .new::after{right: 8px; top: 10px; width: 8px; height: 8px;}
    .notice_sec[data-layout="list"] .list a {padding: 16px; border-radius: 15px;}
    .notice_sec[data-layout="list"] .title {font-size: 14px;}
    .notice_sec[data-layout="list"] .date {margin-top: 6px;}
    /*상세*/
    .notice_sec[data-layout="detail"] .title_wrap {padding-bottom: 24px; border-bottom: 1px solid #EBEBEB;}
    .notice_sec[data-layout="detail"] .title {font-size: 18px;}
    .notice_sec[data-layout="detail"] .date {margin-top: 8px;}
    .notice_sec[data-layout="detail"] .cont_wrap {padding-top: 24px;}
}
/* --------------------------------notice_sec end-------------------------------- */