/*상세*/
.notice_sec_01[data-layout="detail"] .title_wrap {padding-bottom: 4.8vw; border-bottom: 0.2vw solid #EBEBEB;}
.notice_sec_01[data-layout="detail"] .title {font-size: 3.6vw; line-height: 144%; font-weight: 600;}
.notice_sec_01[data-layout="detail"] .date {margin-top: 1.6vw;}
.notice_sec_01[data-layout="detail"] .cont_wrap {padding-top: 4.8vw;}
@media only screen and (max-width:500px){
    /*상세*/
    .notice_sec_01[data-layout="detail"] .title_wrap {padding-bottom: 24px; border-bottom: 1px solid #EBEBEB;}
    .notice_sec_01[data-layout="detail"] .title {font-size: 18px;}
    .notice_sec_01[data-layout="detail"] .date {margin-top: 8px;}
    .notice_sec_01[data-layout="detail"] .cont_wrap {padding-top: 24px;}
}