<html lang="ko">
<head>
    <% include ../inc/head_script.ejs %>
    <link rel="stylesheet" href="/public/front/css/inquiry.css" />
</head>

<body>
<div id="wrapper">
    <div class="skip">
        <a href="#container">본문 바로가기</a>
    </div>
    <% include ../inc/headerPrev.ejs %>

    <div id="container">
        <section class="faq_sec_01">
            <div class="inner">
                <div class="search_wrap">
                    <form action="">
                        <div class="input_wrap" data-layout="text">
                            <label class="blind" for="">검색어</label>
                            <input type="text" placeholder="검색어를 입력하세요.">
                        </div>
                        <button class="btn_search" type="submit">
                            <span class="blind">검색</span>
                        </button>
                    </form>
                </div>
                <div class="faq_wrap">
                    <ul>
                        <li class="on" aria-selected="true">
                            <a href="#nohref" class="tab_menu_01" role="tab" aria-controls="tabPanel1">전체</a>
                            <ul class="faq_list" id="tabPanel1" role="tabpanel">
                                <li>
                                    <button id="que1" class="que" aria-expanded="false" aria-controls="ans1">
                                        <span>rz 포인트</span>
                                        <h6>1.rz를 현금으로 바꿀 수 있나요?z를 현금으로 바꿀 수 있나요?z나요?</h6>
                                    </button>
                                    <div id="ans1" class="ans" role="region" aria-labelledby="que1">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                                <li>
                                    <button id="que1" class="que" aria-expanded="false" aria-controls="ans1">
                                        <span>rz 포인트</span>
                                        <h6>rz를 현금으로 바꿀 수 있나요?z를 현금으로 바꿀 수 있나요?z를 현금으로 바꿀 수 있나요?</h6>
                                    </button>
                                    <div id="ans1" class="ans" role="region" aria-labelledby="que1">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                                <li>
                                    <button id="que2" class="que" aria-expanded="false" aria-controls="ans2">
                                        <span>기부</span>
                                        <h6>rz를 현금으로 바꿀 수 있나요?</h6>
                                    </button>
                                    <div id="ans2" class="ans" role="region" aria-labelledby="que2">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                                <li>
                                    <button id="que3" class="que" aria-expanded="false" aria-controls="ans3">
                                        <span>rz 포인트</span>
                                        <h6>rz를 현금으로 바꿀 수 있나요?</h6>
                                    </button>
                                    <div id="ans3" class="ans" role="region" aria-labelledby="que3">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#nohref" class="tab_menu_02" role="tab" aria-controls="tabPanel2">설정</a>
                            <ul class="faq_list" id="tab-panel2" role="tabpanel">
                                <li>
                                    <button id="que1" class="que" aria-expanded="false" aria-controls="ans1">
                                        <span>rz 포인트</span>
                                        <h6>2.rz를 현금으로 바꿀 수 있나요?z를 현금으로 바꿀 수 있나요?z나요?</h6>
                                    </button>
                                    <div id="ans1" class="ans" role="region" aria-labelledby="que1">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                                <li>
                                    <button id="que1" class="que" aria-expanded="false" aria-controls="ans1">
                                        <span>rz 포인트</span>
                                        <h6>rz를 현금으로 바꿀 수 있나요?z를 현금으로 바꿀 수 있나요?z를 현금으로 바꿀 수 있나요?</h6>
                                    </button>
                                    <div id="ans1" class="ans" role="region" aria-labelledby="que1">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                                <li>
                                    <button id="que2" class="que" aria-expanded="false" aria-controls="ans2">
                                        <span>기부</span>
                                        <h6>rz를 현금으로 바꿀 수 있나요?</h6>
                                    </button>
                                    <div id="ans2" class="ans" role="region" aria-labelledby="que2">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                                <li>
                                    <button id="que3" class="que" aria-expanded="false" aria-controls="ans3">
                                        <span>rz 포인트</span>
                                        <h6>rz를 현금으로 바꿀 수 있나요?</h6>
                                    </button>
                                    <div id="ans3" class="ans" role="region" aria-labelledby="que3">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#nohref" class="tab_menu_03" role="tab" aria-controls="tabPanel3">rz 교환소</a>
                            <ul class="faq_list" id="tabPanel3" role="tabpanel">
                                <li>
                                    <button id="que1" class="que" aria-expanded="false" aria-controls="ans1">
                                        <span>rz 포인트</span>
                                        <h6>3.rz를 현금으로 바꿀 수 있나요?z를 현금으로 바꿀 수 있나요?z나요?</h6>
                                    </button>
                                    <div id="ans1" class="ans" role="region" aria-labelledby="que1">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                                <li>
                                    <button id="que1" class="que" aria-expanded="false" aria-controls="ans1">
                                        <span>rz 포인트</span>
                                        <h6>rz를 현금으로 바꿀 수 있나요?z를 현금으로 바꿀 수 있나요?z를 현금으로 바꿀 수 있나요?</h6>
                                    </button>
                                    <div id="ans1" class="ans" role="region" aria-labelledby="que1">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                                <li>
                                    <button id="que2" class="que" aria-expanded="false" aria-controls="ans2">
                                        <span>기부</span>
                                        <h6>rz를 현금으로 바꿀 수 있나요?</h6>
                                    </button>
                                    <div id="ans2" class="ans" role="region" aria-labelledby="que2">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                                <li>
                                    <button id="que3" class="que" aria-expanded="false" aria-controls="ans3">
                                        <span>rz 포인트</span>
                                        <h6>rz를 현금으로 바꿀 수 있나요?</h6>
                                    </button>
                                    <div id="ans3" class="ans" role="region" aria-labelledby="que3">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#nohref" class="tab_menu_04" role="tab" aria-controls="tabPanel4">rz 포인트</a>
                            <ul class="faq_list" id="tabPanel4" role="tabpanel">
                                <li>
                                    <button id="que1" class="que" aria-expanded="false" aria-controls="ans1">
                                        <span>rz 포인트</span>
                                        <h6>4.rz를 현금으로 바꿀 수 있나요?z를 현금으로 바꿀 수 있나요?z나요?</h6>
                                    </button>
                                    <div id="ans1" class="ans" role="region" aria-labelledby="que1">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                                <li>
                                    <button id="que1" class="que" aria-expanded="false" aria-controls="ans1">
                                        <span>rz 포인트</span>
                                        <h6>rz를 현금으로 바꿀 수 있나요?z를 현금으로 바꿀 수 있나요?z를 현금으로 바꿀 수 있나요?</h6>
                                    </button>
                                    <div id="ans1" class="ans" role="region" aria-labelledby="que1">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                                <li>
                                    <button id="que2" class="que" aria-expanded="false" aria-controls="ans2">
                                        <span>기부</span>
                                        <h6>rz를 현금으로 바꿀 수 있나요?</h6>
                                    </button>
                                    <div id="ans2" class="ans" role="region" aria-labelledby="que2">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                                <li>
                                    <button id="que3" class="que" aria-expanded="false" aria-controls="ans3">
                                        <span>rz 포인트</span>
                                        <h6>rz를 현금으로 바꿀 수 있나요?</h6>
                                    </button>
                                    <div id="ans3" class="ans" role="region" aria-labelledby="que3">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#nohref" class="tab_menu_05" role="tab" aria-controls="tabPanel5">기부</a>
                            <ul class="faq_list" id="tabPanel5" role="tabpanel">
                                <li>
                                    <button id="que1" class="que" aria-expanded="false" aria-controls="ans1">
                                        <span>rz 포인트</span>
                                        <h6>5.rz를 현금으로 바꿀 수 있나요?z를 현금으로 바꿀 수 있나요?z나요?</h6>
                                    </button>
                                    <div id="ans1" class="ans" role="region" aria-labelledby="que1">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                                <li>
                                    <button id="que1" class="que" aria-expanded="false" aria-controls="ans1">
                                        <span>rz 포인트</span>
                                        <h6>rz를 현금으로 바꿀 수 있나요?z를 현금으로 바꿀 수 있나요?z를 현금으로 바꿀 수 있나요?</h6>
                                    </button>
                                    <div id="ans1" class="ans" role="region" aria-labelledby="que1">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                                <li>
                                    <button id="que2" class="que" aria-expanded="false" aria-controls="ans2">
                                        <span>기부</span>
                                        <h6>rz를 현금으로 바꿀 수 있나요?</h6>
                                    </button>
                                    <div id="ans2" class="ans" role="region" aria-labelledby="que2">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                                <li>
                                    <button id="que3" class="que" aria-expanded="false" aria-controls="ans3">
                                        <span>rz 포인트</span>
                                        <h6>rz를 현금으로 바꿀 수 있나요?</h6>
                                    </button>
                                    <div id="ans3" class="ans" role="region" aria-labelledby="que3">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#nohref" class="tab_menu_06" role="tab" aria-controls="tabPanel6">참여</a>
                            <ul class="faq_list" id="tabPanel6" role="tabpanel">
                                <li>
                                    <button id="que1" class="que" aria-expanded="false" aria-controls="ans1">
                                        <span>rz 포인트</span>
                                        <h6>6.rz를 현금으로 바꿀 수 있나요?z를 현금으로 바꿀 수 있나요?z나요?</h6>
                                    </button>
                                    <div id="ans1" class="ans" role="region" aria-labelledby="que1">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                                <li>
                                    <button id="que1" class="que" aria-expanded="false" aria-controls="ans1">
                                        <span>rz 포인트</span>
                                        <h6>rz를 현금으로 바꿀 수 있나요?z를 현금으로 바꿀 수 있나요?z를 현금으로 바꿀 수 있나요?</h6>
                                    </button>
                                    <div id="ans1" class="ans" role="region" aria-labelledby="que1">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                                <li>
                                    <button id="que2" class="que" aria-expanded="false" aria-controls="ans2">
                                        <span>기부</span>
                                        <h6>rz를 현금으로 바꿀 수 있나요?</h6>
                                    </button>
                                    <div id="ans2" class="ans" role="region" aria-labelledby="que2">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                                <li>
                                    <button id="que3" class="que" aria-expanded="false" aria-controls="ans3">
                                        <span>rz 포인트</span>
                                        <h6>rz를 현금으로 바꿀 수 있나요?</h6>
                                    </button>
                                    <div id="ans3" class="ans" role="region" aria-labelledby="que3">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#nohref" class="tab_menu_07" role="tab" aria-controls="tabPanel7">회원정보</a>
                            <ul class="faq_list" id="tabPanel7" role="tabpanel">
                                <li>
                                    <button id="que1" class="que" aria-expanded="false" aria-controls="ans1">
                                        <span>rz 포인트</span>
                                        <h6>7.rz를 현금으로 바꿀 수 있나요?z를 현금으로 바꿀 수 있나요?z나요?</h6>
                                    </button>
                                    <div id="ans1" class="ans" role="region" aria-labelledby="que1">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                                <li>
                                    <button id="que1" class="que" aria-expanded="false" aria-controls="ans1">
                                        <span>rz 포인트</span>
                                        <h6>rz를 현금으로 바꿀 수 있나요?z를 현금으로 바꿀 수 있나요?z를 현금으로 바꿀 수 있나요?</h6>
                                    </button>
                                    <div id="ans1" class="ans" role="region" aria-labelledby="que1">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                                <li>
                                    <button id="que2" class="que" aria-expanded="false" aria-controls="ans2">
                                        <span>기부</span>
                                        <h6>rz를 현금으로 바꿀 수 있나요?</h6>
                                    </button>
                                    <div id="ans2" class="ans" role="region" aria-labelledby="que2">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                                <li>
                                    <button id="que3" class="que" aria-expanded="false" aria-controls="ans3">
                                        <span>rz 포인트</span>
                                        <h6>rz를 현금으로 바꿀 수 있나요?</h6>
                                    </button>
                                    <div id="ans3" class="ans" role="region" aria-labelledby="que3">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#nohref" class="tab_menu_08" role="tab" aria-controls="tabPanel8">알지?소개</a>
                            <ul class="faq_list" id="tabPanel8" role="tabpanel">
                                <li>
                                    <button id="que1" class="que" aria-expanded="false" aria-controls="ans1">
                                        <span>rz 포인트</span>
                                        <h6>8.rz를 현금으로 바꿀 수 있나요?z를 현금으로 바꿀 수 있나요?z나요?</h6>
                                    </button>
                                    <div id="ans1" class="ans" role="region" aria-labelledby="que1">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                                <li>
                                    <button id="que1" class="que" aria-expanded="false" aria-controls="ans1">
                                        <span>rz 포인트</span>
                                        <h6>rz를 현금으로 바꿀 수 있나요?z를 현금으로 바꿀 수 있나요?z를 현금으로 바꿀 수 있나요?</h6>
                                    </button>
                                    <div id="ans1" class="ans" role="region" aria-labelledby="que1">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                                <li>
                                    <button id="que2" class="que" aria-expanded="false" aria-controls="ans2">
                                        <span>기부</span>
                                        <h6>rz를 현금으로 바꿀 수 있나요?</h6>
                                    </button>
                                    <div id="ans2" class="ans" role="region" aria-labelledby="que2">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                                <li>
                                    <button id="que3" class="que" aria-expanded="false" aria-controls="ans3">
                                        <span>rz 포인트</span>
                                        <h6>rz를 현금으로 바꿀 수 있나요?</h6>
                                    </button>
                                    <div id="ans3" class="ans" role="region" aria-labelledby="que3">
                                        리워드 교환은 매주 월요일마다 신청할 수 있습니다. 아래 주요 메뉴바에서 교환소를 터치해 보세요!
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div><!-- //container -->

    <% include ../inc/footer.ejs %>
    <% include ../inc/footerNav.ejs %>
</div>

<script>
    $(function (){
        //-----tab menu-----
        let tab = $('[class^="tab_menu"]');
        tab.on('click',function(evt) {
            evt.stopPropagation();
            evt.preventDefault();
            $(this).parent('li').addClass('on').attr('aria-selected','true');
            $(this).parent('li').siblings('li').removeClass('on').attr('aria-selected','false');
            $('.faq_list li').removeClass('on');
            $('.faq_list .que').attr('aria-expanded','false');;
            $('.faq_list .ans').hide();
        });

        //-----faq list toggle-----
        let que = $('.faq_list .que');
        que.on('click',function(){
            if( $(this).parent().hasClass('on') ) {
                $(this).parent().removeClass('on');
                $(this).attr('aria-expanded','false');
                $(this).siblings('.ans').stop().slideUp(300);
            } else {
                $(this).parent().addClass('on');
                $(this).attr('aria-expanded','true');
                $(this).siblings('.ans').stop().slideDown(300);
            }
        });
    });
</script>
</body>
</html>
