<html lang="ko">
<head>
    <% include ../inc/head_script.ejs %>
    <link rel="stylesheet" href="/public/front/css/inquiry.css" />
</head>

<body>
<div id="wrapper">
    <div class="skip">
        <a href="#container">본문 바로가기</a>
    </div>
    <% include ../inc/headerPrev.ejs %>

    <div id="container">
        <section class="inquiry_sec_01" data-layout="detail">
            <div class="inner">

            </div>
        </section>
        <section class="inquiry_sec_02" data-layout="main">
            <div class="inner">
                <div class="form_wrap">
                    <form action="">
                        <div class="cont_wrap">
                            <div class="title_wrap">
                                <h2 class="title">문의 내용 입력</h2>
                            </div>
                            <div class="input_wrap" data-layout="select">
                                <select name="filter" id="inquiryCate">
                                    <option value="" selected>문의 유형 선택</option>
                                    <option value="">이용 문의</option>
                                    <option value="">알리고에게 말해줘</option>
                                    <option value="">제휴 문의</option>
                                </select>
                            </div>
                            <div class="input_wrap" data-layout="select">
                                <select name="filter" id="inquiryCateDetail">
                                    <option value="" selected>세부 유형 선택</option>
                                    <option value="">옵션</option>
                                </select>
                            </div>
                            <!--                            <div class="input_wrap" data-layout="select">-->
                            <!--                                <button class="btn_select" type="button" role="combobox"  aria-label="문의 유형 선택" aria-haspopup="listbox" aria-expanded="false">문의 유형 선택</button>-->
                            <!--                                <ul class="option_wrap" role="listbox">-->
                            <!--                                    <li role="none"><button role="option" aria-selected="false" type="button">이용 문의</button></li>-->
                            <!--                                    <li role="none"><button role="option" aria-selected="false" type="button">알리고에게 말해줘</button></li>-->
                            <!--                                    <li role="none"><button role="option" aria-selected="false" type="button">제휴 문의</button></li>-->
                            <!--                                </ul>-->
                            <!--                            </div>-->
                            <!--                            <div class="input_wrap" data-layout="select">-->
                            <!--                                <button class="btn_select" type="button" role="combobox" aria-label="세부 유형 선택" aria-haspopup="listbox" aria-expanded="false">세부 유형 선택</button>-->
                            <!--                                <ul class="option_wrap" role="listbox">-->
                            <!--                                    <li role="none"><button role="option" aria-selected="false" type="button">옵션</button></li>-->
                            <!--                                </ul>-->
                            <!--                            </div>-->
                            <div class="input_wrap" data-layout="text">
                                <label class="blind">문의 제목</label>
                                <input type="text" placeholder="문의 제목 입력" />
                            </div>
                            <div class="input_wrap" data-layout="textarea">
                                <label class="blind">문의 내용</label>
                                <textarea name="" id="" maxlength="500" placeholder="문의 내용 입력 - 최대 500자"></textarea>
                            </div>
                        </div><!--//cont_wrap-->

                        <div class="cont_wrap">
                            <div class="title_wrap">
                                <h2 class="title">문의 내용 입력</h2>
                            </div>
                            <div class="input_wrap" data-layout="select">
                                <button class="btn_select" type="button" role="combobox" aria-label="문의 유형 선택"
                                        aria-haspopup="listbox" aria-expanded="false">문의 유형 선택
                                </button>
                                <ul class="option_wrap" role="listbox">
                                    <li role="none">
                                        <button role="option" aria-selected="false" type="button">이용 문의</button>
                                    </li>
                                    <li role="none">
                                        <button role="option" aria-selected="false" type="button">알리고에게 말해줘</button>
                                    </li>
                                    <li role="none">
                                        <button role="option" aria-selected="false" type="button">제휴 문의</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="input_wrap" data-layout="select">
                                <button class="btn_select" type="button" role="combobox" aria-label="세부 유형 선택"
                                        aria-haspopup="listbox" aria-expanded="false">세부 유형 선택
                                </button>
                                <ul class="option_wrap" role="listbox">
                                    <li role="none">
                                        <button role="option" aria-selected="false" type="button">옵션</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="input_wrap" data-layout="text">
                                <label class="blind">문의 제목</label>
                                <input type="text" placeholder="문의 제목 입력" />
                            </div>
                            <div class="input_wrap" data-layout="textarea">
                                <label class="blind">문의 내용</label>
                                <textarea name="" id="" maxlength="500" placeholder="문의 내용 입력 - 최대 500자"></textarea>
                            </div>
                        </div><!--//cont_wrap-->

                        <div class="cont_wrap">
                            <div class="title_wrap">
                                <h2 class="title">이미지 등록</h2>
                                <p class="desc">문의 내용 연관 이미지, 캡처 첨부 시 답변에 도움이 됩니다.</p>
                            </div>
                            <ul class="input_wrap" data-layout="img">
                                <li>
                                    <label for="img1" style="background-image: url(/public/front/images/main/main_vis_01.png)">
                                        <span class="blind">파일선택</span>
                                    </label>
                                    <input id="img1" type="file">
                                    <button class="btn_del" type="button">
                                        <span class="blind">삭제</span>
                                    </button>
                                </li>
                                <li>
                                    <label for="img2" style="background-image: url(/public/front/images/common/no_img_file.png)">
                                        <span class="blind">파일선택</span>
                                    </label>
                                    <input id="img2" type="file">
                                </li>
                            </ul>
                        </div><!--//cont_wrap-->
                        <div class="cont_wrap">
                            <ul class="desc" data-layout="info">
                                <li>
                                    <span></span>
                                    <p>고객센터 운영 시간 : 평일 10시 ~18시</p>
                                </li>
                                <li>
                                    <span></span>
                                    <p>산업안전보건법에 따라 모든 문의는 기록으로 남습니다.</p>
                                </li>
                            </ul>
                        </div><!--//cont_wrap-->
                        <div class="btn_wrap">
                            <button type="submit" class="btn_submit btn_type_01" data-color="red" data-ico="none">등록하기</button>
                        </div>
                    </form>
                </div><!--//form_wrap-->
            </div>
        </section>
    </div><!-- //container -->

    <% include ../inc/footer.ejs %>
    <% include ../inc/footerNav.ejs %>
</div>
</body>
</html>
