<html lang="ko">
  <head>
    <% include ../inc/head_script.ejs %>
    <link rel="stylesheet" href="/public/test/css/main.css" />
    <script src="/public/test/js/main_js.js"></script>
    <script src="/views/user/main/main.js" type="text/javascript"></script>
    <!-- <script src="https://cdn.jsdelivr.net/mojs-player/0.43.16/mojs-player.min.js"></script>-->
  </head>
  <script>
    $(document).ready(function () {
      // $('#gpjw_main').addClass('active');
      // $('#gpjw_main_mo').addClass('active');
      getPopupInfo();
      getRecycleInfo();
    });
  </script>
  <body>
    <div id="wrap">
      <% include ../inc/header %>
      <div id="container" data-lang="kr">
        <!-- 메인 비주얼 배너 영역 -->
        <section class="mn_vis_wrapper">
          <div class="inner">
            <figure style="background-image: url(/public/test/images/main/mn_vis.jpg)" class="banner_pc_main" id="banner_pc_main"></figure>
            <figure style="background-image: url(/public/test/images/main/mn_vis_mo.jpg)" class="banner_mo_main" id="banner_mo_main"></figure>
            <div class="txt_wrapper">
              <!-- <div class="txt_box txt_01">
                <h3 class="txt sub_tit ">오늘의 작은 실천이</h3>
              </div>
              <div class="txt_box txt_02">
                <h3 class="txt sub_tit ">내일의 지구를 만듭니다.</h3>
              </div>-->
              <div class="txt_box txt_03">
                <h2 class="txt tit">
                  <img src="/public/test/images/main/mn_vis_tit.svg" alt="" alt="가플지우 가져와요 플라스틱 지켜가요 우리바다" />
                </h2>
              </div>
            </div>
            <div class="charater">
              <div class="cha cha_01">
                <img src="/public/test/images/main/ico_tumo.svg" alt="" />
              </div>
              <div class="cha cha_02">
                <img src="/public/test/images/main/ico_girl.svg" alt="" />
              </div>
            </div>
            </a>
            <div class="mo_block btn_scroll">
              <a href="#" role="button" id="btn_next"><img src="/public/test/images/main/ico_arrow_down.svg" alt=""><span class="blind">다음 단락으로 이동</span></a>
            </div>
            <!-- // btn_scroll -->
          </div>
        </section>
        <!-- // mn_vis_wrapper -->

        <!-- 슬로건 영역 -->
        <section class="mn_sec mn_sec_01">
          <div class="inner">
            <dix class="txt_box">
              <h2><img src="/public/test/images/main/mn_sec_01_slogan.svg" alt="가져와요 플라스틱 지켜가요 우리바다" /></h2>
              <p>가플지우는 환경 캠페인 플랫폼으로서 일상에서 버려지는 <br class="mo_block" />플라스틱을 수거하고 <br class="pc_block">바다를 깨끗하고 아름답게 지키기 위해 <br class="mo_block" />다양한 활동을 하고 있습니다.</p>
            </dix>
          </div>
        </section>
        <!-- // mn_sec_01 -->

        <!-- 이달의 바다 영역 -->
        <section class="mn_sec mn_sec_02">
          <div class="inner">
            <div class="tit_box">
              <h2 class="sec_tit font_scd">
                <span>가플지우가 만든</span>
              </h2>
              <h2 class="sec_tit last font_scd">
                <span>희망의 물결</span>
              </h2>
              <p class="sec_sub_tit"><%=recycleInfo.dateLast%></p>
            </div>
            <div class="cont_box ani_faUp">
              <ul>
                <li>
                  <div class="img_box">
                    <img src="/public/test/images/main/ico_num_01.svg" alt="" />
                  </div>
                  <div class="txt_box">
                    <h3>플라스틱 수거량</h3>
                    <p><strong class="count_num" data-count="<%=recycleInfo.weightPet%>">0</strong>kg</p>
                  </div>
                </li>
                <li>
                  <div class="img_box">
                    <img src="/public/test/images/main/ico_num_02.svg" alt="" />
                  </div>
                  <div class="txt_box">
                    <h3>해안폐기물 수거량</h3>
                    <p><strong class="count_num" data-count="<%=recycleInfo.weightCoast%>">0</strong>kg</p>
                  </div>
                </li>                
              </ul>
            </div>
            <!-- <div class="btn_wrap ani_faUp">
              <button type="button" class="btn_link btn_type_01">이달의 바다 자세히 보기</button>
            </div> -->
          </div>
          <!-- // inner -->
        </section>
        <!-- // mn_sec_02-->

        <!-- 참여 영역 -->
        <section class="mn_sec mn_sec_03">
          <div class="inner">
            <div class="tit_box">
              <h2 class="sec_tit font_scd">
                <span>가플지우, <b class="blue mo_none">이렇게 참여해요</b> </span>
              </h2>
              <h2 class="sec_tit last font_scd mo_block">
                <span><b class="blue">이렇게 참여해요</b> </span>
              </h2>
              <p class="sec_sub_tit"><span class="mo_none">클릭해</span><span class="mo_inline">터치해</span> 자세한 참여방법을 살펴보세요.</p>
            </div>
            <div class="cont_box ani_faUp">
              <div class="flex_box">
                <button class="btn_bubble bubble_01" type="button" onclick="layer_OPEN_POP('.popup_mn_04_01')"><span class="blind">플라스틱 수거</span></button>
                <button class="btn_bubble bubble_02" type="button" onclick="layer_OPEN_POP('.popup_mn_04_02')"><span class="blind">해안정화 활동</span></button>
                <button class="btn_bubble bubble_03" type="button" onclick="layer_OPEN_POP('.popup_mn_04_03')"><span class="blind">해양환경 교육</span></button>
              </div>
            </div>
          </div>
          <!-- // inner -->
        </section>
        <!-- // mn_sec_03-->

        <!-- 소개 -->
        <section class="mn_sec mn_sec_04">
          <div class="inner">
            <div class="tit_box">
              <h2 class="sec_tit font_scd">
                <span>가플지우를</span>
              </h2>
              <h2 class="sec_tit last font_scd">
                <span>소개합니다</span>
              </h2>
            </div>

            <div class="cont_box ani_faUp">
              <div class="left">
                <div class="img_wrap">
                  <img src="/public/test/images/main/mn_sec_04_bg.png" alt="" />
                </div>
              </div>
              <div class="right">
                <div class="txt_wrap">
                  <p>가플지우는 ‘가져와요 플라스틱 지켜가요 우리바다’의 줄임말로 일상에서 버려지는 플라스틱을 수거하고 바다를 깨끗하고 아름답게 지키기 위해 여러 기업, NGO, 공공기관이 협업하는 환경 캠페인 플랫폼입니다.
                  </p>
                  <p>2018년 이마트 수도권 매장의 플라스틱 회수 캠페인으로 시작된 가플지우는 고객 참여로 모아진 폐플라스틱을 어린이 교통안전 반사판, 접이식 쇼핑카트, 줍깅 집게, 비말차단 가림막 등
                    일상에 필요한 물건으로 업사이클링 하여 지역사회에 기부하였습니다.</p>
                    <p>
                      쓰레기는 국경을 넘어오기도 하고 어업 활동 중 유실되기도 하지만 대부분은 육지에서 발생해 바다로 흘러듭니다. 그리고 바다 속과 연안에 쓰레기는 해마다 늘고 있습니다. 가플지우는 일상의 플라스틱 수거 프로그램에 더해 자발적으로 모인 참여자들이 연안에 버려지거나 떠밀려온 쓰레기를 줍고 분리하여 버리는 활동을 ‘이달의 바다’라고 이름 지어 2022년부터 전국의 바다로 확대했습니다.
                    </p>
                    <p>가플지우는 이외에도 해양보전 활동을 일상 어디서든 배우고 실천할 수 있도록 환경교육 콘텐츠를 만들어 지원하고, 친환경 상품 기획전 및 전시회를 여는 등 다양한 협업을 통해 캠페인 비전을 지속적으로 실천하고 있습니다.</p>
                    <p>이러한 노력으로 매년 뜻을 함께하는 파트너사가 늘어나며 가플지우는 환경 캠페인 플랫폼으로 성장하고 있습니다.</p>
                    <p>일상에서 사용하는 플라스틱을 회수하여 재활용하고 버려진 쓰레기를 주워 깨끗하고 아름다운 바다를 지키는 가플지우의 비전에 동참하여 지속가능한 지구를 만드는 발걸음에 함께해주세요.</p>
                    <p>
                      <b>일상속 작은 변화와 실천이 지구를 지키는 물결이 됩니다.<br>
                        지구의 내일을 가플지우와 함께</b>
                    </p>
                    
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- // mn_sec -->
        <!-- 파트너 영역 -->
        <section class="mn_sec mn_sec_05">
          <div class="inner">
            <div class="tit_box">
              <h2 class="sec_tit font_scd">
                <span>가플지우와</span>
              </h2>
              <h2 class="sec_tit last font_scd">
                <span>함께 하는 파트너</span>
              </h2>
            </div>
          </div>
          <!-- // inner -->

          <div class="cont_box ani_faUp">
            <!-- <div class="pc_block"> -->
              <div class="scroll-wrap">
                <div class="scroll-inner ellipsis">
                  <div class="scroll">
                    <img src="/public/test/images/main/mn_sec_05_logo_01.png" alt="ci이미지" />
                    <img src="/public/test/images/main/mn_sec_05_logo_01.png" alt="ci이미지" />
                  </div>
                </div>
              </div>
              <div class="scroll-wrap reverse">
                <div class="scroll-inner ellipsis">
                  <div class="scroll">
                    <img src="/public/test/images/main/mn_sec_05_logo_02.png" alt="ci이미지" />
                    <img src="/public/test/images/main/mn_sec_05_logo_02.png" alt="ci이미지" />
                  </div>
                </div>
              </div>
            <!-- </div> -->
            <!-- <div class="mo_block">
              <div class="scroll-wrap">
                <div class="scroll-inner ellipsis">
                  <div class="scroll">
                    <img src="/public/test/images/main/mn_sec_05_logo_mo_01.png" alt="ci이미지" />
                    <img src="/public/test/images/main/mn_sec_05_logo_mo_01.png" alt="ci이미지" />
                  </div>
                </div>
              </div>
              <div class="scroll-wrap reverse">
                <div class="scroll-inner ellipsis">
                  <div class="scroll">
                    <img src="/public/test/images/main/mn_sec_05_logo_mo_02.png" alt="ci이미지" />
                    <img src="/public/test/images/main/mn_sec_05_logo_mo_02.png" alt="ci이미지" />
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </section>
        <!-- // mn_sec_05-->

        <!-- 히스토리 영역 -->
        <section class="mn_sec mn_sec_06">
          <div class="inner">
            <div class="tit_box">
              <h2 class="sec_tit font_scd">
                <span>가플지우가</span>
              </h2>
              <h2 class="sec_tit last font_scd">
                <span>걸어온 길</span>
              </h2>
            </div>
          </div>
          <!-- // inner -->
          <div class="slide_wrap ani_faUp">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="thum_box">
                    <img src="/public/test/images/main/mn_sec_06_his_01.png" alt="" />
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="thum_box">
                    <img src="/public/test/images/main/mn_sec_06_his_02.png" alt="" />
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="thum_box">
                    <img src="/public/test/images/main/mn_sec_06_his_03.png" alt="" />
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="thum_box">
                    <img src="/public/test/images/main/mn_sec_06_his_04.png" alt="" />
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="thum_box">
                    <img src="/public/test/images/main/mn_sec_06_his_05.png" alt="" />
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="thum_box">
                    <img src="/public/test/images/main/mn_sec_06_his_06.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <!-- // swiper-container -->
          </div>
          <!-- // slide_wrap -->
          <div class="cont_box ani_faUp">
            <div class="history_list">
              <div class="txt_box">
                <h3 class="h_year"><span>2018</span></h3>
                <div class="desc_box">
                  <p>P&G, 테라사이클 플라스틱 회수함 시범운영 시작<br />(이마트 서울 30개 점포)</p>
                </div>
              </div>
              <!-- <div class="swiper-scrollbar"></div>-->
            </div>
            <!-- // history_list -->
            <div class="swiper-pagination swiper-pagination-progressbar"><span class="swiper-pagination-progressbar-fill"></span></div>
          </div>
          <!-- // cont_box -->
        </section>
        <!-- // mn_sec_06-->
      </div>
      <!-- //container -->
      <% include ../inc/footer %>
    </div>
    <!-- //wrap -->

    <div id="popup_all">
      <!-- 일반 팝업 타입 -->
      <div class="popup popup_mn" id="normalPopup" style="display: none; filter: alpha(opacity=0); opacity: 1">
        <div class="bg" onclick="layer_CLOSE('.popup_mn')"></div>
        <div class="out_layer_box">
          <div class="in_layer_box">
            <div class="img_wrap" id="popupImgList">
              <!-- 임시 팝업 이미지 -->

            </div>
            <button class="btn_close" onclick="layer_CLOSE('.popup_mn')">
              <span class="blind">팝업 닫기</span>
            </button>
          </div>
        </div>
      </div>
      <!-- // 일반 팝업 타입 -->

      <!--  참여방법 팝업 -->
      <div class="popup popup_mn_04 popup_mn_04_01" style="display: none; filter: alpha(opacity=0); opacity: 0">
        <div class="bg" onclick="layer_CLOSE('.popup_mn_04_01')"></div>
        <div class="out_layer_box">
          <div class="in_layer_box">
            <!-- 슬라이드 시작 -->
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide slide_01">
                    <div class="flex_box">
                    <div class="tit_wrap">
                      <h3>집에서도 쉽고 간편하게!</h3>
                      <h2 class="font_scd"><span>플라스틱 수거 온라인 참여 </span></h2>
                    </div>
                    <div class="cont_box">
                      <ul>
                        <li>
                          <p><span>01.</span>4가지 품목 중 <b>수거 신청을 원하는 품목 선택</b></p>
                          <div class="input_wrap">
                            <label for="recycle_01">
                              <input type="radio" name="recycle" id="recycle_01">
                            </label>
                            <label for="recycle_02">
                              <input type="radio" name="recycle" id="recycle_02">
                            </label>
                            <label for="recycle_03">
                              <input type="radio" name="recycle" id="recycle_03">
                            </label>
                            <label for="recycle_04">
                              <input type="radio" name="recycle" id="recycle_04">
                            </label>
                          </div>
                        </li>
                        <li>
                          <p><span>02.</span><b>‘수거 신청하기’ 버튼</b> 클릭하면 수거 신청 완료</li></p>
                          <div class="btn_wrap">
                            <a href="/program#pro_sec_02" class="btn_link">수거 신청 하러 가기</a>
                          </div>
                        </li>
                      </ul>
                    </div></div>
                  </div>
                  <!-- // swiper-slide -->

                  <div class="swiper-slide slide_02">
                    <div class="flex_box">
                    <div class="tit_wrap">
                      <h3>가까운 이마트 가서 참여해요!</h3>
                      <h2 class="font_scd"><span>플라스틱 수거 오프라인 참여</span></h2>
                    </div>
                    <div class="cont_box">
                      <ul>
                        <li>
                          <img src="/public/test/images/main/popup_mn_04_cont_01.png" class="pc_block"/>
                          <img src="/public/test/images/main/popup_mn_04_cont_mo_01.png" class="mo_block"/>
                        </li>
                        <li>
                          <p class="desc">이마트 매장 안 배치되어 있는 <br class="mo_block" />폐플라스틱 수거함에<br />4가지 품목을 넣어주세요.</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                  </div>
                  <!-- // swiper-slide -->
                </div>
                <div class="swiper-navigation">
                  <button class="btn_prev"><span class="blind">이전</span></button>
                  <button class="btn_next"><span class="blind">다음</span></button>
                </div>
                <div class="swiper-pagination"></div>
              </div>              
            <!-- // 슬라이드 끝 -->
            <button class="btn_close" onclick="layer_CLOSE('.popup_mn_04_01')">
              <span class="blind">팝업 닫기</span>
            </button>
            </div>
          </div>
        </div>
      <!-- // popup_mn_04_01 :: mn_sec_04 첫번째 팝업  -->

      <div class="popup popup_mn_04 popup_mn_04_02" style="display: none; filter: alpha(opacity=0); opacity: 0">
        <div class="bg" onclick="layer_CLOSE('.popup_mn_04_02')"></div>
        <div class="out_layer_box">
          <div class="in_layer_box">
            <div class="flex_box">
              <div class="tit_wrap">
                <h3>전국 방방곡곡 해양쓰레기 수거!</h3>
                <h2 class="font_scd"><span>해안정화 활동</span></h2>
              </div>
              <div class="cont_box">
                <ul>
                  <li>
                    <img src="/public/test/images/main/popup_mn_04_cont_02.png" class="pc_block"/>
                    <img src="/public/test/images/main/popup_mn_04_cont_mo_02.png" class="mo_block"/>
                  </li>
                  <li>
                    <p class="desc">
                      바닷가, 주변 하천 및 길거리 등<br />
                      버려진 쓰레기를 줍고 <br class="mo_block" />분리해 버리는 환경개선 활동입니다.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <button class="btn_close" onclick="layer_CLOSE('.popup_mn_04_02')">
              <span class="blind">팝업 닫기</span>
            </button>
          </div>
        </div>
      </div>
      <!-- // popup_mn_04_02 :: mn_sec_04 두번째 팝업  -->

      

      <div class="popup popup_mn_04 popup_mn_04_03" style="display: none; filter: alpha(opacity=0); opacity: 0">
        <div class="bg" onclick="layer_CLOSE('.popup_mn_04_03')"></div>
        <div class="out_layer_box">
          <div class="in_layer_box">
            <div class="flex_box">
              <div class="tit_wrap">
                <h3>아름다운 우리바다 지키기</h3>
                <h2 class="font_scd"><span>해양환경 교육</span></h2>
              </div>
              <div class="cont_box">
                <ul>
                  <li>
                    <img src="/public/test/images/main/popup_mn_04_cont_03.png"  class="pc_block"/>
                    <img src="/public/test/images/main/popup_mn_04_cont_mo_03.png" class="mo_block"/>
                  </li>
                  <li>
                    <p class="desc">온 오프라인으로 배우는<br>
                      바다를 지키기위한 실천교육입니다.</p>
                  </li>
                </ul>
              </div>
            </div>
            <button class="btn_close" onclick="layer_CLOSE('.popup_mn_04_03')">
              <span class="blind">팝업 닫기</span>
            </button>
          </div>
        </div>
      </div>
      <!-- // popup_mn_04_03 :: mn_sec_04 세번째 팝업  -->
      <!--  // 참여방법 팝업 -->
    </div>
    <!-- //popup_all -->

    <!-- js -->
    <script src="/public/test/js/mo.min.js"></script>
    <script src="/public/test/js/mo.main.js"></script>
    <!-- // js -->
  </body>
</html>
