<html lang="ko">
<head>
    <% include ../inc/head_script.ejs %>
    <link rel="stylesheet" href="/public/test/css/main.css" />
</head>

<body>
<div id="wrapper">
    <div class="skip">
        <a href="#container">본문 바로가기</a>
    </div>
    <% include ../inc/header %>

    <div id="container">
        <section class="main_vis">
            <div class="inner">
                <div class="slide_wrap">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" style="background-image: url(public/test/images/main/main_vis_01.png);">
                                <a href="" class="top_banner">
                                    <span class="tag">메시지</span>
                                    <h5 class="title">
                                        [어마알] vol.99 - 알지? 전문가에게 <br>
                                        직접 듣는 알지? 사용 설명서
                                    </h5>
                                </a>
                                <ul class="bot_banner">
                                    <li>
                                        <a href="">
                                            <figure class="ico"></figure>
                                            <div class="text">
                                                <span class="tag">연관 미션</span>
                                                <h6 class="title">
                                                    알지연구소로 도파민 치료한 후기 지금
                                                </h6>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <figure class="ico"></figure>
                                            <div class="text">
                                                <span class="tag">연관 미션</span>
                                                <h6 class="title">
                                                    알지연구소로 도파민 치료한 후기 지금 <br>
                                                    알지연구소로 도파민 치료한 후기 지금 알지연구소로 도파민 치료한 후기 지금 알지연구소로 도파민 치료한 후기 지금
                                                </h6>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="swiper-slide" data-layout="no_mission" style="background-image: url(public/test/images/main/main_vis_02.png);">
                                <a href="" class="top_banner">
                                    <h5 class="title">
                                        매일매일 꾸준히 참여할 수 있는 <br>
                                        챌린지에 대해 알아보세요!
                                    </h5>
                                </a>
                            </div>
                            <div class="swiper-slide" style="background-image: url(public/test/images/main/main_vis_03.png);">
                                <a href="" class="top_banner">
                                    <span class="tag">메시지</span>
                                    <h5 class="title">
                                        매일매일 꾸준히 참여할 수 있는 <br>
                                        챌린지에 대해 알아보세요!
                                    </h5>
                                </a>
                                <ul class="bot_banner">
                                    <li>
                                        <a href="">
                                            <figure class="ico"></figure>
                                            <div class="text">
                                                <span class="tag">연관 미션</span>
                                                <h6 class="title">
                                                    알지연구소로 도파민 치료한 후기 지금 <br>
                                                    알지연구소로 도파민 치료한 후기 지금 알지연구소로 도파민 치료한 후기 지금 알지연구소로 도파민 치료한 후기 지금
                                                </h6>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <figure class="ico"></figure>
                                            <div class="text">
                                                <span class="tag">연관 미션</span>
                                                <h6 class="title">
                                                    알지연구소로 도파민 치료한 후기 지금 <br>
                                                    알지연구소로 도파민 치료한 후기 지금 알지연구소로 도파민 치료한 후기 지금 알지연구소로 도파민 치료한 후기 지금
                                                </h6>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- //swiper-container -->
                    <!-- 슬라이드 컨트롤 버튼 -->
                    <div class="control_wrap">
                        <div class="swiper-button-prev"><span class="blind">이전</span></div>
                        <div class="autoplay-control-wrap">
                            <button aria-pressed="false" title="자동재생 일시정지"></button>
                        </div>
                        <div class="swiper-button-next"><span class="blind">다음</span></div>
                    </div>
                    <!-- 슬라이드 페이징 -->
                    <div class="swiper-pagination-wrap">
                        <div class="swiper-pagination"></div>
                    </div>
                </div><!-- //slide_wrap -->
            </div>
        </section>
        <section class="main_sec_01">
            <div class="inner">
                <div class="slide_wrap">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="" style="background-image: url(public/test/images/main/main_sec_01_img_01.png);">
                                    <h2 class="blind">EVENT 그것이 알고싶다 알지? 리워드의 모든 것! rz포인트 이렇게 사용하세요!</h2>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="" style="background-image: url(public/test/images/main/main_sec_03_img_01.png);">
                                    <h2 class="blind">EVENT 그것이 알고싶다 알지? 리워드의 모든 것! rz포인트 이렇게 사용하세요!</h2>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="" style="background-image: url(public/test/images/main/main_vis_01.png);">
                                    <h2 class="blind">EVENT 그것이 알고싶다 알지? 리워드의 모든 것! rz포인트 이렇게 사용하세요!</h2>
                                </a>
                            </div>
                        </div>
                    </div><!-- //swiper-container -->
                    <!-- 슬라이드 버튼 -->
                    <div class="swiper-button-wrap">
                        <div class="swiper-button-prev"><span class="blind">이전</span></div>
                        <div class="swiper-button-next"><span class="blind">다음</span></div>
                    </div>
                    <!-- 슬라이드 페이징 -->
                    <div class="swiper-pagination-wrap">
                        <div class="swiper-pagination"></div>
                    </div>
                </div><!-- //slide_wrap -->
            </div>
        </section>
        <section class="main_sec_02" data-layout="box">
            <div class="inner">
                <h2 class="main_tit">
                    <span>핫<img src="public/test/images/main/title_fire.png" alt="">알지?</span> 콘텐츠 TOP5
                </h2>
                <ul class="list">
                    <li>
                        <a href="">
                            <figure style="background-image: url(public/test/images/main/main_vis_03.png);">
                            </figure>
                            <div class="text_box">
                                <h3>
                                    플러그는 빼고, 에너지 절약은 더해요! 에너지+14일 챌린지!
                                    플러그는 빼고, 에너지 절약은 더해요! 에너지+14일 챌린지
                                    플러그는 빼고, 에너지 절약은 더해요! 에너지+14일 챌린지
                                </h3>
                                <ul class="data_box">
                                    <li class="parti"><i><span class="blind">참여 수</span></i>123,465</li>
                                    <li class="like"><i><span class="blind">좋아요 수</span></i>1,234</li>
                                    <li class="cmt"><i><span class="blind">댓글 수</span></i>1,234</li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <figure style="background-image: url(public/test/images/main/main_sec_02_img_01.png);">
                            </figure>
                            <div class="text_box">
                                <h3>
                                    플러그는 빼고, 에너지 절약은 더해요! <br>
                                    에너지+14일 챌린지!
                                </h3>
                                <ul class="data_box">
                                    <li class="parti"><i><span class="blind">참여 수</span></i>123,465</li>
                                    <li class="like"><i><span class="blind">좋아요 수</span></i>1,234</li>
                                    <li class="cmt"><i><span class="blind">댓글 수</span></i>1,234</li>
                                </ul>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <figure style="background-image: url(public/test/images/main/main_sec_02_img_01.png);">
                            </figure>
                            <div class="text_box">
                                <h3>
                                    플러그는 빼고, 에너지 절약은
                                </h3>
                                <ul class="data_box">
                                    <li class="parti"><i><span class="blind">참여 수</span></i>123,465</li>
                                    <li class="like"><i><span class="blind">좋아요 수</span></i>1,234</li>
                                    <li class="cmt"><i><span class="blind">댓글 수</span></i>1,234</li>
                                </ul>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="main_sec_03" data-layout="box">
            <div class="inner">
                <div class="top_box">
                    <h2 class="main_tit">
                        <span>알친의 생각!</span><img src="public/test/images/main/title_search.png" alt=""> 알리오 올리오
                    </h2>
                    <!-- 댓글 콘텐츠 -->
                    <!-- <div class="cont_wrap">
                        <figure>
                            <img src="public/test/images/main/main_sec_03_img_01.png" alt="나만의 특별한 레시피는?">
                        </figure>
                        <h3>
                            <span>999,999</span>명이 참여하는 중!
                        </h3>
                    </div> -->
                    <!-- 선택 콘텐츠 -->
                    <div class="cont_wrap">
                        <figure>
                            <img src="public/test/images/main/main_sec_03_img_02.png" alt="TYPE A 탄산없는 콜라 VS TYPE B 치즈없는 피자">
                        </figure>
                        <div class="percentage">
                            <ul class="num">
                                <li>
                                    <span>62</span>%
                                </li>
                                <li>
                                    <span>38</span>%
                                </li>
                            </ul>
                            <div class="bar">
                                <span style="width: 62%;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="btn_wrap">
                        <a href="" class="btn" data-layout="main">참여하기</a>
                    </div>
                </div><!-- //top_box -->
                <div class="bot_box">
                    <h2 class="main_tit">
                        <span>꾸준 챌린지!</span><img src="public/test/images/main/title_sparkle.png" alt=""> 매일매일 알지?해요
                    </h2>
                    <ul>
                        <li>
                            <a href="">
                                <h3>
                                    새 친구와 함께!
                                    <span>짝꿍 미션</span>
                                </h3>
                                <figure></figure>
                            </a>
                            <button class="btn_popup" data-popup="pop_main_info_01">짝꿍 미션이란?</button>
                        </li>
                        <li>
                            <a href="">
                                <h3>
                                    나무 0.2그루 심기!
                                    <span>걷기 챌린지</span>
                                </h3>
                                <figure></figure>
                            </a>
                            <button class="btn_popup" data-popup="pop_main_info_02">걷기 챌린지란?</button>
                        </li>
                    </ul>
                </div><!-- //bot_box -->
            </div>
        </section>

        <section class="main_sec_04">
            <div class="inner">
                <h2 class="main_tit">
                    <span>함께해요</span><img src="public/test/images/main/title_heart.png" alt=""> 기부 캠페인
                </h2>
                <ul>
                    <li>
                        <a class="list" href="">
                            <figure style="background-image: url(public/test/images/main/main_sec_04_img_01.png);"></figure>
                            <div class="text_box">
                                <div class="percentage">
                                    <!-- data-percent="숫자"-->
                                    <svg class="round" viewbox="0 0 100 100" data-percent="50">
                                        <circle cx="50" cy="50" r="40" />
                                    </svg>
                                    <div class="num">
                                        <span>50</span>%
                                    </div>
                                    <div class="bg">
                                        <svg viewbox="0 0 100 100">
                                            <circle cx="50" cy="50" r="40" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="title_wrap">
                                    <h6>어린 가장이 된 아이들의 신학기를 응원해애애애애애애애애애애애애애애애애</h6>
                                    <p>임팩트비즈니스재단</p>
                                </div>
                            </div>
                        </a>
                        <a href="" class="btn" data-layout="main">기부하기</a>
                    </li>
                    <li>
                        <a class="list" href="">
                            <figure style="background-image: url(public/test/images/main/main_sec_04_img_01.png);"></figure>
                            <div class="text_box">
                                <div class="percentage">
                                    <!-- data-percent="숫자"-->
                                    <svg class="round" viewbox="0 0 100 100" data-percent="79">
                                        <circle cx="50" cy="50" r="40" />
                                    </svg>
                                    <div class="num">
                                        <span>79</span>%
                                    </div>
                                    <div class="bg">
                                        <svg viewbox="0 0 100 100">
                                            <circle cx="50" cy="50" r="40" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="title_wrap">
                                    <h6>어린 가장이 된 아이들의 신학기를 응원해애애애애애애애애애애애애애애애애</h6>
                                    <p>임팩트비즈니스재단</p>
                                </div>
                            </div>
                        </a>
                        <a href="" class="btn" data-layout="main">기부하기</a>
                    </li>
                    <li>
                        <a class="list" href="">
                            <figure style="background-image: url(public/test/images/main/main_sec_04_img_01.png);"></figure>
                            <div class="text_box">
                                <div class="percentage">
                                    <!-- data-percent="숫자"-->
                                    <svg class="round" viewbox="0 0 100 100" data-percent="100">
                                        <circle cx="50" cy="50" r="40" />
                                    </svg>
                                    <div class="num">
                                        <span>100</span>%
                                    </div>
                                    <div class="bg">
                                        <svg viewbox="0 0 100 100">
                                            <circle cx="50" cy="50" r="40" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="title_wrap">
                                    <h6>어린 가장이 된 아이들의 신학기를</h6>
                                    <p>임팩트비즈니스재단</p>
                                </div>
                            </div>
                        </a>
                        <a href="" class="btn" data-layout="main">기부하기</a>
                    </li>
                </ul>
            </div>
        </section>
    </div><!-- //container -->

    <% include ../inc/footer.ejs %>
    <% include ../inc/footerNav.ejs %>
</div>

<div id="popup_all">
    <!-- 로그인 팝업 -->
    <div class="popup" id="pop_main_login">
        <div class="popup_inner" data-layout="type_01">
            <button type="button" class="btn_popup_close" data-layout="icon">
                <span class="blind">닫기</span>
            </button>
            <h3 class="sub_title">
                로그인 후 이용할 수 있습니다.
            </h3>
            <ul class="btn_wrap">
                <li><a href="" class="btn_type_01">로그인/회원가입 바로가기</a></li>
                <li><button class="btn_type_02 btn_popup_close" data-layout="text">닫기</button></li>
            </ul>
        </div>
    </div>
    <!-- 짝꿍미션 준비중 팝업 -->
    <div class="popup" id="pop_main_no_mission">
        <div class="popup_inner" data-layout="type_01">
            <button type="button" class="btn_popup_close" data-layout="icon">
                <span class="blind">닫기</span>
            </button>
            <h2 class="title">
                지금은 짝꿍 미션 준비중!
            </h2>
            <p class="desc">
                지금은 짝꿍 미션에 참여할 수 없어요! <br>
                바로 참여할 수 있는 장기 미션부터 시작해 보세요!
            </p>
            <ul class="btn_wrap">
                <li><a href="" class="btn_type_01">장기 미션 바로 가기</a></li>
                <li><button class="btn_type_02 btn_popup_close" data-layout="text">닫기</button></li>
            </ul>
        </div>
    </div>
    <!-- 짝꿍미션 설명 팝업 -->
    <div class="popup" id="pop_main_info_01">
        <div class="popup_inner">
            <button type="button" class="btn_popup_close" data-layout="icon">
                <span class="blind">닫기</span>
            </button>
            <h2 class="title">
                새 친구와 함께 더 즐겁게, <br>
                추가 보상까지!<img src="public/test/images/main/title_sparkle.png" alt="">
            </h2>
            <p class="desc">
                기쁨도 실천도 알지?도 나누면 더 커지는 법이죠
            </p>
            <p class="desc">
                <span>
                    아직 알지?를 모르는 친구를 초대하고 <br>
                    장기 미션에 함께 도전해 보세요.
                </span>
            </p>
            <p class="desc">
                서로 응원하며 미션을 완수한 <br>
                환상의 짝꿍들에게는 추가 보상까지! <br>
                지금 바로 시작해볼까요?
            </p>
        </div>
    </div>
    <!-- 걷기미션 설명 팝업 -->
    <div class="popup" id="pop_main_info_02">
        <div class="popup_inner">
            <button type="button" class="btn_popup_close" data-layout="icon">
                <span class="blind">닫기</span>
            </button>
            <h2 class="title">
                걸어서 지킨다 <br>
                지구도 내 건강도<img src="public/test/images/main/title_sparkle.png" alt="">
            </h2>
            <p class="desc">
                진짜 발자국은 찍고 탄소발자국은 지우는 <br>
                가장 가까운 실천, 걷기!
            </p>
            <p class="desc">
                <span>
                    7,750걸음을 걸으면 나무 0.2그루를 심는 효과와 <br>
                    똑같은 탄소저감 효과를 얻을 수 있어요.
                </span>
            </p>
            <p class="desc">
                매일 걷고 rz 적립까지! <br>
                지금 당장 탄소제로 일상을 시작해보세요!
            </p>
        </div>
    </div>
</div><!-- //popup_all -->

<script>
    $(function(){
        //-----main vis slide setting-----
        var mainVisSlider = new Swiper('.main_vis .swiper-container', {
            // loop: true,
            slidesPerGroup: 1,
            slidesPerView: 1,
            speed: 500,
            observer: true,
            observeParents: true,
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
            navigation: {
                nextEl: '.main_vis .swiper-button-next',
                prevEl: '.main_vis .swiper-button-prev',
            },
            pagination: {
                el: '.main_vis .swiper-pagination-wrap',
                type: 'bullets',
                clickable: true,
            },
            on: {
                init: function () {
                    let visSlide = this;
                    let autoPlayBtnVis = document.querySelector('.main_vis .autoplay-control-wrap button');
                    autoPlayBtnVis.addEventListener('click', (e) => {
                        let autoPlayState = autoPlayBtnVis.getAttribute('aria-pressed');
                        if (autoPlayState === 'false') {
                            autoPlayBtnVis.setAttribute('aria-pressed', 'true');
                            autoPlayBtnVis.setAttribute('title', '자동재생 시작');
                            visSlide.autoplay.stop();
                        } else if (autoPlayState === 'true') {
                            autoPlayBtnVis.setAttribute('aria-pressed', 'false');
                            autoPlayBtnVis.setAttribute('title', '자동재생 일시정지');
                            visSlide.autoplay.start();
                        };
                    });
                },
            },
        });

        //-----main sec 01 slide setting-----
        let mainSecSlider_01 = new Swiper('.main_sec_01 .swiper-container', {
            // loop: true,
            slidesPerGroup: 1,
            slidesPerView: 1,
            speed: 500,
            observer: true,
            observeParents: true,
            navigation: {
                nextEl: '.main_sec_01 .swiper-button-next',
                prevEl: '.main_sec_01 .swiper-button-prev',
            },
            pagination: {
                el: '.main_sec_01 .swiper-pagination-wrap',
                type: "fraction"
            },
        });

        //-----main sec 04 precent circle-----
        let $round = $('.round');
        $round.each(function(){
            let roundRadius = $(this).find('circle').attr('r');
            let roundPercent = $(this).data('percent');
            let roundCircum = 2 * roundRadius * Math.PI;
            let roundDraw = roundPercent * roundCircum / 100;
            $(this).css('stroke-dasharray', roundDraw  + ' 999')
        });
    });
</script>
</body>
</html>
