<html lang="ko">
  <% include ../inc/head_script.ejs %>
  <link rel="stylesheet" href="/public/test/css/program.css" />
  <script src="/views/user/program/program.js" type="text/javascript"></script>
  <script>
    $(document).ready(function () {
      $('#gpjw_program').addClass('active');
      $('#gpjw_program_mo').addClass('active');
      getRecycleInfo();
    });
  </script>
  <body>
    <div id="wrap">
      <% include ../inc/header %>
      <div id="container">
        <section class="pro_sec_01">
          <div class="inner">
            <h2 class="title">우리가 함께한 오늘의 실천</h2>
            <h3 class="sub_title">
              우리가 가져온 플라스틱,<br class="brm" />
              지금까지 얼마나 모였을까요?
            </h3>
            <div class="kg_wrap">
              <img src="/public/test/images/program/pro_sec_01_img_02.png" alt="" />
              <h6><span id="weight">2,271</span>kg</h6>
            </div>
            <p class="desc">우리가 함께 깨끗하고 아름다운 우리 바다를 지켰어요.</p>
            <!--            <p class="desc">-->
            <!--              깨끗하고 아름다운 우리 바다를 위해 <br />-->
            <!--              지금까지 <span id="personnel"></span><span>명</span>이 함께 해주셨어요. <br />-->
            <!--              우리가 함께 깨끗하고 아름다운 우리 바다를 지켰어요.-->
            <!--            </p>-->
            <p class="info">
              수거량: 오프라인수거량, 온라인 수거량 합계 기준<br />
              (<span id="dateLast">2023. 07</span> 기준 업데이트)
            </p>
          </div>
          <!-- //inner -->
        </section>
        <section class="pro_sec_02" id="pro_sec_02">
          <div class="inner">
            <div class="logo">
              <img src="/public/test/images/program/pro_sec_02_img_01.png" alt="가플지우" />
            </div>
            <h2 class="title">수거 프로그램 참여하기</h2>
            <div class="box">
              <div class="top">
                <h3 class="title">온라인</h3>
                <h4 class="sub_title">우리 집에서도 쉽게 참여해요!</h4>
                <div class="text_wrap">
                  <h6>수거 신청 전 꼭 읽어주세요.</h6>
                </div>
                <div class="slide_wrap">
                  <div class="swiper-container">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <ul>
                          <li>
                            1. 가플지우 캠페인에서는 더욱 올바른 재활용을 위해 <br />
                            각각의 <b>수거 품목별로 별도</b>로 구분하여 <br class="brm" />온라인 수거 신청을 진행하고 있습니다.
                          </li>
                          <li>2. 아래 4가지 품목 중 수거 신청을 원하는 품목의 <br class="brm" /><b>그림을 클릭 후 ‘수거 신청하기’ 버튼</b>을 클릭해주세요.</li>
                          <li>3. 연결된 페이지에서 <b>‘수거 신청하기’ 버튼</b>을 <br class="brm" />클릭해주시면 최종적으로 수거 신청이 완료됩니다.</li>
                        </ul>
                        <p>
                          * 환경을 위해 한 번의 신청 시 최대한 많은 양의<br class="brm" />
                          플라스틱을 담아 보내주시면 더욱 좋습니다.
                        </p>
                        <div class="cont_01">
                          <!-- 수거 신청하기 버튼 -->
                          <a class="btn_collection" href="/collectionA" target="_blank"><span class="blind">수거 신청하기</span></a>
                          <img class="img_de" src="/public/test/images/program/pro_sec_02_slide_01.png" alt="" />
                          <img class="img_mo" src="/public/test/images/program/pro_sec_02_slide_01_mo.png" alt="" />
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <ul>
                          <li class="first">브리타는 필터 1개로 150리터 만큼의 <br class="brm" />일회용 플라스틱 사용량을 줄이는 것에서 더 나아가 <br />브리타 필터를 재활용하는 <b>‘브리타 그린 리프 멤버십’</b>을 <br class="brm" />테라사이클과 함께 합니다.</li>
                          <li>1. 다 사용한 브리타 필터는 잘 말려 완전히 건조해 주세요.</li>
                          <li>2. 브리타 필터 9개 이상을 모아 종이 박스에 포장해 <br class="brm" />문 앞에 놔주세요.</li>
                          <li>3. 가플지우 캠페인 사이트에서 해당하는 품목의 <br class="brm" /><b>‘수거 신청하기’ 버튼</b>을 클릭해 주세요.</li>
                        </ul>
                        <p>
                          * 환경을 위해 1박스에 최대한 많은 필터를 담아 보내주세요. <br />
                          필터를 최대한 많이 모아 1박스에 보내주시면 여러 택배 박스를 <br class="brm" />보내시는 것보다 탄소 배출 저감에 기여할 수 있습니다.
                        </p>
                        <div class="cont_02">
                          <a class="btn_collection" href="/collectionB" target="_blank"><span class="blind">수거 신청하기</span></a>
                          <img class="img_de" src="/public/test/images/program/pro_sec_02_slide_02.png" alt="" />
                          <img class="img_mo" src="/public/test/images/program/pro_sec_02_slide_02_mo.png" alt="" />
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <ul>
                          <li>
                            1. 가플지우 캠페인에서는 더욱 올바른 재활용을 위해 <br />
                            각각의 <b>수거 품목별로 별도</b>로 구분하여 <br class="brm" />온라인 수거 신청을 진행하고 있습니다.
                          </li>
                          <li>2. 아래 4가지 품목 중 수거 신청을 원하는 품목의 <br class="brm" /><b>그림을 클릭 후 ‘수거 신청하기’ 버튼</b>을 클릭해주세요.</li>
                          <li>3. 연결된 페이지에서 <b>‘수거 신청하기’ 버튼</b>을 <br class="brm" />클릭해주시면 최종적으로 수거 신청이 완료됩니다.</li>
                        </ul>
                        <p>
                          * 환경을 위해 한 번의 신청 시 최대한 많은 양의<br class="brm" />
                          플라스틱을 담아 보내주시면 더욱 좋습니다.
                        </p>
                        <div class="cont_03">
                          <a class="btn_collection" href="/collectionC" target="_blank"><span class="blind">수거 신청하기</span></a>
                          <img class="img_de" src="/public/test/images/program/pro_sec_02_slide_03.png" alt="" />
                          <img class="img_mo" src="/public/test/images/program/pro_sec_02_slide_03_mo.png" alt="" />
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <ul>
                          <li>
                            1. 가플지우 캠페인에서는 더욱 올바른 재활용을 위해 <br />
                            각각의 <b>수거 품목별로 별도</b>로 구분하여 <br class="brm" />온라인 수거 신청을 진행하고 있습니다.
                          </li>
                          <li>2. 아래 4가지 품목 중 수거 신청을 원하는 품목의 <br class="brm" /><b>그림을 클릭 후 ‘수거 신청하기’ 버튼</b>을 클릭해주세요.</li>
                          <li>3. 연결된 페이지에서 <b>‘수거 신청하기’ 버튼</b>을 <br class="brm" />클릭해주시면 최종적으로 수거 신청이 완료됩니다.</li>
                        </ul>
                        <p>
                          * 환경을 위해 한 번의 신청 시 최대한 많은 양의<br class="brm" />
                          플라스틱을 담아 보내주시면 더욱 좋습니다.
                        </p>
                        <div class="cont_04">
                          <a class="btn_collection" href="/collectionD" target="_blank"><span class="blind">수거 신청하기</span></a>
                          <img class="img_de" src="/public/test/images/program/pro_sec_02_slide_04.png" alt="" />
                          <img class="img_mo" src="/public/test/images/program/pro_sec_02_slide_04_mo.png" alt="" />
                        </div>
                      </div>
                    </div>
                    <!-- //swiper-wrapper -->
                    <div class="control">
                      <button type="button" class="btn_prev"><span class="blind">이전</span></button>
                      <button type="button" class="btn_next"><span class="blind">다음</span></button>
                    </div>
                  </div>
                  <!-- //swiper-container -->
                  <div class="control">
                    <!-- <button type="button" class="btn_prev"><span class="blind">이전</span></button>
                    <button type="button" class="btn_next"><span class="blind">다음</span></button> -->
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
                <!-- //slide_wrap -->
              </div>
              <div class="bot">
                <h3 class="font_scd title">오프라인</h3>
                <h4 class="sub_title">가까운 이마트에서도 참여해요!</h4>
                <figure>
                  <img src="/public/test/images/program/pro_sec_02_img_03.png" alt="" />
                </figure>
                <a href="/shop" target="_blank">가까운 이마트로 가볼까요?</a>
                <p>
                  보다 많은 매장에서 만날 수 있도록<br class="brm" />
                  가플지우 캠페인을 응원해주세요!
                </p>
              </div>
            </div>
            <!-- //box -->
          </div>
          <!-- //inner -->
        </section>
        <section class="pro_sec_03">
          <div class="inner">
            <h2 class="title">
              우리가 함께한 오늘의 실천이 쌓여 <br />
              아래와 같이 재활용됩니다.
            </h2>
            <div class="slide_wrap">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="cont_01">
                      <figure>
                        <img src="/public/test/images/program/pro_sec_03_img_01.png" alt="" />
                      </figure>
                      <h6>STEP 1.</h6>
                      <h5>방문 수거</h5>
                      <p>
                        온/오프라인을 통해 여러분들이 <br class="pc_block" />
                        모아 <br class="mo_block" />주신 플라스틱을 모두 수거 <br class="pc_block" />
                        해 갑니다
                      </p>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="cont_02">
                      <figure>
                        <img src="/public/test/images/program/pro_sec_03_img_02.png" alt="" />
                      </figure>
                      <h6>STEP 2.</h6>
                      <h5>분류/세척</h5>
                      <p>
                        폐플라스틱이 소중한 자원이 <br class="pc_block" />
                        될 수 <br class="mo_block" />있도록 재질별 분류 및 <br class="pc_block" />
                        세척 과정을 <br class="mo_block" />거칩니다
                      </p>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="cont_03">
                      <figure>
                        <img src="/public/test/images/program/pro_sec_03_img_03.png" alt="" />
                      </figure>
                      <h6>STEP 3.</h6>
                      <h5>재활용 공정</h5>
                      <p>
                        테라사이클을 통해 <br class="pc_block" />
                        재활용 공정을 <br class="mo_block" />거쳐 <br class="pc_block" />
                        새로운 자원이 될 준비를 합니다
                      </p>
                    </div>
                  </div>
                </div>
                <!-- //swiper-wrapper -->
              </div>
              <!-- //swiper-container -->
            </div>
            <!-- //slide_wrap -->
          </div>
          <!-- //inner -->
        </section>
      </div>
      <!-- //container -->
      <% include ../inc/footer %>
    </div>
    <!-- //wrap -->

    <script>
      $(function () {
        //program sec 02 swiper setting
        var program_swiper_01 = new Swiper('.pro_sec_02 .slide_wrap .swiper-container', {
          observer: true,
          observeParents: true,
          allowTouchMove: true,
          autoHeight: true,
          loop: true,
          speed: 500,
          navigation: {
            nextEl: '.pro_sec_02 .slide_wrap .btn_next',
            prevEl: '.pro_sec_02 .slide_wrap .btn_prev',
          },
          pagination: {
            el: '.pro_sec_02 .slide_wrap .swiper-pagination',
            type: 'bullets',
            clickable: true,
          },
        });

        //program sec 03 swiper setting
        var program_swiper_02 = new Swiper('.pro_sec_03 .slide_wrap .swiper-container', {
          slidesPerView: 3,
          spaceBetween: 0,
          freeMode: false,
          touch: true,
          observer: true,
          observeParents: true,
          allowTouchMove: true,
          speed: 500,
          breakpoints: {
            767: {
              slidesPerView: 1.1,
              spaceBetween: 0,
              allowTouchMove: true,
              touch: true,
            },
          },
        });
      });
    </script>
  </body>
</html>
