<html lang="ko">
<head>
    <% include ../inc/head_script.ejs %>
    <link rel="stylesheet" href="/public/front/css/message.css" />
</head>

<body>
<div id="wrapper">
    <div class="skip">
        <a href="#container">본문 바로가기</a>
    </div>
    <% include ../inc/header %>

    <div id="container">
        <section class="result_sec_01" data-layout="list">
            <div class="inner">
                <div class="sec_tit_wrap">
                    <h2 class="sec_tit">메시지</h2>
                    <a href="/message">목록으로</a>
                </div>
                <div class="search_wrap">
                    <form id="searchForm" class="search_form">
                        <input type="text" id="msgKeyword" placeholder="검색어 또는 태그 입력" title="검색어 또는 태그 입력" value="오잉?">
                        <button type="button">
                            <span class="blind">검색하기</span>
                        </button>
                    </form>
                </div>
                <ul class="list " data-layout="message">
                    <li class="">
                        <a class="" href="">
                            <figure style="background-image: url(/public/front/images/message/msg_sec_01_img_01.png);"></figure>
                            <div class="text_box">
                                <div class="label_wrap">
                                    <p class="cate_label"><i class="ico" data-tag="people"></i>사람</p>
                                    <ul class="data_box">
                                        <li class="like"><i><span class="blind">좋아요 수</span></i>1,234</li>
                                        <li class="cmt"><i><span class="blind">댓글 수</span></i>1,234</li>
                                    </ul>
                                </div>
                                <div class="title_wrap">
                                    <h3 class="list_tit">[어마알] vol.99 - 알지? 전문가에게 직접 듣는 알지? 사용 설명서</h3>
                                    <ul class="data_box">
                                        <li class="parti">
                                            <i><span class="blind">참여 수</span></i>
                                            <strong>123,465</strong>명이 참여했어요!
                                        </li>
                                    </ul>
                                    <ul class="tag_list">
                                        <li class="tag">태그는</li>
                                        <li class="tag">최대</li>
                                        <li class="tag">다섯자까지</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="">
                        <a class="" href="">
                            <figure style="background-image: url(/public/front/images/message/msg_sec_01_img_02.png);"></figure>
                            <div class="text_box">
                                <div class="label_wrap">
                                    <p class="cate_label"><i class="ico" data-tag="people"></i>사람</p>
                                    <ul class="data_box">
                                        <li class="like"><i><span class="blind">좋아요 수</span></i>1,234</li>
                                        <li class="cmt"><i><span class="blind">댓글 수</span></i>1,234</li>
                                    </ul>
                                </div>
                                <div class="title_wrap">
                                    <h3 class="list_tit">플라스틱 배달용기 분리배출, 꼭 기억해요!</h3>
                                    <ul class="data_box">
                                        <li class="parti">
                                            <i><span class="blind">참여 수</span></i>
                                            <strong>89,075</strong>명이 참여했어요!
                                        </li>
                                    </ul>
                                    <ul class="tag_list">
                                        <li class="tag">태그는</li>
                                        <li class="tag">최대</li>
                                        <li class="tag">다섯자까지</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="">
                        <a class="" href="">
                            <figure style="background-image: url(/public/front/images/message/msg_sec_01_img_01.png);"></figure>
                            <div class="text_box">
                                <div class="label_wrap">
                                    <p class="cate_label"><i class="ico" data-tag="people"></i>사람</p>
                                    <ul class="data_box">
                                        <li class="like"><i><span class="blind">좋아요 수</span></i>1,234</li>
                                        <li class="cmt"><i><span class="blind">댓글 수</span></i>1,234</li>
                                    </ul>
                                </div>
                                <div class="title_wrap">
                                    <h3 class="list_tit">[어마알] vol.99 - 알지? 전문가에게 직접 듣는 알지? 사용 설명서 [어마알] vol.99 - 알지?
                                        전문가에게 직접 듣는 알지? 사용 설명서</h3>
                                    <ul class="data_box">
                                        <li class="parti">
                                            <i><span class="blind">참여 수</span></i>
                                            <strong>123,465</strong>명이 참여했어요!
                                        </li>
                                    </ul>
                                    <ul class="tag_list">
                                        <li class="tag">태그는</li>
                                        <li class="tag">최대</li>
                                        <li class="tag">다섯자까지</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="">
                        <a class="" href="">
                            <figure style="background-image: url(/public/front/images/message/msg_sec_01_img_02.png);"></figure>
                            <div class="text_box">
                                <div class="label_wrap">
                                    <p class="cate_label"><i class="ico" data-tag="people"></i>사람</p>
                                    <ul class="data_box">
                                        <li class="like"><i><span class="blind">좋아요 수</span></i>1,234</li>
                                        <li class="cmt"><i><span class="blind">댓글 수</span></i>1,234</li>
                                    </ul>
                                </div>
                                <div class="title_wrap">
                                    <h3 class="list_tit">플라스틱 배달용기 분리배출, 꼭 기억해요!</h3>
                                    <ul class="data_box">
                                        <li class="parti">
                                            <i><span class="blind">참여 수</span></i>
                                            <strong>89,075</strong>명이 참여했어요!
                                        </li>
                                    </ul>
                                    <ul class="tag_list">
                                        <li class="tag">태그는</li>
                                        <li class="tag">최대</li>
                                        <li class="tag">다섯자까지</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div><!-- // inner -->
        </section><!-- // result_sec_01 -->
        <section class="result_sec_02" data-layout="list">
            <div class="inner">
                <p class="sub_desc">
                    더 많은 알지? 메시지를 확인해 보세요!<br />
                    <span>지난 메시지는 rz 적립 및 기부가 되지 않습니다.</span>
                </p>
                <ul class="list " data-layout="message">
                    <!-- 미션 종료되면 li 태그에 complete 를 추가해주세요-->
                    <li class="complete">
                        <a class="" href="/message/detail">
                            <figure style="background-image: url(/public/front/images/message/msg_sec_01_img_01.png);"></figure>
                            <div class="text_box">
                                <div class="label_wrap">
                                    <p class="cate_label"><i class="ico" data-tag="people"></i>사람</p>
                                    <ul class="data_box">
                                        <li class="like"><i><span class="blind">좋아요 수</span></i>1,234</li>
                                        <li class="cmt"><i><span class="blind">댓글 수</span></i>1,234</li>
                                    </ul>
                                </div>
                                <div class="title_wrap">
                                    <h3 class="list_tit">[어마알] vol.99 - 알지? 전문가에게 직접 듣는 알지? 사용 설명서</h3>
                                    <ul class="data_box">
                                        <li class="parti">
                                            <i><span class="blind">참여 수</span></i>
                                            <strong>123,465</strong>명이 참여했어요!
                                        </li>
                                    </ul>
                                    <ul class="tag_list">
                                        <li class="tag">태그는</li>
                                        <li class="tag">최대</li>
                                        <li class="tag">다섯자까지</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div><!-- // inner -->
        </section><!-- // result_sec_02 -->
    </div><!-- //container -->

    <% include ../inc/footer.ejs %>
    <% include ../inc/footerNav.ejs %>
</div>
</body>
</html>
