/* --------------------------------sec common-------------------------------- */
#container {padding-top:5.625rem}
section {position:relative; width:100%}
section .inner {position:relative; width:92%; max-width:1320px; margin:0 auto}
section .title {font-size:3rem; /*font-size:3.625rem;*/ font-weight:800; text-align:center; font-family:'S Core Dream', sans-serif}
section .sub_title {font-size: 1.125rem; /*font-size:2.25rem;*/ font-weight:500; text-align:center}
@media screen and (max-width:767px) {
    section .title {font-size:2rem}
    section .sub_title {font-size:1.5rem}
}/* sm */
/* --------------------------------sec common end-------------------------------- */


/* --------------------------------brd_sec_01-------------------------------- */
.brd_sec_01 {padding:8.75rem 0 5rem; background-color:#F6F6F6; text-align:center}
.brd_sec_01 .title::before {content:''; display:block; background:url(/public/test/images/board/ico_news.svg) center center / 100% auto no-repeat; width:3rem; height:3rem; margin:0 auto 0.1rem}
.brd_sec_01 .sub_title {margin-bottom:4rem}
.brd_sec_01 .list_wrap ul {display:flex; justify-content:flex-start; align-items:center; flex-wrap:wrap}
.brd_sec_01 .list_wrap ul li {width:calc((100% - 3rem)/3); margin-bottom:4rem}
.brd_sec_01 .list_wrap ul li:not(:nth-child(3n)) {margin-right:1.5rem}
.brd_sec_01 .list_wrap .list_item {width:100%; /*height:25rem; max-height:400px; */border-radius:1rem; overflow:hidden; background-color:#fff; position:relative}
/* .brd_sec_01 .list_wrap .thum_wrap {display:block; width:100%; height:70%; max-height:280px}
.brd_sec_01 .list_wrap .thum_wrap button {width:100%; height:100%; display:block; cursor:pointer}*/
.brd_sec_01 .list_wrap .thum_wrap {display:block; width:100%; height:0; padding-bottom:66%; position:relative}
.brd_sec_01 .list_wrap .thum_wrap button {width:100%; height:100%; display:block; cursor:pointer; position:absolute; top:0; left:0}
.brd_sec_01 .list_wrap .item_thum {display:block; width:100%; height:100%; background-size:cover; background-position:center; background-repeat:no-repeat}
.brd_sec_01 .list_wrap .text_wrap {padding:2rem 1.5rem; text-align:left}
.brd_sec_01 .list_wrap .item_title button {text-align:left; cursor:pointer; font-size:1.5rem; font-weight:700; line-height:100%; margin-bottom:1rem; text-overflow:ellipsis; white-space:nowrap; width:100%; height:1.5rem; overflow:hidden}
.brd_sec_01 .list_wrap .text_wrap .item_date {font-size:1rem; font-weight:500; line-height:100%; text-transform:uppercase; color:#9EA0A9}
.brd_sec_01 .list_wrap .item_tag {display:inline-flex; padding:0.5rem; align-items:center; gap:0.5rem; background-color:#32333A; color:#fff; position:absolute; bottom:0; transform:translateY(50%); left:1.5rem; font-size:1rem; font-weight:400; line-height:100%}
.brd_sec_01 .list_wrap .btn_more {display:block; border-radius: 100px; padding:1.75rem 6.75rem; position:relative; background-color:#32333A; color:#fff; margin:0 auto 2.5rem ; font-size:1.5rem; font-weight:700; cursor: pointer}
.brd_sec_01 .list_wrap .btn_more::after {content:''; display:inline-block; background:url(/public/test/images/common/ico_more.svg) center center /100% auto no-repeat; width:1rem; height:1rem; margin-left:1.25rem}


@media screen and (min-width:767.1px) and (max-width:1024px) {
  .brd_sec_01 .list_wrap ul li {width:calc((100% - 1.5rem)/2)}
  .brd_sec_01 .list_wrap ul li:not(:nth-child(3n)) {margin-right:0}
  .brd_sec_01 .list_wrap ul li:not(:nth-child(2n)) {margin-right:1.5rem}
  /* .brd_sec_01 .list_wrap .thum_wrap {padding-bottom:58%}*/
}
@media screen and (max-width:767px) {
  .brd_sec_01 {padding:4.66rem 0}
  .brd_sec_01 .sub_title {margin-bottom:2.66rem}
  .brd_sec_01 .list_wrap ul li {width:100%; margin-bottom:2rem}
  .brd_sec_01 .list_wrap ul li:last-child {margin-bottom:0}
  .brd_sec_01 .list_wrap ul li:not(:nth-child(2n)) {margin-right:0}
  /* .brd_sec_01 .list_wrap .thum_wrap {padding-bottom:45%}*/
  .brd_sec_01 .list_wrap .btn_more {border-radius: 8.33rem; padding:1.6rem 7rem; margin:2.66rem auto 0 }
}
/* --------------------------------brd_sec_01 end-------------------------------- */




/* --------------------------------popup-------------------------------- */
#popup_all .btn_close {position:absolute; right:0; top:-2rem; width:1.25rem; height:1.25rem; background:url(/public/test/images/common/ico_close.svg) no-repeat center/cover; cursor:pointer}

#popup_all .text_wrap {width:40%; /*height:100%; */padding:3rem 1.5rem; text-align:left}
#popup_all .item_title {text-align:left; cursor:pointer; font-size:1.5rem; font-weight:700; line-height:100%; margin:1rem 0; text-overflow:ellipsis; white-space:nowrap; width:100%; height:1.5rem; overflow:hidden}
#popup_all .item_date {font-size:1rem; font-weight:500; line-height:100%; text-transform:uppercase; color:#9EA0A9}
#popup_all .item_tag {display:inline-flex; padding:0.5rem; align-items:center; gap:0.5rem; background-color:#32333A; color:#fff; font-size:1rem; font-weight:400; line-height:100%}
#popup_all .item_desc {font-size:1rem; font-weight:400; line-height:180%; margin-top:2rem; white-space: pre-wrap}



/* popup type ::image */
#popup_all .popup_img .in_layer_box {width:90%; max-width:1096px; /*height:40rem; */}
#popup_all .popup_img .flex_box {display:flex; flex-direction:row; justify-content:space-between; align-items:flex-start; border-radius:1rem; overflow:hidden; width:100%; max-height:648px; /*height:100%; */height:0; padding-bottom:60%}
#popup_all .popup_img .img_wrap {width:59%; height:100%; height:0; padding-bottom:60%; position:relative; overflow:hidden; background-position:center; background-repeat:no-repeat; background-size:cover}

/* #popup_all .popup_img .img_wrap img {width:100%; height:auto; position:absolute; top:50%; right:50%; transform:translate(50%,-50%); }
 #popup_all .popup_img .img_wrap figure {display:block; width:100%; height:100%; background-size:cover; background-position:center; background-repeat:no-repeat}*/


/* popup type ::video */
#popup_all .popup_vid .in_layer_box {width:90%; max-width:1096px; /*height:0; padding-bottom:50.625%; */background-color:#000}/* 90% width 기준으로 50.625% */
#popup_all .popup_vid .video_wrap {width: 100%; height: 0; padding-bottom: 56.25%; position: relative}
#popup_all .popup_vid .video_wrap iframe {position:absolute; top:0; left:0; width:100%; height:100%; border-radius:1rem; overflow:hidden}


/* popup type ::card news */
#popup_all .popup_card .in_layer_box {width:90%; max-width:648px; /*height:300px; max-width:648px; height:59rem; max-height:824px*/}
#popup_all .popup_card .flex_box {display:flex; flex-direction:column; justify-content:space-between; align-items:flex-start; border-radius:1rem; overflow:hidden; width:100%; max-height:648px; /*height:100%; */}
#popup_all .popup_card .slide_wrap {width:100%; height:100%; 
position:relative; overflow:hidden; background-position:center; background-repeat:no-repeat; background-size:cover}
#popup_all .popup_card .slide_wrap {width:100%; /*height:70%*/}
#popup_all .popup_card .text_wrap {width:100%; padding:1.5rem}
/* #popup_all .popup_card .swiper-container {width:100%; height:0; padding-bottom:100%}*/
#popup_all .popup_card .swiper-container {width:100%; height:100%}
#popup_all .popup_card .swiper-slide {background-position:center center; background-repeat:no-repeat; background-size:cover; height:30rem; /*height:0; padding-bottom:100%*/}
/* #popup_all .popup_card .swiper-slide:not(:first-child),
#popup_all .popup_card .swiper-slide:not(:nth-child(2)) {transform:translateX(-1px)}*/
#popup_all .popup_card .swiper-slide.swiper-slide-active {z-index:4}
#popup_all .popup_card .swiper-pagination {position:absolute; bottom:2rem; left:0; z-index:5}
#popup_all .popup_card .swiper-pagination-bullet {background:#fff; opacity:.5}
#popup_all .popup_card .swiper-pagination-bullet-active {opacity:1}

@media screen and (max-width:767px) {
  #popup_all .popup_img .text_wrap,
  #popup_all .popup_card .text_wrap {width:100%; padding:1.33rem}
  #popup_all .popup_img .flex_box,  
  #popup_all .popup_card .flex_box {flex-direction:column; padding-bottom:unset; height:unset; max-height:unset}
  #popup_all .popup_img .text_wrap {overflow-y:auto; max-height:250px}
  #popup_all .popup_img .img_wrap {width:100%; padding-bottom:80%}
  #popup_all .popup_img .item_desc {margin-top:1.33rem}
  #popup_all .popup_card .in_layer_box {width:600px}
}
@media screen and (max-width:640px) {
  #popup_all .popup_img .text_wrap {max-height:200px}
   #popup_all .popup_card .in_layer_box {width:500px}
}

@media screen and (max-width:550px) {
  #popup_all .popup_img .text_wrap {max-height:180px}
  #popup_all .popup_card .in_layer_box {width:400px}
}

@media screen and (max-width:440px) {
  #popup_all .popup_card .in_layer_box {width:320px}
}
/* --------------------------------popup end-------------------------------- */
