@charset "UTF-8";
/* ko font */
@font-face {
    font-family: Pretendard;
    src: url(/public/test/font/pretendard/Pretendard-Thin.woff);
    font-weight: 100;
    unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}
@font-face {
    font-family: Pretendard;
    src: url(/public/test/font/pretendard/Pretendard-ExtraLight.woff);
    font-weight: 200;
    unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}
@font-face {
    font-family: Pretendard;
    src: url(/public/test/font/pretendard/Pretendard-Light.woff);
    font-weight: 300;
    unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}
@font-face {
    font-family: Pretendard;
    src: url(/public/test/font/pretendard/Pretendard-Regular.woff);
    font-weight: 400;
    unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}
@font-face {
    font-family: Pretendard;
    src: url(/public/test/font/pretendard/Pretendard-Medium.woff);
    font-weight: 500;
    unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}
@font-face {
    font-family: Pretendard;
    src: url(/public/test/font/pretendard/Pretendard-SemiBold.woff);
    font-weight: 600;
    unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}
@font-face {
    font-family: Pretendard;
    src: url(/public/test/font/pretendard/Pretendard-Bold.woff);
    font-weight: 700;
    unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}
@font-face {
    font-family: Pretendard;
    src: url(/public/test/font/pretendard/Pretendard-ExtraBold.woff);
    font-weight: 800;
    unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}
@font-face {
    font-family: Pretendard;
    src: url(/public/test/font/pretendard/Pretendard-Black.woff);
    font-weight: 900;
    unicode-range: U+AC00-D7A3, U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
}
/* en font */
@font-face {
    font-family: Outfit;
    src: url(/public/test/font/outfit/Outfit-Thin.ttf);
    font-weight: 100;
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;	
}
@font-face {
    font-family: Outfit;
    src: url(/public/test/font/outfit/Outfit-ExtraLight.ttf);
    font-weight: 200;
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
    font-family: Outfit;
    src: url(/public/test/font/outfit/Outfit-Light.ttf);
    font-weight: 300;
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
    font-family: Outfit;
    src: url(/public/test/font/outfit/Outfit-Regular.ttf);
    font-weight: 400;
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
    font-family: Outfit;
    src: url(/public/test/font/outfit/Outfit-Medium.ttf);
    font-weight: 500;
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
    font-family: Outfit;
    src: url(/public/test/font/outfit/Outfit-SemiBold.ttf);
    font-weight: 600;
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
    font-family: Outfit;
    src: url(/public/test/font/outfit/Outfit-Bold.ttf);
    font-weight: 700;
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;	
}
@font-face {
    font-family: Outfit;
    src: url(/public/test/font/outfit/Outfit-ExtraBold.ttf);
    font-weight: 800;
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;	
}
@font-face {
    font-family: Outfit;
    src: url(/public/test/font/outfit/Outfit-Black.ttf);
    font-weight: 900;
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}