<html lang="ko">
<head>
    <% include ../inc/head_script.ejs %>
    <link rel="stylesheet" href="/public/front/css/inquiry.css" />
</head>

<body>
<div id="wrapper">
    <div class="skip">
        <a href="#container">본문 바로가기</a>
    </div>
    <% include ../inc/headerPrev.ejs %>

    <div id="container">
        <section class="inquiry_sec_01" data-layout="list">
            <div class="inner">
                <ul class="list">
                    <!-- 새 문의 addClass : new -->
                    <li class="new">
                        <a href="">
                            <span class="progress">답변 대기 중</span>
                            <h3 class="list_cate">
                                메세지, 미션 참여
                            </h3>
                            <h2 class="list_title">
                                나의 참여이력은 어디서 확인하나요? 네???????? 나의 참여이력은 어디서 확인하나요? 나의 참여이력은 어디서 확인하나요? 나의 참여이력은 어디서 확인하나요? 나의 참여이력은 어디서 확인하나요? 나의 참여이력은 어디서 확인하나요? 나의 참여이력은 어디서 확인하나요?
                            </h2>
                            <p class="list_date"> 2024.04.01.</p>
                        </a>
                    </li>
                    <li class="new">
                        <a href="">
                            <span class="progress">답변 대기 중</span>
                            <h3 class="list_cate">
                                메세지, 미션 참여
                            </h3>
                            <h2 class="list_title">
                                나의 참여이력은 어디서 확인하나요? 네???????? 나의 참여이력은 어디서 확인하나요? 나의 참여이력은 어디서 확인하나요? 나의 참여이력은 어디서 확인하나요? 나의 참여이력은 어디서 확인하나요? 나의 참여이력은 어디서 확인하나요? 나의 참여이력은 어디서 확인하나요?
                            </h2>
                            <p class="list_date"> 2024.04.01.</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="progress done">답변 완료</span>
                            <h3 class="list_cate">
                                메세지, 미션 참여
                            </h3>
                            <h2 class="list_title">
                                나의 참여이력은 어디서 확인하나요?
                            </h2>
                            <p class="list_date"> 2024.04.01.</p>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div><!-- //container -->

    <% include ../inc/footer.ejs %>
    <% include ../inc/footerNav.ejs %>
</div>
</body>
</html>
