<html lang="ko">
<head>
    <% include ../inc/head_script.ejs %>
    <link rel="stylesheet" href="/public/front/css/inquiry.css" />
</head>

<body>
<div id="wrapper">
    <div class="skip">
        <a href="#container">본문 바로가기</a>
    </div>
    <% include ../inc/headerPrev.ejs %>

    <div id="container">
        <section class="inquiry_sec_01" data-layout="detail">
            <div class="inner">
                <ul class="que_ans_wrap">
                    <li class="que_box">
                        <div class="title_wrap">
                            <h3 class="cate">기부 캠페인</h3>
                            <h2 class="title">나의 참여이력은 어디서 확인하나요? 나의 참여이력은 어디서 확인하나요? 나의 참여이력은 어디서 확인하나요?예??????????????????????</h2>
                            <p class="date">2024.04.01.</p>
                        </div>
                        <div class="cont_wrap">
                            <img class="img" src="/public/front/images/main/main_vis_01.png" alt="">
                            <p class="text">
                                질문 상세 내용이 들어가는 영역입니다.
                                질문 상세 내용이 들어가는 영역입니다.
                                질문 상세 내용이 들어가는 영역입니다.
                                질문 상세 내용이 들어가는 영역입니다.
                                질문 상세 내용이 들어가는 영역입니다.
                                질문 상세 내용이 들어가는 영역입니다.
                            </p>
                        </div>
                    </li>
                    <li class="ans_box">
                        <h4 class="progress">답변 완료</h4>
                        <p class="text">
                            안녕하세요 알친님! 아래 이미지 참고하여 진행 부탁드립니다.
                            안녕하세요 알친님! 아래 이미지 참고하여 진행 부탁드립니다.
                            안녕하세요 알친님! 아래 이미지 참고하여 진행 부탁드립니다.
                            안녕하세요 알친님! 아래 이미지 참고하여 진행 부탁드립니다.
                        </p>
                        <img class="img" src="/public/front/images/main/title_heart.svg" alt="">
                        <p class="date">2024.04.01.</p>
                    </li>
                    <li class="que_box">
                        <div class="title_wrap">
                            <h3 class="cate">기부 캠페인</h3>
                            <h2 class="title">나의 참여이력은 어디서 확인하나요? 예??????????????????????</h2>
                            <p class="date">2024.04.01.</p>
                        </div>
                        <div class="cont_wrap">
                            <img class="img" src="/public/front/images/common/no_img_file.svg" alt="">
                            <p class="text">
                                질문 상세 내용이 들어가는 영역입니다.
                                질문 상세 내용이 들어가는 영역입니다.
                                질문 상세 내용이 들어가는 영역입니다.
                                질문 상세 내용이 들어가는 영역입니다.
                                질문 상세 내용이 들어가는 영역입니다.
                                질문 상세 내용이 들어가는 영역입니다.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="inquiry_sec_02" data-layout="detail">
            <div class="inner">
                <button type="button" class="btn_more_que">추가 질문하기</button>
                <div class="form_wrap">
                    <form action="">
                        <div class="cont_wrap">
                            <div class="title_wrap">
                                <h2 class="title">문의 내용 입력</h2>
                            </div>
                            <div class="input_wrap" data-layout="select">
                                <select name="filter" id="inquiryCate">
                                    <option value="" selected>문의 유형 선택</option>
                                    <option value="">이용 문의</option>
                                    <option value="">알리고에게 말해줘</option>
                                    <option value="">제휴 문의</option>
                                </select>
                                <div id="inquiryCateOption"></div>
                            </div>
                            <div class="input_wrap" data-layout="select">
                                <select name="filter" id="inquiryCateDetail">
                                    <option value="" selected>세부 유형 선택</option>
                                    <option value="">옵션</option>
                                </select>
                                <div id="inquiryCateDetailOption"></div>
                            </div>
                            <div class="input_wrap" data-layout="text">
                                <label class="blind">문의 제목</label>
                                <input type="text" placeholder="문의 제목 입력" />
                            </div>
                            <div class="input_wrap" data-layout="textarea">
                                <label class="blind">문의 내용</label>
                                <textarea name="" id="" maxlength="500" placeholder="문의 내용 입력 - 최대 500자"></textarea>
                            </div>
                        </div><!--//cont_wrap-->
                        <div class="cont_wrap">
                            <div class="title_wrap">
                                <h2 class="title">이미지 등록</h2>
                                <p class="desc">문의 내용 연관 이미지, 캡처 첨부 시 답변에 도움이 됩니다.</p>
                            </div>
                            <ul class="input_wrap" data-layout="img">
                                <li>
                                    <label for="img1" style="background-image: url(/public/front/images/main/main_vis_01.png)">
                                        <span class="blind">파일선택</span>
                                    </label>
                                    <input id="img1" type="file">
                                    <button class="btn_del" type="button">
                                        <span class="blind">삭제</span>
                                    </button>
                                </li>
                                <li>
                                    <label for="img2" style="background-image: url(/public/front/images/inquiry/no_img_file.svg)">
                                        <span class="blind">파일선택</span>
                                    </label>
                                    <input id="img2" type="file">
                                </li>
                            </ul>
                        </div><!--//cont_wrap-->
                        <div class="cont_wrap">
                            <ul class="desc" data-layout="info">
                                <li>
                                    <span></span>
                                    <p>고객센터 운영 시간 : 평일 10시 ~18시</p>
                                </li>
                                <li>
                                    <span></span>
                                    <p>산업안전보건법에 따라 모든 문의는 기록으로 남습니다.</p>
                                </li>
                            </ul>
                        </div><!--//cont_wrap-->
                        <div class="btn_wrap">
                            <button type="submit" class="btn_submit btn_type_01" data-color="red" data-ico="none">등록하기</button>
                        </div>
                    </form>
                </div><!--//form_wrap-->
            </div>
        </section>
    </div><!-- //container -->

    <% include ../inc/footer.ejs %>
    <% include ../inc/footerNav.ejs %>
</div>

<div id="popup_all">
    <!-- 문의 유형 선택 팝업 -->
    <div class="popup" id="pop_inquiry_cate">
        <div class="popup_inner" data-layout="alert">
            <div class="cont_wrap">
                <h3 class="title">
                    문의 유형을 선택해 주세요.
                </h3>
            </div>
            <div class="btn_wrap">
                <button class="btn_popup_close">확인</button>
            </div>
        </div>
    </div>
    <!--제목 입력 팝업-->
    <div class="popup" id="pop_inquiry_title">
        <div class="popup_inner" data-layout="alert">
            <div class="cont_wrap">
                <h3 class="title">
                    제목을 입력해 주세요.
                </h3>
            </div>
            <div class="btn_wrap">
                <button class="btn_popup_close">확인</button>
            </div>
        </div>
    </div>
    <!--문의 내용 입력 팝업-->
    <div class="popup" id="pop_inquiry_cont">
        <div class="popup_inner" data-layout="alert">
            <div class="cont_wrap">
                <h3 class="title">
                    문의 내용을 입력해 주세요.
                </h3>
            </div>
            <div class="btn_wrap">
                <button class="btn_popup_close">확인</button>
            </div>
        </div>
    </div>
    <!--개인정보 수집 팝업-->
    <div class="popup" id="pop_inquiry_agree">
        <div class="popup_inner" data-layout="alert">
            <div class="cont_wrap">
                <h3 class="title">
                    개인정보 수집 및 이용에 동의해 주세요.
                </h3>
            </div>
            <div class="btn_wrap">
                <button class="btn_popup_close">확인</button>
            </div>
        </div>
    </div>
    <!--문의등록 완료 팝업-->
    <div class="popup" id="pop_inquiry_done">
        <div class="popup_inner" data-layout="alert">
            <div class="cont_wrap">
                <h3 class="title">
                    1:1 문의 등록이 완료되었습니다. <br />
                    알지? 운영팀 확인 후 <br />
                    빠른 시일 내 답변드리겠습니다. <br />
                    감사합니다!
                </h3>
            </div>
            <div class="btn_wrap">
                <button class="btn_popup_close">확인</button>
            </div>
        </div>
    </div>
</div><!-- //popup_all -->

<script>
    $(function (){
        //-----faq list toggle-----
        let que = $('.btn_more_que');
        que.on('click',function(){
            $(this).hide();
            $(this).siblings(".form_wrap").show();
        });
    });
</script>
<script>
    //-----select ui-----
    $(document).ready(function () {
        $('#inquiryCate').selectmenu({
            appendTo: '#inquiryCateOption',
            position: {my : 'left top', at: 'left bottom+8'},
            width: '100%',
            select: function( event, ui ) {
                let optionIdxNum = ui.item.index;
                optionIdxNum =  optionIdxNum + 1
                $('#inquiryCate-menu li:nth-child(' + optionIdxNum + ')').addClass('active').siblings('li').removeClass('active');
            }
        });
        $("#inquiryCateDetail").selectmenu({
            appendTo: '#inquiryCateDetailOption',
            position: {my : 'left top', at: 'left bottom+8'},
            width: "100%",
            select: function( event, ui ) {
                let optionIdxNum = ui.item.index;
                optionIdxNum =  optionIdxNum + 1
                $('#inquiryCateDetail-menu li:nth-child(' + optionIdxNum + ')').addClass('active').siblings('li').removeClass('active');
            }
        });
    });
</script>
</body>
</html>
